<div class="tab details" data-group="primary" data-tab="details">

    <div style="background-color: var(--mainBackground); border-top: solid var(--accentBackground) 3px">
        <div class="flexrow flex-group-center listBackground" style="background-color: var(--pitchBorder); margin: 0;">

            <div class="wantToKnowMore" style="display: flex; align-items: center;">
                <img src="icons/svg/d10-grey.svg" class="icon-xsmall"/>
                <span class="tooltipText" style="font-size: 13px;">{{localize "ep2e.item.weapon.table.damageValue"}}</span>
                <input class="input-xs"type="number" name="system.dv.d10" value="{{item.system.dv.d10}}" placeholder="0"/>
                <img src="icons/svg/d6-grey.svg" class="icon-xsmall"/>
                <input class="input-xs"type="number" name="system.dv.d6" value="{{item.system.dv.d6}}" placeholder="0"/>
                <i class="fas fa-plus awesomeIcon"></i>
                <input class="input-xs"type="number" name="system.dv.bonus" value="{{item.system.dv.bonus}}" placeholder="0"/>
            </div> 
            <div class="flexrow alignCenter wantToKnowMore" style="margin-left: 10px;">
                <img src="systems/eclipsephase/resources/icons/firingmode.webp" class="icon-small icon-space"/>
                <span class="tooltipText" style="font-size: 13px;">{{localize "ep2e.item.weapon.table.firingMode.label"}}</span>
                <select class="input-large" name="system.armorused" data-type="String">
                    {{#select item.system.armorused}}
                    {{#each config.grenadeArmorVector as |name key|}}
                    <option value="{{key}}">{{localize name}}</option>
                    {{/each}} {{/select}}
                </select>                         
            </div>
            <div class="flexrow alignRight wantToKnowMore" style="margin-left: 20px;">
                <i class="fa-regular fa-arrows-left-right awesomeIcon" style="font-size: 18px; max-width: 55px; flex: 0; margin-right: 5px;"></i>
                <span class="tooltipText" style="font-size: 13px;">{{localize "ep2e.item.weapon.table.range"}}</span>
                <input class="alignCenter" type="text" name="system.areaeffect" value="{{item.system.areaeffect}}" placeholder="e.g. Unifrom (50m)"/>
            </div>
            <div class="flexrow flex-group-center wantToKnowMore" style="max-width: 75px;">
                <img src="systems/eclipsephase/resources/icons/ammo.png" class="icon-small icon-space"/>
                <span class="tooltipText" style="font-size: 13px;">{{localize "ep2e.item.weapon.table.maxAmmo"}}</span>
                <input class="alignCenter input-xs" type="number" name="system.quantity" value="{{item.system.quantity}}" placeholder="e.g. 12"/>
            </div>
            <div class="wantToKnowMore flexrow alignRight" style="max-width: 130px;">
                <i class="fa-regular fa-coins awesomeIcon icon-small alignCenter" style="font-size: 18px;"></i>
                <span class="tooltipText" style="font-size: 13px;">{{localize "ep2e.item.general.table.cost.label"}}</span>
                <select name="system.cost" data-type="String">
                    {{#select item.system.cost}}
                    {{#each config.costTypes as |name key|}}
                    <option value="{{key}}">{{localize name}}</option>
                    {{/each}} {{/select}}
                </select>
            </div>

        </div>
    </div>
</div>