<!-- Traits -->
<div class="flexrow item" style="padding: 10px 0;">
    <div style="padding: 10px; background-color: var(--pitchBorder); max-width: fit-content;">
        <a class="resource-label slideShow"><i class="fas fa-plus awesomeIcon item-standard-margin-medium"></i>{{localize "ep2e.item.weapon.table.addTrait"}}</a>
    </div>
    <div class="flexrow noShow traitsDroplist">
        {{#if (eq itemType "grenade")}}
        <div class="grid grid-4col">
        {{else}}
        <div class="grid grid-3col">
        {{/if}}
            {{#each item.system.traits as |item key|}}
                {{#if (eq item.value false)}}
                    <div style="padding: 0 10px;">
                        <p><a class="toggleItem" style="min-width: 100%;" data-path="system.traits.{{key}}.value">{{localize item.name}}</a></p>
                    </div>
                {{else}}
                    <div style="padding: 0 10px;">
                        <p><a class="toggleItem" style="min-width: 100%; color: var(--inactive);" data-path="system.traits.{{key}}.value"><s>{{localize item.name}}</s></a></p>
                    </div>
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>
<div class="flexrow">
    {{#each item.system.traits as |item key|}}
        {{#if (eq item.value true)}}
            {{#if (eq key "dvOnMiss")}}
            <div class="extendedPillgrid">
                <a class="icon-space"><i class="far fa-times-circle awesomeIcon toggleItem"  data-path="system.traits.{{key}}.value"></i></a>
                <a class="moreInfoDialog icon-space" data-description="ep2e.rule.weapon.effect.{{key}}" data-title="{{item.name}}" data-rolledfrom="info">
                    <span for="moreInfo" style="background-color: var(--pitchBorder); min-width: fit-content; padding: 0 5px 0px 10px; border-left: 2px solid var(--accentBackground);">{{localize item.name}}</span>
                </a>
                <div class="wantToKnowMore" style="display: flex; align-items: center;">
                    <img src="icons/svg/d10-grey.svg" class="icon-xsmall"/>
                    <span class="tooltipText" style="font-size: 13px;">{{localize "ep2e.item.weapon.table.damageValue"}}</span>
                    <input class="input-xs"type="number" name="system.traits.{{key}}.dv.d10" value="{{item.dv.d10}}" placeholder="0"/>
                    <img src="icons/svg/d6-grey.svg" class="icon-xsmall"/>
                    <input class="input-xs"type="number" name="system.traits.{{key}}.dv.d6" value="{{item.dv.d6}}" placeholder="0"/>
                    <i class="fas fa-plus awesomeIcon"></i>
                    <input class="input-xs"type="number" name="system.traits.{{key}}.dv.bonus" value="{{item.dv.bonus}}" placeholder="0"/>
                </div>
                <a class="moreInfoDialog" data-description="ep2e.rule.weapon.effect.{{key}}" data-title="{{item.name}}" data-rolledfrom="info">
                    <i class="fa-regular fa-circle-info" id="moreInfo"></i>
                </a>
            </div>
            {{else if (eq key "indirectOrBonus")}}
            <div class="extendedPillgrid">
                <a class="icon-space"><i class="far fa-times-circle awesomeIcon toggleItem"  data-path="system.traits.{{key}}.value"></i></a>
                <a class="moreInfoDialog icon-space" data-description="ep2e.rule.weapon.effect.{{key}}" data-title="{{item.name}}" data-rolledfrom="info">
                    <span for="moreInfo" style="background-color: var(--pitchBorder); min-width: fit-content; padding: 0 5px 0px 10px; border-left: 2px solid var(--accentBackground);">{{localize item.name}}</span>
                </a>
                <div class="wantToKnowMore" style="display: flex; align-items: center;">
                    <img src="systems/eclipsephase/resources/icons/246_skill%20gun%20accuracy.png" class="icon-small"/>
                    <span class="tooltipText" style="font-size: 13px;">{{localize "ep2e.skills.vigorSkills.guns"}} {{localize "ep2e.skills.skillMod"}}</span>
                    +<input class="input-xs"type="number" name="system.traits.{{key}}.skillMod" value="{{item.skillMod}}" placeholder="0"/>
                </div>
                <a class="moreInfoDialog" data-description="ep2e.rule.weapon.effect.{{key}}" data-title="{{item.name}}" data-rolledfrom="info">
                    <i class="fa-regular fa-circle-info" id="moreInfo"></i>
                </a>
            </div>
            {{else if (eq key "knockdown")}}
            <div class="extendedPillgrid">
                <a class="icon-space"><i class="far fa-times-circle awesomeIcon toggleItem"  data-path="system.traits.{{key}}.value"></i></a>
                <a class="moreInfoDialog icon-space" data-description="ep2e.rule.weapon.effect.{{key}}" data-title="{{item.name}}" data-rolledfrom="info">
                    <span for="moreInfo" style="background-color: var(--pitchBorder); min-width: fit-content; padding: 0 5px 0px 10px; border-left: 2px solid var(--accentBackground);">{{localize item.name}}</span>
                </a>
                <div class="wantToKnowMore" style="display: flex; align-items: center;">
                    <img src="systems/eclipsephase/resources/icons/radius.webp" class="icon-xsmall icon-space"/>
                    <span class="tooltipText" style="font-size: 13px;">{{localize "ep2e.item.weapon.table.radius"}}</span>
                    <input class="input-xs alignCenter" type="text" name="system.traits.{{key}}.radius" value="{{item.radius}}" placeholder="0m" style="margin-right: 5px"/>
                </div>
                <a class="moreInfoDialog" data-description="ep2e.rule.weapon.effect.{{key}}" data-title="{{item.name}}" data-rolledfrom="info">
                    <i class="fa-regular fa-circle-info" id="moreInfo"></i>
                </a>
            </div>
            {{else}}
            <div class="extendedPillgrid">
                <a class="icon-space"><i class="far fa-times-circle awesomeIcon toggleItem"  data-path="system.traits.{{key}}.value"></i></a>
                <a class="moreInfoDialog icon-space" data-description="ep2e.rule.weapon.effect.{{key}}" data-title="{{item.name}}" data-rolledfrom="info">
                    <span for="moreInfo" style="background-color: var(--pitchBorder); min-width: fit-content; padding: 0 5px 0px 10px; border-left: 2px solid var(--accentBackground);">{{localize item.name}}</span>
                    <i class="fa-regular fa-circle-info" id="moreInfo"></i>
                </a>
            </div>
            {{/if}}
        {{/if}}
    {{/each}}
</div>