<!-- Details Tab / Weapon Mode 1 Tab -->
<div class="tab details" data-group="primary" data-tab="details" style="padding: none;">
    <div class="item contentBox" data-item-id="{{item._id}}" data-item-name="{{item.name}}" style="padding-bottom: 5px;">
        <div class="flexrow">
            <h3 class="subheader dialog">
                {{#if (eq item.system.additionalMode true)}}
                    <label class="item-standard-margin-medium" style="min-width: fit-content;">{{localize "ep2e.item.weapon.table.weaponMode"}}:</label>
                    <input class="alignLeft input-XXL" type="text" name="system.mode1.name" value="{{item.system.mode1.name}}" placeholder="{{localize 'ep2e.item.general.tabs.weaponMode1'}}"/>
                {{/if}}
            </h3>
            <div class="alignRight flexGrowHalf">
                {{#if (eq type "ranged")}}
                <div class="flexrow alignCenter wantToKnowMore" style="margin-right: 10px;">
                    <img src="systems/eclipsephase/resources/icons/ammo.png" class="icon-small icon-space"/>
                    <span class="tooltipText" style="font-size: 13px;">{{localize "ep2e.item.weapon.table.maxAmmo"}}</span>
                    <input class="alignLeft" style="max-width: 75px;" type="number" name="system.ammoMax" value="{{item.system.ammoMax}}" placeholder="e.g. 12"/>
                </div>
                <div class="wantToKnowMore flexrow alignCenter">
                    <i class="fa-regular fa-tags awesomeIcon icon-small" style="max-width: fit-content;"></i>
                    <label class="tooltipText">{{localize "ep2e.item.weapon.table.type.label"}}</label>
                    <select name="system.ammoType" data-type="String" style="max-width: 150px; min-width: 100px;">
                        {{#select item.system.ammoType}}
                        {{#each config.rangedAmmoType as |name key|}}
                        <option value="{{key}}">{{localize name}}</option>
                        {{/each}} {{/select}}
                    </select>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
    
    <div style="background-color: var(--mainBackground); border-top: solid var(--accentBackground) 3px">
        {{#if (eq type "ranged")}}
        <div class="flexrow flex-group-center listBackground grid grid-5col" style="background-color: var(--pitchBorder); margin: 0;">
        {{else}}
        <div class="flexrow flex-group-center listBackground grid grid-3col" style="background-color: var(--pitchBorder); margin: 0;">
        {{/if}}
        
        {{#if (eq type "ranged")}}
            <div class="flexrow alignCenter wantToKnowMore">
                <img src="systems/eclipsephase/resources/icons/firingmode.webp" class="icon-small icon-space"/>
                <span class="tooltipText" style="font-size: 13px;">{{localize "ep2e.item.weapon.table.firingMode.label"}}</span>
                <select class="input-large" name="system.mode1.firingMode" data-type="String">
                    {{#select item.system.mode1.firingMode}}
                    {{#each config.firingModes as |name key|}}
                    <option value="{{key}}">{{localize name}}</option>
                    {{/each}} {{/select}}
                </select>                         
            </div>
            <div class="flexrow alignCenter wantToKnowMore">
                <i class="fa-regular fa-arrows-left-right awesomeIcon" style="font-size: 18px; max-width: 55px; flex: 0; margin-right: 5px;"></i>
                <span class="tooltipText" style="font-size: 13px;">{{localize "ep2e.item.weapon.table.range"}}</span>
                <input class="input-large" type="text" name="system.mode1.range" value="{{item.system.mode1.range}}" placeholder="e.g. 120m"/>  
            </div>
        {{/if}}
            <div class="wantToKnowMore" style="display: flex; align-items: center;">
                <img src="icons/svg/d10-grey.svg" class="icon-xsmall"/>
                <span class="tooltipText" style="font-size: 13px;">{{localize "ep2e.item.weapon.table.damageValue"}}</span>
                <input class="input-xs"type="number" name="system.mode1.d10" value="{{item.system.mode1.d10}}" placeholder="0"/>
                <img src="icons/svg/d6-grey.svg" class="icon-xsmall"/>
                <input class="input-xs"type="number" name="system.mode1.d6" value="{{item.system.mode1.d6}}" placeholder="0"/>
                <i class="fas fa-plus awesomeIcon"></i>
                <input class="input-xs"type="number" name="system.mode1.bonus" value="{{item.system.mode1.bonus}}" placeholder="0"/>
            </div>
            <div class="wantToKnowMore flexrow alignCenter">
                <i class="fa-regular fa-coins awesomeIcon" style="font-size: 18px;"></i>
                <span class="tooltipText" style="font-size: 13px;">{{localize "ep2e.item.general.table.cost.label"}}</span>
                <select name="system.cost" data-type="String">
                    {{#select item.system.cost}}
                    {{#each config.costTypes as |name key|}}
                    <option value="{{key}}">{{localize name}}</option>
                    {{/each}} {{/select}}
                </select>
            </div>
            <div class="wantToKnowMore flexrow alignCenter">
                <i class="fa-regular fa-ruler awesomeIcon" style="font-size: 18px;"></i>
                <span class="tooltipText" style="font-size: 13px;">{{localize "ep2e.item.weapon.table.slot.label"}}</span>
                <select name="system.slotType" data-type="String" style="max-width: 110px;">
                    {{#select item.system.slotType}}
                    {{#each config.weaponTypes as |name key|}}
                    <option value="{{key}}">{{localize name}}</option>
                    {{/each}} {{/select}}
                </select>
            </div>
        </div>
    </div>
    <!-- Traits -->
    <div class="flexrow item" style="padding: 10px 0;">
        <div style="padding: 10px; background-color: var(--pitchBorder); max-width: fit-content;">
            <a class="resource-label slideShow"><i class="fas fa-plus awesomeIcon item-standard-margin-medium"></i>{{localize "ep2e.item.weapon.table.addTrait"}}</a>
        </div>
        <div class="flexrow noShow" style="background-color: var(--pitchBorder); padding: 0 10px; position: absolute; top: 255px; left: 13px">
            <div class="grid grid-5col">
                {{#each item.system.mode1.traits as |item key|}}
                    {{#if (eq item.value false)}}
                        <div style="padding: 0 10px;">
                            <p><a class="toggleItem" style="min-width: 100%;" data-path="system.mode1.traits.{{key}}.value">{{localize item.name}}</a></p>
                        </div>
                    {{else}}
                        <div style="padding: 0 10px;">
                            <p><a class="toggleItem" style="min-width: 100%; color: var(--inactive);" data-path="system.mode1.traits.{{key}}.value"><s>{{localize item.name}}</s></a></p>
                        </div>
                    {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
    <div class="flexrow">
        {{#each item.system.mode1.traits as |item key|}}
            {{#if (eq item.value true)}}
                {{#if (eq key "reach")}}
                <div class="extendedPillgrid">
                    <a class="icon-space"><i class="far fa-times-circle awesomeIcon toggleItem"  data-path="system.mode1.traits.{{key}}.value"></i></a>
                    <a class="moreInfoDialog icon-space" data-description="ep2e.rule.weapon.effect.{{key}}" data-title="{{item.name}}" data-rolledfrom="info">
                        <span for="moreInfo" style="background-color: var(--pitchBorder); min-width: fit-content; padding: 0 5px 0px 10px; border-left: 2px solid var(--accentBackground);">{{localize item.name}}</span>
                    </a>
                    <div class="wantToKnowMore" style="display: flex; align-items: center;">
                        <span class="tooltipText" style="font-size: 13px;">{{localize "ep2e.skills.vigorSkills.melee"}} {{localize "ep2e.skills.skillMod"}}</span>
                        <select class="input-large" name="system.mode1.traits.reach.skillMod" style="max-width: 160px">
                            {{#select item.skillMod}}
                            <option value="10">+ 10</option>
                            <option value="20">+ 20</option>
                            <option value="30">+ 30</option>
                            {{/select}}
                        </select>
                    </div>
                    <a class="moreInfoDialog" data-description="ep2e.rule.weapon.effect.{{key}}" data-title="{{item.name}}" data-rolledfrom="info">
                        <i class="fa-regular fa-circle-info" id="moreInfo"></i>
                    </a>
                </div>
                {{else if (eq key "multiShot")}}
                <div class="extendedPillgrid">
                    <a class="icon-space"><i class="far fa-times-circle awesomeIcon toggleItem"  data-path="system.mode1.traits.{{key}}.value"></i></a>
                    <a class="moreInfoDialog icon-space" data-description="ep2e.rule.weapon.effect.{{key}}" data-title="{{item.name}}" data-rolledfrom="info">
                        <span for="moreInfo" style="background-color: var(--pitchBorder); min-width: fit-content; padding: 0 5px 0px 10px; border-left: 2px solid var(--accentBackground);">{{localize item.name}}</span>
                    </a>
                    <div class="wantToKnowMore" style="display: flex; align-items: center;">
                        <img src="systems/eclipsephase/resources/icons/246_skill%20gun%20accuracy.png" class="icon-small"/>
                        <span class="tooltipText" style="font-size: 13px;">{{localize "ep2e.skills.vigorSkills.guns"}}</span>
                        <input class="input-xs"type="number" name="system.mode1.traits.{{key}}.number" value="{{item.number}}" placeholder="0"/>
                    </div>
                    <a class="moreInfoDialog" data-description="ep2e.rule.weapon.effect.{{key}}" data-title="{{item.name}}" data-rolledfrom="info">
                        <i class="fa-regular fa-circle-info" id="moreInfo"></i>
                    </a>
                </div>
                {{else}}
                <div class="extendedPillgrid">
                    <a class="icon-space"><i class="far fa-times-circle awesomeIcon toggleItem"  data-path="system.mode1.traits.{{key}}.value"></i></a>
                    <a class="moreInfoDialog" data-description="ep2e.rule.weapon.effect.{{key}}" data-title="{{item.name}}" data-rolledfrom="info">
                        <span for="moreInfo" style="background-color: var(--pitchBorder); min-width: fit-content; padding: 0 5px 0px 10px; border-left: 2px solid var(--accentBackground);">{{localize item.name}}</span>
                        <i class="fa-regular fa-circle-info" id="moreInfo"></i>
                    </a>
                </div>
                {{/if}}
            {{/if}}
        {{/each}}
    </div>
    
    <!-- Accessoires -->
    <div class="flexrow item" style="padding: 10px 0;">
        <div style="padding: 10px; background-color: var(--pitchBorder); max-width: fit-content;">
            <a class="resource-label slideShow"><i class="fas fa-plus awesomeIcon item-standard-margin-medium"></i>{{localize "ep2e.item.weapon.table.addAccessory"}}</a>
        </div>
        {{#if (eq type "ranged")}}
        <div class="flexrow noShow" style="background-color: var(--pitchBorder); padding: 0 10px; position: absolute; margin-top: -139px; left: 13px">
        {{else}}
        <div class="flexrow noShow" style="background-color: var(--pitchBorder); padding: 0 10px; position: absolute; margin-top: -48px; left: 13px">
        {{/if}}
            <div class="grid grid-5col">
                {{#each item.system.accessories as |item key|}}
                    {{#if (eq item.value false)}}
                        <div style="padding: 0 10px;">
                            <p><a class="toggleItem" style="min-width: 100%;" data-path="system.accessories.{{key}}.value">{{localize item.name}}</a></p>
                        </div>
                    {{else}}
                        <div style="padding: 0 10px;">
                            <p><a class="toggleItem" style="min-width: 100%; color: var(--inactive);" data-path="system.accessories.{{key}}.value"><s>{{localize item.name}}</s></a></p>
                        </div>
                    {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
    <div class="flexrow">
        {{#each item.system.accessories as |item key|}}
            {{#if (eq item.value true)}}
                <div class="extendedPillgrid">
                    <a class="icon-space"><i class="far fa-times-circle awesomeIcon toggleItem"  data-path="system.accessories.{{key}}.value"></i></a>
                    <a class="moreInfoDialog" data-description="ep2e.rule.weapon.effect.{{key}}" data-title="{{item.name}}" data-rolledfrom="info">
                        <span for="moreInfo" style="background-color: var(--pitchBorder); min-width: fit-content; padding: 0 5px 0px 10px; border-left: 2px solid var(--accentBackground);">{{localize item.name}}</span>
                        <i class="fa-regular fa-circle-info" id="moreInfo"></i>
                    </a>
                </div>
            {{/if}}
        {{/each}}
    </div>
</div>

<!-- Details Tab / Weapon Mode 2 Tab -->
<div class="tab details2" data-group="primary" data-tab="details2" style="padding: none;">
    <div class="item contentBox" data-item-id="{{item._id}}" data-item-name="{{item.name}}" style="padding-bottom: 5px;">
        <div class="flexrow">
            <h3 class="subheader dialog">
                {{#if (eq item.system.additionalMode true)}}
                    <label class="item-standard-margin-medium" style="min-width: fit-content;">{{localize "ep2e.item.weapon.table.weaponMode"}}:</label>
                    <input class="alignLeft input-XXL" type="text" name="system.mode2.name" value="{{item.system.mode2.name}}" placeholder="{{localize 'ep2e.item.general.tabs.weaponMode2'}}"/>
                {{/if}}
            </h3>
            <div class="alignRight flexGrowHalf" style="color: var(--inactive);">
                {{#if (eq type "ranged")}}
                <div class="wantToKnowMore" style="display: flex; align-items: center; text-align: left; margin-right: 10px;">
                    <img src="systems/eclipsephase/resources/icons/ammo.png" class="icon-small icon-space"/>
                    <span class="tooltipText" style="font-size: 13px;">{{localize "ep2e.item.weapon.table.boundTo"}}</span>
                    <span class="capital" style="font-size: 13px; min-width: 75px; max-width: 75px; padding-left: 5px;">{{item.system.ammoMax}}</span>
                </div>
                <div class="wantToKnowMore" style="display: flex; align-items: center; text-align: left;">
                    <i class="fa-regular fa-tags awesomeIcon icon-small" style="max-width: fit-content;"></i>
                    <label class="tooltipText">{{localize "ep2e.item.weapon.table.boundTo"}}</label>
                    <span class="capital" style="font-size: 13px; min-width: 100px;  max-width: 100px; padding-left: 9px;">{{localize item.system.ammoName}}</span>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
    
    <div style="background-color: var(--mainBackground); border-top: solid var(--accentBackground) 3px">
        {{#if (eq type "ranged")}}
        <div class="flexrow flex-group-center listBackground grid grid-5col" style="background-color: var(--pitchBorder); margin: 0;">
        {{else}}
        <div class="flexrow flex-group-center listBackground grid grid-3col" style="background-color: var(--pitchBorder); margin: 0;">
        {{/if}}
        
        {{#if (eq type "ranged")}}
            <div class="flexrow alignCenter wantToKnowMore">
                <img src="systems/eclipsephase/resources/icons/firingmode.webp" class="icon-small icon-space"/>
                <span class="tooltipText" style="font-size: 13px;">{{localize "ep2e.item.weapon.table.firingMode.label"}}</span>
                <select class="input-large" name="system.mode2.firingMode" data-type="String">
                    {{#select item.system.mode2.firingMode}}
                    {{#each config.firingModes as |name key|}}
                    <option value="{{key}}">{{localize name}}</option>
                    {{/each}} {{/select}}
                </select>                         
            </div>
            <div class="flexrow alignCenter wantToKnowMore">
                <i class="fa-regular fa-arrows-left-right awesomeIcon" style="font-size: 18px; max-width: 55px; flex: 0; margin-right: 5px;"></i>
                <span class="tooltipText" style="font-size: 13px;">{{localize "ep2e.item.weapon.table.range"}}</span>
                <input class="input-large" type="text" name="system.mode2.range" value="{{item.system.mode2.range}}" placeholder="e.g. 120m"/>  
            </div>
        {{/if}}
            <div class="wantToKnowMore" style="display: flex; align-items: center;">
                <img src="icons/svg/d10-grey.svg" class="icon-xsmall"/>
                <span class="tooltipText" style="font-size: 13px;">{{localize "ep2e.item.weapon.table.damageValue"}}</span>
                <input class="input-xs"type="number" name="system.mode2.d10" value="{{item.system.mode2.d10}}" placeholder="0"/>
                <img src="icons/svg/d6-grey.svg" class="icon-xsmall"/>
                <input class="input-xs"type="number" name="system.mode2.d6" value="{{item.system.mode2.d6}}" placeholder="0"/>
                <i class="fas fa-plus awesomeIcon"></i>
                <input class="input-xs"type="number" name="system.mode2.bonus" value="{{item.system.mode2.bonus}}" placeholder="0"/>
            </div>
            <div class="wantToKnowMore flexrow alignCenter" style="color: var(--inactive); min-height: 22,5;">
                <i class="fa-regular fa-coins awesomeIcon" style="font-size: 18px;"></i>
                <span class="tooltipText" style="font-size: 13px;">{{localize "ep2e.item.weapon.table.boundTo"}}</span>
                <label class="capital" style="font-size: 13px; margin-left:9px">{{localize item.system.costName}}</label>
            </div>
            <div class="wantToKnowMore flexrow alignCenter" style="color: var(--inactive); min-height: 22,5;">
                <i class="fa-regular fa-ruler awesomeIcon" style="font-size: 18px;"></i>
                <span class="tooltipText" style="font-size: 13px;">{{localize "ep2e.item.weapon.table.boundTo"}}</span>
                <label class="capital" style="font-size: 13px; margin-left:9px">{{localize item.system.slotName}}</label>
            </div>
        </div>
    </div>

    <!-- Traits -->
    <div class="flexrow item" style="padding: 10px 0;">
        <div style="padding: 10px; background-color: var(--pitchBorder); max-width: fit-content;">
            <a class="resource-label slideShow"><i class="fas fa-plus awesomeIcon item-standard-margin-medium"></i>{{localize "ep2e.item.weapon.table.addTrait"}}</a>
        </div>
        <div class="flexrow noShow" style="background-color: var(--pitchBorder); padding: 0 10px; position: absolute; top: 255px; left: 13px">
            <div class="grid grid-5col">
                {{#each item.system.mode2.traits as |item key|}}
                    {{#if (eq item.value false)}}
                        <div style="padding: 0 10px;">
                            <p><a class="toggleItem" style="min-width: 100%;" data-path="system.mode2.traits.{{key}}.value">{{localize item.name}}</a></p>
                        </div>
                    {{else}}
                        <div style="padding: 0 10px;">
                            <p><a class="toggleItem" style="min-width: 100%; color: var(--inactive);" data-path="system.mode2.traits.{{key}}.value"><s>{{localize item.name}}</s></a></p>
                        </div>
                    {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
    <div class="flexrow">
        {{#each item.system.mode2.traits as |item key|}}
            {{#if (eq item.value true)}}
                {{#if (eq key "reach")}}
                <div class="extendedPillgrid">
                    <a class="icon-space"><i class="far fa-times-circle awesomeIcon toggleItem"  data-path="system.mode2.traits.{{key}}.value"></i></a>
                    <a class="moreInfoDialog icon-space" data-description="ep2e.rule.weapon.effect.{{key}}" data-title="{{item.name}}" data-rolledfrom="info">
                        <span for="moreInfo" style="background-color: var(--pitchBorder); min-width: fit-content; padding: 0 5px 0px 10px; border-left: 2px solid var(--accentBackground);">{{localize item.name}}</span>
                    </a>
                    <div class="wantToKnowMore" style="display: flex; align-items: center;">
                        <span class="tooltipText" style="font-size: 13px;">{{localize "ep2e.skills.vigorSkills.melee"}} {{localize "ep2e.skills.skillMod"}}</span>
                        <select class="input-large" name="system.mode2.traits.reach.skillMod" style="max-width: 160px">
                            {{#select item.skillMod}}
                            <option value="10">+ 10</option>
                            <option value="20">+ 20</option>
                            <option value="30">+ 30</option>
                            {{/select}}
                        </select>
                    </div>
                    <a class="moreInfoDialog" data-description="ep2e.rule.weapon.effect.{{key}}" data-title="{{item.name}}" data-rolledfrom="info">
                        <i class="fa-regular fa-circle-info" id="moreInfo"></i>
                    </a>
                </div>
                {{else if (eq key "multiShot")}}
                <div class="extendedPillgrid">
                    <a class="icon-space"><i class="far fa-times-circle awesomeIcon toggleItem"  data-path="system.mode2.traits.{{key}}.value"></i></a>
                    <a class="moreInfoDialog icon-space" data-description="ep2e.rule.weapon.effect.{{key}}" data-title="{{item.name}}" data-rolledfrom="info">
                        <span for="moreInfo" style="background-color: var(--pitchBorder); min-width: fit-content; padding: 0 5px 0px 10px; border-left: 2px solid var(--accentBackground);">{{localize item.name}}</span>
                    </a>
                    <div class="wantToKnowMore" style="display: flex; align-items: center;">
                        <img src="systems/eclipsephase/resources/icons/246_skill%20gun%20accuracy.png" class="icon-small"/>
                        <span class="tooltipText" style="font-size: 13px;">{{localize "ep2e.skills.vigorSkills.guns"}}</span>
                        <input class="input-xs"type="number" name="system.mode2.traits.{{key}}.number" value="{{item.number}}" placeholder="0"/>
                    </div>
                    <a class="moreInfoDialog" data-description="ep2e.rule.weapon.effect.{{key}}" data-title="{{item.name}}" data-rolledfrom="info">
                        <i class="fa-regular fa-circle-info" id="moreInfo"></i>
                    </a>
                </div>
                {{else}}
                <div class="extendedPillgrid">
                    <a class="icon-space"><i class="far fa-times-circle awesomeIcon toggleItem"  data-path="system.mode2.traits.{{key}}.value"></i></a>
                    <a class="moreInfoDialog" data-description="ep2e.rule.weapon.effect.{{key}}" data-title="{{item.name}}" data-rolledfrom="info">
                        <span for="moreInfo" style="background-color: var(--pitchBorder); min-width: fit-content; padding: 0 5px 0px 10px; border-left: 2px solid var(--accentBackground);">{{localize item.name}}</span>
                        <i class="fa-regular fa-circle-info" id="moreInfo"></i>
                    </a>
                </div>
                {{/if}}
            {{/if}}
        {{/each}}
    </div>
    
    <!-- Accessoires -->
    <div class="flexrow item" style="padding: 10px 0;">
        <div style="padding: 10px; background-color: var(--pitchBorder); max-width: fit-content;">
            <a class="resource-label slideShow"><i class="fas fa-plus awesomeIcon item-standard-margin-medium"></i>{{localize "ep2e.item.weapon.table.addAccessory"}}</a>
        </div>
        {{#if (eq type "ranged")}}
        <div class="flexrow noShow" style="background-color: var(--pitchBorder); padding: 0 10px; position: absolute; margin-top: -139px; left: 13px">
        {{else}}
        <div class="flexrow noShow" style="background-color: var(--pitchBorder); padding: 0 10px; position: absolute; margin-top: -48px; left: 13px">
        {{/if}}
            <div class="grid grid-5col">
                {{#each item.system.accessories as |item key|}}
                    {{#if (eq item.value false)}}
                        <div style="padding: 0 10px;">
                            <p><a class="toggleItem" style="min-width: 100%;" data-path="system.accessories.{{key}}.value">{{localize item.name}}</a></p>
                        </div>
                    {{else}}
                        <div style="padding: 0 10px;">
                            <p><a class="toggleItem" style="min-width: 100%; color: var(--inactive);" data-path="system.accessories.{{key}}.value"><s>{{localize item.name}}</s></a></p>
                        </div>
                    {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
    <div class="flexrow">
        {{#each item.system.accessories as |item key|}}
            {{#if (eq item.value true)}}
                <div class="extendedPillgrid">
                    <a class="icon-space"><i class="far fa-times-circle awesomeIcon toggleItem"  data-path="system.accessories.{{key}}.value"></i></a>
                    <a class="moreInfoDialog" data-description="ep2e.rule.weapon.effect.{{key}}" data-title="{{item.name}}" data-rolledfrom="info">
                        <span for="moreInfo" style="background-color: var(--pitchBorder); min-width: fit-content; padding: 0 5px 0px 10px; border-left: 2px solid var(--accentBackground);">{{localize item.name}}</span>
                        <i class="fa-regular fa-circle-info" id="moreInfo"></i>
                    </a>
                </div>
            {{/if}}
        {{/each}}
    </div>
</div>

</div>