<header class="sheet-header" style="align-items: normal;">

    {{!-- Character Picture --}}
    <div class="headroom">
        <div class="centerBackground" style="position: absolute; clip-path: polygon(0 25%, 85% 25%, 100% 70%, 0% 70%); width: 110px; height: 55px; padding-left: 0.5em; top: -37px;">
            <img class="logo-img" src="systems/eclipsephase/resources/img/logo.png" title="ep2e logo"/>
        </div>
        <div>
            <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}"/>
        </div>
        <div class="centerBackground" style="position: absolute; clip-path: polygon(0 20%, 90% 20%, 100% 100%, 0% 100%); bottom: 22px; padding-bottom: 0">
            <input name="name" type="text" value="{{data.name}}" placeholder="Name" style="width: auto; font-size: 18px; max-width: 190px; text-shadow: 0 0 5px #161616"/>
        </div>
    </div>

    {{!-- Character Header Stats --}}
    <div class="header-fields">
    <div class="grid grid-2col noMargin">
      <div class="contentBox">
          <div class="flexrow">
              <h3 class="subheader">Physical</h3>
              <div class="flexGrowThreeQuarter flexrow flex-group-center tooltip">
                <div role="tooltipNegative">
                    <div class="tooltipTopBorder">
                        <div class="tooltipTop"></div>
                    </div>
                    <div class="armorValue">
                        <h3 class="inline">Armor</h3>
                        {{#if data.armor}}
                            <label class="resource-value">Cumulated Armor </label>
                            <p/>
                            <div class="flexrow flex-group-center">
                                <img src="systems/eclipsephase/resources/icons/power.png" class="icon-small"/><span class="toggle resource-label alignLeft">Energy: </span><span class="toggle resource-value alignLeft item-standard-margin-medium"> {{data.data.physical.energyArmorTotal}}</span>
                                <img src="systems/eclipsephase/resources/icons/shield.png" class="icon-small" style="max-width: 20px!important; max-height: 20px!important;"/><span class="toggle resource-label alignLeft">Kinetic: </span><span class="toggle resource-value alignLeft"> {{data.data.physical.kineticArmorTotal}}</span>
                            </div>
                            <p/>
                            <label class="resource-value">Armor Pieces active on You</label>
                            <div class="listBackground">
                                <span class="toggle resource-label alignLeft">Main Armor: </span><span class="toggle resource-value alignLeft">{{data.data.physical.mainArmorTotal}}</span><br/>
                                <p/>
                                <span class="toggle resource-label alignLeft">Additional Armor: </span><span class="toggle resource-value alignLeft">{{data.data.physical.additionalArmorTotal}}</span><br/>
                            </div>
                            <p/>
                            <label class="resource-value">Cumulative Malus -{{data.data.physical.armorMalusTotal}}</label>
                            <div class="listBackground">
                                <span class="toggle resource-label alignLeft">Main Armor Malus: </span><span class="toggle resource-value alignLeft">-{{data.data.physical.mainArmorMalus}}</span>
                                <p/>
                                <i style="font-size: 12px; margin-bottom: 10px;">For every additional main armor a modifier of -20 will be calculated to all your actions.</i>
                                <p/>
                                <span class="toggle resource-label alignLeft">Additional Armor Malus: </span><span class="toggle resource-value alignLeft">-{{data.data.physical.additionalArmorMalus}}</span>
                                <p/>
                                <i style="font-size: 12px; margin-bottom: 10px;">Since the core rules are sketchy around this topic it's not clearly defined how to handle multi-layered additional armor. For the sake of bravity this system will calculate a -20 modificator for each piece of additional armor layered after the first one.</i>
                            </div>
                            <p/>
                            {{else}}
                            <label class="resource-value">You are not wearing any armor</label>
                            <p/>
                            {{/if}}
                            <i style="font-size: 12px; margin-bottom: 10px;">To activate or deactivate additional/different armor just head to the Physical-Tab. You can add armor by drag & drop it out of the compendiums or any other item collection available.</i>
                    </div>
                    <div class="tooltipBottomBorder">
                        <div class="tooltipBottom"></div>
                    </div>
                </div>
                <img src="systems/eclipsephase/resources/icons/power.png" class="icon-small"/>
                <span class="toggle resource-value alignLeft">{{data.data.physical.energyArmorTotal}}</span>
                <img src="systems/eclipsephase/resources/icons/shield.png" class="icon-small" style="max-width: 20px!important; max-height: 20px!important;"/>
                <span class="toggle resource-value alignLeft">{{data.data.physical.kineticArmorTotal}}</span>
              </div>
          </div>
            <div class="flex-group-center listBackground shape2">
                <div class="resource-content flexrow flex-center flex-between">
                    <label class="alignCenter resource-label">Health</label>
                    <span>  </span>
                    <label class="alignCenter resource-label">Wounds</label>
                </div>
                <div class="flexrow flex-center flex-between">
                    <input type="number" name="data.health.physical.value" value="{{data.data.health.physical.value}}" data-dtype="Number" placeholder="0"/>
                    <span>  </span>
                    <input type="number" name="data.physical.wounds" value="{{data.data.physical.wounds}}" data-dtype="Number" placeholder="0"/>
                </div>
                <div class="resource-content flexrow flex-center flex-between">
                    <span class="resource-value">DUR {{data.data.health.physical.max}}</span>
                    <span class="resource-value">DR {{data.data.physical.dr}}</span>
                    <span class="resource-value">WT {{data.data.physical.wt}}</span>
                </div>
            </div>
        </div>
        <div class="contentBox">
            <div class="flexrow">
                <div class="flexGrowHalf">
                </div>
                <h3 class="subheaderMirror">Mental</h3>
            </div>
            <div class="listBackground shape1 flex-group-center">
                <div class="resource-content flexrow flex-center flex-between">
                    <label class="resource-label alignCenter">Health</label>
                    <span>  </span>
                    <label class="resource-label alignCenter">Trauma</label>
                </div>
                <div class="resource-content flexrow flex-center flex-between">
                    <input type="number" name="data.health.mental.value" value="{{data.data.health.mental.value}}" data-dtype="Number" placeholder="0"/>
                    <span>  </span>
                    <input type="number" name="data.mental.trauma" value="{{data.data.mental.trauma}}" data-dtype="Number" placeholder="0"/>
                </div>
                <div class="resource-content flexrow flex-center flex-between">
                    <span class="resource-value">LUC {{data.data.health.mental.max}}</span>
                    <span class="resource-value">IR {{data.data.mental.ir}}</span>
                    <span class="resource-value">TT {{data.data.mental.tt}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="grid grid-2col">
        <div class="contentBox">
            <div class="flexrow">
                <h3 class="subheader">Aptitudes</h3>
                <div class="flexGrowHalf">
                </div>
            </div>
            <div class="listBackground shape2 grid grid-3col noMargin">
                {{#each data.data.aptitudes as |aptitude key|}}
                <div class="flexrow flex-group-center reveal standard-height">
                    <div class="flexrow flex-group-center input-small">
                        <span class="toggle resource-value alignCenter" style=" min-width: 26px;">{{key}}</span>
                        <label class="toggle roll-label task-check noShow" data-type="skill" data-name="{{aptitude.label}}" data-rollvalue="{{aptitude.roll}}"><img src="icons/svg/d10-grey.svg" class="icon-small"/></label>
                    </div>
                    <input class="input-small" type="number" name="data.aptitudes.{{key}}.value" value="{{aptitude.value}}" data-dtype="Number" placeholder="0"/>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="contentBox">
            <div class="flexrow">
                <div class="flexGrowHalf"></div>
                <h3 class="subheaderMirror">Other</h3>
            </div>
            {{#if (eq data.type "character")}}
            <div class="listBackground flexrow flex-group-center shape1">
                <div class="flexrow flex-group-center">
                    <span class="resource-label">Initiative Mod</span>
                    <input class="input-small" type="number" name="data.mods.iniMod" value="{{data.data.mods.iniMod}}" data-dtype="Number" placeholder="0"/>
                </div>
                <div class="flexrow flex-group-left" style="flex-basis: 100%; margin-top: 19.5px; margin-bottom: 5px;">
                    <div class="flexrow flex-group-center">
                        <span class="resource-label alignCenter">Rest: Short</span>
                        <input type="checkbox" class="sheet" name="data.rest.short1" {{checked data.data.rest.short1}}>
                        <input type="checkbox" class="sheet" name="data.rest.short2" {{checked data.data.rest.short2}}>
                    </div>
                    <div class="flexrow flex-group-center" style="flex: 0.5;">
                        <span class="resource-label alignCenter input-small">Long</span>
                        <input type="checkbox" class="sheet" name="data.rest.long" {{checked data.data.rest.long}}>
                    </div>
                </div>
            </div>
            {{else}}
            <div class="listBackground grid grid-3col shape1 noMargin">

                <div class="flexrow flex-center standard-height">
                    <label class="resource-value">Ini Mod</label>
                </div>
                <div class="flexrow flex-center standard-height">
                    <label class="resource-value">Threat</label>
                </div>
                <div class="flexrow flex-center standard-heightr">
                    <label class="resource-value">Stress</label>
                </div>
                <div class="flexrow flex-center standard-height">
                    <input class="input-small flex-group-right" style="text-align: center" type="text" name="data.mods.iniMod" value="{{data.data.mods.iniMod}}" data-dtype="Number" placeholder="0"/>
                </div>
                <div class="flexrow flex-center standard-height">
                    <input class="input-xs standard-height" style="text-align: center" type="text" name="data.threatLevel.current" value="{{data.data.threatLevel.current}}" placeholder="0"/>/
                    <input class="input-xs standard-height" style="text-align: center" type="text" name="data.threatLevel.total" value="{{data.data.threatLevel.total}}" placeholder="0"/>     
                </div>
                <div class="flexrow flex-center standard-height">
                    <input class="input-medium" style="text-align: center" type="text" name="data.stresstest" value="{{data.data.stresstest}}" placeholder="1d6"/>
                </div>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</header>

{{!-- NPC Motivations --}}
    {{#if (eq data.type "npc")}}
    <div class="contentBox" style="height: 70px; max-height: 70px;">
        <div class="flexrow">
            <h3 class="subheader">Motivations</h3>
            <div class="alignRight flexGrowThreeQuarter">
            </div>
        </div>
        <div class="itemBackground">
            <div class="flexrow">
                <input class="alignCenter" type="text" name="data.ego.motivations.motivation1" value='{{#if data.data.ego.motivations.motivation1}}{{data.data.ego.motivations.motivation1}} {{else}}{{/if}}' placeholder="e.g. Reach the horizon"/>
                <input class="alignCenter" type="text" name="data.ego.motivations.motivation2" value='{{#if data.data.ego.motivations.motivation2}}{{data.data.ego.motivations.motivation2}} {{else}}{{/if}}' placeholder="e.g. Reach the horizon"/>
                <input class="alignCenter" type="text" name="data.ego.motivations.motivation3" value='{{#if data.data.ego.motivations.motivation3}}{{data.data.ego.motivations.motivation3}} {{else}}{{/if}}' placeholder="e.g. Reach the horizon"/>
            </div>
        </div>
    </div>
    {{/if}}