

    {{!-- Character Picture --}}
    {{#if (eq actor.type "character")}}
<header>
    <div class="headroom">
        <div style="max-height: 358px;">
            <img class="profile-img" src="{{actor.img}}" data-action="editImage" data-field="img" title="{{actor.name}}"/>
        </div>
    </div>
</header>
    {{else}}
<header>
    <div class="headroom">
        <div style="max-height: 358px;">
            <img class="profile-img" src="{{actor.img}}" data-action="editImage" data-field="img"
            title="{{actor.name}}"/>
        </div>
    </div>
</header>
    {{/if}}

