<div style="background-color: var(--mainBackground); padding: 10px 0 10px 0;">
    <div class="flexrow flex-group-center listBackground health grid grid-4col" style="background-color: var(--pitchBorder); margin: 0;">
        <!-- Physical Health Overlay -->
        <div class="tooltip" style="z-index: 19;">
            <div role="healthOverlay">
                <div class="healthtipOverTheTopBorder">
                    <div class="healthtipOverTheTop">
                    </div>
                </div>
                <div class="healthtipTopBorder">
                    <div class="healthtipTop">
                        <h3 class="health" style="min-width: 100%;">Körperliche Gesundheit</h3>
                    </div>
                </div>
                <div class="physicalHealth">
                    <div style="padding-bottom: 10px;">
                        <i class="fa-solid fa-heart-pulse awesomeIcon" style="font-size: 18px;"></i>
                        <input class="input-xs" type="number" name="system.health.physical.value" value="{{actor.system.health.physical.value}}" data-dtype="Number" placeholder="0"/><span class="resource-value input-small">/{{actor.system.health.physical.max}}/{{actor.system.physical.dr}}</span>
                    </div>
                    <div style="padding-bottom: 10px;">
                        <i class="fa-regular fa-bandage awesomeIcon" style="font-size: 18px;"></i>
                        <input class="input-xs" type="number" name="system.physical.wounds" value="{{actor.system.physical.wounds}}" data-dtype="Number" placeholder="0"/><span class="resource-value input-small">({{actor.system.physical.wt}})</span>
                    </div>
                </div>
                <div class="healthtipBottomBorder">
                    <div class="tooltipBottom"></div>
                </div>
            </div>
            <div style="display: flex; align-items: center; position: inherit; z-index: 130;">
                <i class="fa-solid fa-heart-pulse awesomeIcon" style="font-size: 18px;"></i>
                <div class="healthBarContainer" id="physicalHealthBarContainer">
                    <div id="physicalHealthBar"></div>
                    <div class="healthBarBackground"></div>
                </div>
                <div class="healthBarContainer" id="physicalDeathBarContainer">
                    <div id="physicalDeathBar"></div>
                    <div class="healthBarBackground"></div>
                </div>
            </div>
        </div>
        {{#if (eq actor.type "character")}}
        <!-- Mental Health Overlay -->
        <div class="tooltip"  style="z-index: 20;">
            <div role="healthOverlay">
                <div class="healthtipOverTheTopBorder">
                    <div class="healthtipOverTheTop">
                    </div>
                </div>
                <div class="healthtipTopBorder">
                    <div class="healthtipTop">
                        <h3 class="health" style="min-width: 100%;">Geistige Gesundheit</h3>
                    </div>
                </div>
                <div class="mentalHealth">
                    <div style="padding-bottom: 10px;">
                        <i class="fa-solid fa-brain awesomeIcon" style="font-size: 18px;"></i>
                        <input class="input-xs stressDamage" id="stressDamage" type="number" name="system.health.mental.value" value="{{actor.system.health.mental.value}}" data-dtype="Number" placeholder="0"/><span class="resource-value input-small">/{{actor.system.health.mental.max}}/{{actor.system.mental.ir}}</span>
                    </div>
                    <div style="padding-bottom: 10px;">
                        <i class="fa-regular fa-burst wantToKnowMore awesomeIcon" style="font-size: 18px;"><span class="tooltipText resource-label" style="font-size: 13px;">{{localize "ep2e.healthbar.tooltip.traumatt"}}</span></i>
                        <input class="input-xs" type="number" name="system.mental.trauma" value="{{actor.system.mental.trauma}}" data-dtype="Number" placeholder="0"/><span class="resource-value input-small">({{actor.system.mental.tt}})</span>
                    </div>
                </div>
                <div class="healthtipBottomBorder">
                    <div class="tooltipBottom"></div>
                </div>
            </div>
            <div style="display: flex; align-items: center; position: inherit; z-index: 130;">
                <i class="fa-solid fa-brain awesomeIcon" style="font-size: 18px;"></i>
                <div class="healthBarContainer" id="mentalStressBarContainer">
                    <div id="mentalStressBar"></div>
                    <div class="healthBarBackground"></div>
                </div>
                <div class="healthBarContainer" id="mentalInsanityBarContainer">
                    <div id="mentalInsanityBar"></div>
                    <div class="healthBarBackground"></div>
                </div>
            </div>
        </div>
        <!-- Initiative -->
        <div class="wantToKnowMore" style="display: flex; align-items: center; justify-content: center; max-width: none;">
            <i class="fa-regular fa-stopwatch awesomeIcon" style="font-size: 18px;"></i>
            <span class="tooltipText resource-label" style="font-size: 13px;">{{localize "ep2e.healthbar.tooltip.initiative"}}</span>
            <span class="resource-label alignCenter" style="margin-left: 5px;">{{actor.system.initiative.display}}</span>
        </div>

        {{else}}
        <div class="wantToKnowMore" style="display: flex; align-items: center; justify-content: center; max-width: none;">
            <i class="fa-regular fa-stopwatch awesomeIcon" style="font-size: 18px;"></i>
            <span class="tooltipText resource-label" style="font-size: 13px;">{{localize "ep2e.healthbar.tooltip.iniMod"}}</span>
            <span class="resource-label" style="margin-left: 5px;">{{actor.system.initiative.display}} + </span>
            <input class="input-xs" style="text-align: center" type="text" name="system.mods.manualIniMod" value="{{actor.system.mods.manualIniMod}}" data-dtype="Number" placeholder="0"/>
        </div>
        <div class="wantToKnowMore">
            <i class="fa-solid fa-land-mine-on awesomeIcon" style="font-size: 18px;"></i>
            <span class="tooltipText resource-label" style="font-size: 13px;">{{localize "ep2e.healthbar.tooltip.threat"}}</span>
            <input class="input-xs standard-height" style="text-align: center" type="text" name="system.threatLevel.current" value="{{actor.system.threatLevel.current}}" placeholder="0"/>/
            <input class="input-xs standard-height" style="text-align: center" type="text" name="system.threatLevel.total" value="{{actor.system.threatLevel.total}}" placeholder="0"/>  
        </div>
        <div class="wantToKnowMore">
            <i class="fa-solid fa-face-scream awesomeIcon" style="font-size: 18px;"></i>
            <span class="tooltipText resource-label" style="font-size: 13px; left: -20px;">{{localize "ep2e.healthbar.tooltip.stressTest"}}</span>
            <input class="input-medium" style="text-align: center" type="text" name="system.stresstest" value="{{actor.system.stresstest}}" placeholder="1d6"/>
        </div>
        {{/if}}
    </div>
</div>