<div style="padding-bottom: 15px;">
    <div class="flexrow subheader">
        <h3 class="subheader">{{localize "ep2e.morph.traitsLabel"}}</h3>
        <div class="alignRight flexGrowHalf">
        </div>
    </div>
    <div class="itemBackground noPadBot grid grid-3col" style="position: relative; z-index: 2;">
        {{#if morph.presentTraits}}
        {{#each morph.traits as |item id|}}

            {{> systems/eclipsephase/templates/actor/partials/item-partials/traitsAndFlaws.html item=item itemType="success"}}
        
        {{/each}}
        {{#each morph.flaws as |item id|}}
        
            {{> systems/eclipsephase/templates/actor/partials/item-partials/traitsAndFlaws.html item=item itemType="fail"}}

        {{/each}}
        {{else}}
        <div></div>
        <div class="flex-group-center">
            <label class="resource-label">{{localize "ep2e.morph.noMorphTraits"}}</label>
        </div>
        {{/if}}
    </div>
</div>
<div style="padding-bottom: 15px;">
    <div class="flexrow subheader">
        <h3 class="subheader">{{localize "ep2e.morph.wareLabel"}}</h3>
        <div class="alignRight flexGrowHalf">
        </div>
    </div>
    <div class="itemBackground noPadBot grid grid-3col" style="position: relative; z-index: 2;">
        {{#if morph.wares}}
        {{#each morph.wares as |item id|}}

            {{> systems/eclipsephase/templates/actor/partials/item-partials/traitsAndFlaws.html item=item itemType="ware"}}

        {{/each}}
        {{else}}
        <div></div>
        <div class="flex-group-center">
            <label class="resource-label">{{localize "ep2e.morph.noMorphWare"}}</label>
        </div>
        {{/if}}
    </div>
</div>