{{!-- Multi-select pill widget, powered by multiSelectPills() in general-sheet-functions.js
  Params: items, path (required), placeholderKey (required), suggestions, removeTitleKey (optional) --}}
<div class="multiselect-widget" data-path="{{path}}">
    {{#each items as |value index|}}
        <span class="multiselect-pill">
            {{value}}
            <a class="multiselect-pill-remove" data-index="{{index}}" {{#if removeTitleKey}}title="{{localize removeTitleKey}}"{{/if}}>&times;</a>
        </span>
    {{/each}}
    <input type="text" class="multiselect-input" placeholder="{{localize placeholderKey}}"/>
    {{#if suggestions}}
        <div class="multiselect-dropdown noShow">
            {{#each suggestions as |suggestion key|}}
                <a class="multiselect-option" data-value="{{localize suggestion}}" data-key="{{key}}">{{localize suggestion}}</a>
            {{/each}}
        </div>
    {{/if}}
</div>
