{{!--Skills Tab--}}
        <div class="tab" data-group="primary" data-tab="skills">
            <div class="skills grid grid-2col">
                <div class="contentBox">
                    <div class="flexrow">
                        <h3 class="subheader">Insight Skills</h3>
                        <div class="alignRight flexGrowHalf">
                        </div>
                    </div>
                    <div class="listBackground edgeAbler">
                        {{#each data.data.skillsIns as |skill key|}}
                        <div class="flexrow flex-group-center reveal">
                            <span class="resource-label input-large">{{key}}</span>
                            <input class=" input-small" type="number" name="data.skillsIns.{{key}}.value" value="{{skill.value}}" data-dtype="Number" placeholder="0"/>
                            <div class="flexrow flex-group-center" style="max-width: 40px;">
                                <span class="toggle resource-value input-small">{{numberFormat skill.derived decimals=0}}</span>
                                <img data-type="skill" data-name="{{key}}" data-rollvalue="{{skill.roll}}" src="icons/svg/d10-grey.svg" class="toggle icon-small noShow roll-label task-check"/>
                            </div>
                            <input type="text" class="input-large item-standard-margin-both-large" name="data.skillsIns.{{key}}.specname" value="{{specname}}" placeholder="Specialization"/>
                            {{#if this.specname}}
                            <label class="roll-label task-check" data-type="skill" data-name="{{key}}" data-specname="{{specname}}" data-rollvalue="{{skill.specialized}}"><img src="icons/svg/d10-grey.svg" class="icon-small"/></label>
                            {{else}}
                            <label class="roll-label"><img src="icons/svg/d10-grey.svg" class="icon-hidden"/></label>
                            {{/if}}
                        </div>
                        {{/each}}
                    </div>
                    <div class="itemBackground shape2 edgeLord"></div>
                </div>
                <div class="contentBox">
                    <div class="flexrow">
                        <h3 class="subheader">Vigor Skills</h3>
                        <div class="alignRight flexGrowHalf">
                        </div>
                    </div>
                    <div class="listBackground edgeAbler">
                        {{#each data.data.skillsVig as |skill key|}}
                        <div class="flexrow flex-group-center reveal">
                            <span class="resource-label input-large">{{key}}</span>
                            <input class=" input-small" type="number" name="data.skillsVig.{{key}}.value" value="{{skill.value}}" data-dtype="Number" placeholder="0"/>
                            <div class="flexrow flex-group-center" style="max-width: 40px;">
                                <span class="toggle resource-value input-small">{{numberFormat skill.derived decimals=0}}</span>
                                <img data-type="skill" data-name="{{key}}" data-rollvalue="{{skill.roll}}" src="icons/svg/d10-grey.svg" class="toggle icon-small noShow roll-label task-check"/>
                            </div>
                            <input type="text" class="input-large item-standard-margin-both-large" name="data.skillsVig.{{key}}.specname" value="{{specname}}" placeholder="Specialization"/>
                            {{#if this.specname}}
                            <label class="roll-label task-check" data-type="skill" data-name="{{key}}" data-specname="{{specname}}" data-rollvalue="{{skill.specialized}}"><img src="icons/svg/d10-grey.svg" class="icon-small"/></label>
                            {{else}}
                            <label class="roll-label"><img src="icons/svg/d10-grey.svg" class="icon-hidden"/></label>
                            {{/if}}
                        </div>
                        {{/each}}
                    </div>
                    <div class="itemBackground shape2 edgeLord"></div>
                </div>
                <div class="contentBox">
                    <div class="flexrow">
                        <h3 class="subheader">Moxie Skills</h3>
                        <div class="alignRight flexGrowHalf">
                        </div>
                    </div>
                    <div class="listBackground edgeAbler">
                        {{#each data.data.skillsMox as |skill key|}}
                        <div class="flexrow flex-group-center reveal">
                            <span class="resource-label input-large">{{key}}</span>
                            <input class=" input-small" type="number" name="data.skillsMox.{{key}}.value" value="{{skill.value}}" data-dtype="Number" placeholder="0"/>
                            <div class="flexrow flex-group-center" style="max-width: 40px;">
                                <span class="toggle resource-value input-small">{{numberFormat skill.derived decimals=0}}</span>
                                <img data-type="skill" data-name="{{key}}" data-rollvalue="{{skill.roll}}" src="icons/svg/d10-grey.svg" class="toggle icon-small noShow roll-label task-check"/>
                            </div>
                            <input type="text" class="input-large item-standard-margin-both-large" name="data.skillsMox.{{key}}.specname" value="{{specname}}" placeholder="Specialization"/>
                            {{#if this.specname}}
                            <label class="roll-label task-check" data-type="skill" data-name="{{key}}" data-specname="{{specname}}" data-rollvalue="{{skill.specialized}}"><img src="icons/svg/d10-grey.svg" class="icon-small"/></label>
                            {{else}}
                            <label class="roll-label"><img src="icons/svg/d10-grey.svg" class="icon-hidden"/></label>
                            {{/if}}
                        </div>
                        {{/each}}
                    </div>
                    <div class="itemBackground shape2 edgeLord"></div>
                </div>
                <div class="contentBox">
                    {{#if data.specialSkill}}
                    <div class="flexrow">
                        <h3 class="subheader">Additional Skills</h3>
                        <div class="alignRight flexGrowHalf">
                            <a class="item-control item-create" title="Create item" data-type="specialSkill" style="max-height: 24px;"><i class="fas fa-plus"></i> Add Skill</a>
                        </div>
                    </div>
                    <div class="listBackground edgeAbler" style="padding-left: 0;">
                        {{#each data.specialSkill as |item id|}}
                        <div>
                            <div class="item flexrow flex-group-center reveal" data-item-id="{{item._id}}" style="padding-left: 0;">
                                <a class="item-control item-delete " style="max-width: 24px;" title="Delete Item"><i class="far fa-times-circle"></i></a>
                                <label class="resource-label item-control item-edit hoverable truncate">{{item.name}}</label>
                                <input class="input-small sheet-inline-edit" data-field="data.value" type="number" name="item.data.value" value="{{item.data.value}}" placeholder="0"/>
                                <span class="toggle resource-value input-small">{{numberFormat item.data.roll decimals=0}}</span>
                                
                                <img src="icons/svg/d10-grey.svg" class="toggle input-small roll-label icon-small task-check noShow" data-type="skill" data-name="{{item.name}}" data-rollvalue="{{item.roll}}" style="max-width: 34.5px!important;"/>
                                {{#if item.data.specname}}
                                <label class="resource-label item-control item-edit hoverable truncate item-standard-margin-both-large">{{item.data.specname}}</label>
                                <img src="icons/svg/d10-grey.svg" class="info roll-label task-check icon-small hidden" data-type="skill" data-name="item.name" data-specname="{{item.data.specname}}" data-rollvalue="{{item.specroll}}"/>
                                {{else}}
                                <label class="resource-label item-control item-edit hoverable truncate item-standard-margin-both-large" style="color: var(--inactive); text-transform: capitalize;">No Spec</label>
                                <label class="roll-label"><img src="icons/svg/d10-grey.svg" class="icon-hidden"/></label>
                                {{/if}}
                               
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="itemBackground shape2 edgeLord"></div>
                    {{else}}
                    <div class="separator">
                        <a class="item-control item-create" title="Create item" data-type="specialSkill" style="max-height: 24px;"><i class="fas fa-plus"></i> Add Additional Skill</a>
                    </div>
                    {{/if}}
                </div>
            </div>
            <div class="contentBox" style="margin-bottom: 10px;">
                <div class="flexrow">
                    <h3 class="subheader">Description {{data.name}}</h3>
                    <div class="alignRight flexGrowHalf">
                    </div>
                </div>
                {{editor content=data.data.description target="data.description" button=true owner=owner editable=this.options.editable}}
            </div>
        </div>