
    {{#if actor.aspect.Gamma}}
        <div class="contentBox">
            <div class="flexrow subheader">
                <h3 class="subheader">Gamma Sleights</h3>
                <div class="alignRight flexGrowThreeQuarter">
                </div>
            </div>
            <div class="itemBackground">
                <div class="grid grid-2col">
                    {{#each actor.aspect.Gamma as |item id|}}
                    <div>
                        <div class="item flexrow flex-group-center atHand" data-item-id="{{item._id}}">
                            
                            
                            <label class="truncate alignLeft" style="flex: 3.5;"><strong>{{item.name}}</strong></label>
                            <label class="flex-group-center alignCenter"
                              style="background: none; font-size: 12px; flex:
                              0.4; margin-left: 10px;"><i>{{item.system.actionType}}</i></label>
                            <label class="flex-group-center alignCenter"
                              style="background: none; font-size: 12px; flex:
                              0.4; margin-left: 10px;"><i>{{item.system.duration}}</i></label>
                            <label class="flex-group-center alignCenter"
                              style="background: none; font-size: 12px; flex:
                              0.4; margin-left: 10px;"><i>{{item.system.infection}}</i></label>
                            <div class="flex-group-right slideShow">
                                <a><i class="fas fa-plus icon-small"></i></a>
                                <a class="noShow"><i class="fas fa-minus icon-small"></i></a>
                            </div>
                            <div class="item showMore descriptionContainer" data-item-id="{{item._id}}">
                                {{#if item.system.description}}
                                <div class="itemDescription shape3">
                                    {{item.system.description}}
                                </div>
                                {{/if}}
                                <div class="flexrow flex-between item-controls">
                                    <a class="item-control item-delete resource-label editWithLabel" title="Delete Item"> Delete <i class="far fa-times-circle"></i></a>
                                    <a class="item-control item-edit resource-label editWithLabel alignRight" title="Edit Item"> Edit <i class="far fa-edit"></i></a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        {{/if}}
        {{#if actor.aspect.Chi}}
        <div class="contentBox">
            <div class="flexrow subheader">
                <h3 class="subheader">Chi Sleights</h3>
                <div class="alignRight flexGrowThreeQuarter">
                </div>
            </div>
            <div class="itemBackground">
                <div class="grid grid-2col">
                    {{#each actor.aspect.Chi as |item id|}}
                    <div>
                        <div class="item flexrow flex-group-center atHand" data-item-id="{{item._id}}">
                            
                            
                            <label class="truncate alignLeft" style="flex: 3.5;"><strong>{{item.name}}</strong></label>
                            <div class="flex-group-right slideShow">
                                <a><i class="fas fa-plus icon-small"></i></a>
                                <a class="noShow"><i class="fas fa-minus icon-small"></i></a>
                            </div>
                            <div class="item showMore descriptionContainer" data-item-id="{{item._id}}">
                                {{#if item.system.description}}
                                <div class="itemDescription shape3">
                                    {{item.system.description}}
                                </div>
                                {{/if}}
                                <div class="flexrow flex-between item-controls">
                                    <a class="item-control item-delete resource-label editWithLabel" title="Delete Item"> Delete <i class="far fa-times-circle"></i></a>
                                    <a class="item-control item-edit resource-label editWithLabel alignRight" title="Edit Item"> Edit <i class="far fa-edit"></i></a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        {{/if}}
