<div class="tab vehicle" data-group="primary" data-tab="vehicles">
{{#each data.vehicle as |item id|}}
            {{log "My little Pwny:" this}}
            <div class="contentBox">
                <div class="flexrow">
                    <h3 class="subheader">{{item.name}}</h3>
                    <div class="alignRight flexGrowThreeQuarter">
                        {{#if item.data.ins}}
                        <label class="resource-label">Ins</label>
                        <input class="input-xs sheet-inline-edit" data-field="data.curIns" type="number" name="item.data.curIns" value="{{item.data.curIns}}" placeholder="0"/>
                        <label class="flex-group-center item-standard-margin-medium"><strong>/ {{item.data.ins}}</strong></label>
                        {{/if}}
                        {{#if item.data.mox}}
                        <label class="resource-label">Mox</label>
                        <input class="input-xs sheet-inline-edit" data-field="data.curMox" type="number" name="item.data.curMOx" value="{{item.data.curMox}}" placeholder="0"/>
                        <label class="flex-group-center item-standard-margin-medium"><strong>/ {{item.data.mox}}</strong></label>
                        {{/if}}
                        {{#if item.data.vig}}
                        <label class="resource-label">Vig</label>
                        <input class="input-xs sheet-inline-edit" data-field="data.curVig" type="number" name="item.data.curVig" value="{{item.data.curVig}}" placeholder="0"/>
                        <label class="flex-group-center item-standard-margin-medium"><strong>/ {{item.data.vig}}</strong></label>
                        {{/if}}
                        {{#if item.data.flex}}
                        <label class="resource-label">Flex</label>
                        <input class="input-xs sheet-inline-edit" data-field="data.curFlex" type="number" name="item.data.curFlex" value="{{item.data.curFlex}}" placeholder="0"/>
                        <label class="flex-group-center"><strong>/ {{item.data.flex}}</strong></label>
                        {{/if}}
                    </div>
                </div>
                <div class="topLine">
                    <div class="item" data-item-id="{{item._id}}" style="padding: 0">
                        <table style="margin: 0px; text-align: center;">
                            <tr>
                                <td>
                                    <label class="resource-label">Type</label>
                                </td>
                                <td>
                                    <label class="resource-label">Armor</label>
                                </td>
                                <td>
                                    <label class="resource-label">WT</label>
                                </td>
                                <td>
                                    <label class="resource-label">Damage / DUR</label>
                                </td>
                                <td>
                                    <label class="resource-label">DR</label>
                                </td>
                                <td>
                                    <label class="resource-label">Movement</label>
                                </td>
                                <td>
                                    <label class="resource-label">Size</label>
                                </td>
                                <td>
                                    <a class="item-control item-delete" title="Delete Item"><i class="far fa-times-circle"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="flex-group-center noMargin noBG"><strong>{{item.data.type}}</strong></label>
                                </td>
                                <td>
                                    <input class="input-small sheet-inline-edit" data-field="data.armor" type="text" name="data.armor" value="{{data.armor}}" placeholder="2/2"/>
                                </td>
                                <td>
                                    <label class="flex-group-center noMargin noBG"><strong>{{item.wt}}</strong></label>
                                </td>
                                <td>
                                    <input class="input-small sheet-inline-edit noMargin" data-field="data.curDur" type="number" name="item.data.curDur" value="{{item.data.curDur}}" placeholder="0"/>
                                    <label class="flex-group-center noMargin noBG"><strong>/ {{item.data.dur}}</strong></label>
                                </td>
                                <td>
                                    <label class="flex-group-center noMargin noBG"><strong>{{item.dr}}</strong></label>
                                </td>
                                <td>
                                    <label class="flex-group-center noMargin noBG"><strong>{{item.data.mov}}</strong></label>
                                </td>
                                <td>
                                    <label class="flex-group-center noMargin noBG"><strong>{{item.data.slotType}}</strong></label>
                                </td>
                                <td>
                                </td>
                            </tr>
                        </table>
                        <table class="noMargin alignCenter">
                            <tr>
                                <td>
                                    <input class="sheet-inline-edit" data-field="data.description" type="text" name="item.data.description" value="{{item.data.description}}" placeholder="No modifications"/>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>