<form class="{{cssClass}} flexcol" autocomplete="off">
    <div class="grid grid-12col">
        <div class="wrapperleft">
            {{!-- Sheet Header --}}
                {{> systems/eclipsephase/templates/actor/partials/headerblock.html }}
            {{!-- Secondary Tab Navigation --}}
                <nav class="secondary-tabs tabs" data-group="secondary">
                    <a class="item" data-tab="ego">Ego</a>
                    <a class="item" data-tab="identification">ID</a>
                    <a class="item" data-tab="muse">Muse</a>
                </nav>
            <div class="contentleft">
                {{!-- Left Body --}}
                <section class="secondary-body">
                    {{!-- Ego Tab --}}
                        {{> systems/eclipsephase/templates/actor/partials/tabs/ego-tab.html }}
                    {{!-- ID Tab --}}
                        {{> systems/eclipsephase/templates/actor/partials/tabs/id-tab.html }}
                    {{!-- Muse Tab --}}
                        {{> systems/eclipsephase/templates/actor/partials/tabs/muse-tab.html }}
                </section>
            </div>
        </div>
        <div class="wrappercenter">
            {{!-- Primary Tab Navigation --}}
                <nav class="primary-tabs tabs" data-group="primary">
                    <a class="item" data-tab="skills">Skills</a>
                    <a class="item" data-tab="body">Morph</a>
                    <a class="item" data-tab="weapons">Inventory</a>
                    {{#if actor.vehicle.Vehicle}}
                    <a class="item" data-tab="vehicles">Vehicles</a>
                    {{else if actor.vehicle.Robot}}
                    <a class="item" data-tab="vehicles">Vehicles</a>
                    {{/if}}
                    {{#if actor.system.additionalSystems.hasPsi}}
                    <a class="item" data-tab="psi">Psi</a>
                    {{/if}}
                    {{#if actor.showEffectsTab}}
                    <a class="item" data-tab="effects">Effects</a>
                    {{/if}}
                </nav>
                {{!-- Health Overview --}}
                    {{> systems/eclipsephase/templates/actor/partials/health-bar.html }}
            {{!-- Center Body --}}
            <div class="contentcenter">
                <section class="primary-body">
                    
                    {{!--Skills Tab--}}
                    {{> systems/eclipsephase/templates/actor/partials/tabs/skills.html }}
                    {{!-- Body Tab --}}
                    <div class="tab body" data-group="primary" data-tab="body">
                        <div class="flexrow contentBox noMargin">
                            <div style="flex: 0.7;">
                            
                                <div class="contentBox" style="background-color: var(--focusBackground);">
                                    <div class="flexrow subheader">
                                        <h3 class="subheader">Current Morph</h3>
                                        <div class="alignRight flexGrowThreeQuarter">
                                            <label class="resource-value">Sleeved:</label>
                                            <select class="bodySelect" name="system.bodies.activeMorph" data-type="text" style="width: 120px;">
                                                {{#select actor.system.bodies.activeMorph}}
                                                <option value="morph1">{{#if
                                                actor.system.bodies.morph1.name}}{{actor.system.bodies.morph1.name}}{{else}}New Morph{{/if}}</option>
                                                <option value="morph2">{{#if
                                                actor.system.bodies.morph2.name}}{{actor.system.bodies.morph2.name}}{{else}}New Morph{{/if}}</option>
                                                <option value="morph3">{{#if
                                                actor.system.bodies.morph3.name}}{{actor.system.bodies.morph3.name}}{{else}}New Morph{{/if}}</option>
                                                <option value="morph4">{{#if
                                                actor.system.bodies.morph4.name}}{{actor.system.bodies.morph4.name}}{{else}}New Morph{{/if}}</option>
                                                <option value="morph5">{{#if
                                                actor.system.bodies.morph5.name}}{{actor.system.bodies.morph5.name}}{{else}}New Morph{{/if}}</option>
                                                <option value="morph6">{{#if
                                                actor.system.bodies.morph6.name}}{{actor.system.bodies.morph6.name}}{{else}}New Morph{{/if}}</option>
                                                {{/select}}
                                            </select>
                                        </div>
                                    </div>

                                    {{> systems/eclipsephase/templates/actor/partials/morph-details.html 
                                        name=actor.system.bodies.activeMorph
                                        morph=activeMorph }}
                                </div>
                            </div>


                                    <img class="morph-img" src="{{activeMorph.morph.img}}" data-edit="system.bodies.{{activeMorph.key}}.img" title="{{actor.name}}'s {{activeMorph.name}}"/>
                        </div>
                        <div>
                            {{> systems/eclipsephase/templates/actor/partials/morph-traits.html
                                name=actor.system.bodies.activeMorph
                                morph=activeMorph }}
                        </div>
                        


                        <div class="flexrow subheader">
                            <h3 class="subheader">
                                {{actor.name}}'s {{activeMorph.name}}
                            </h3>
                            <div class="alignRight flexGrowHalf">
                            </div>
                        </div>
                        {{#if (eq activeMorph.key "morph1")}}
                        {{editor
                        activeMorph.description
                        target="system.bodies.morph1.description"
                        button=true
                        owner=owner
                        editable=this.options.editable
                        }}
                        {{else if (eq activeMorph.key "morph2")}}
                        {{editor
                        activeMorph.description
                        target="system.bodies.morph2.description"
                        button=true
                        owner=owner
                        editable=this.options.editable
                        }}
                        {{else if (eq activeMorph.key "morph3")}}
                        {{editor
                        activeMorph.description
                        target="system.bodies.morph3.description"
                        button=true
                        owner=owner
                        editable=this.options.editable
                        }}
                        {{else if (eq activeMorph.key "morph4")}}
                        {{editor
                        activeMorph.description
                        target="system.bodies.morph4.description"
                        button=true
                        owner=owner
                        editable=this.options.editable
                        }}
                        {{else if (eq activeMorph.key "morph5")}}
                        {{editor
                        activeMorph.description
                        target="system.bodies.morph5.description"
                        button=true
                        owner=owner
                        editable=this.options.editable
                        }}
                        {{else if (eq activeMorph.key "morph6")}}
                        {{editor
                        activeMorph.description
                        target="system.bodies.morph6.description"
                        button=true
                        owner=owner
                        editable=this.options.editable
                        }}
                        {{/if}}

                    </div>
                    
                    {{!-- Vehicles Tab --}}
                    <div class="tab vehicle" data-group="primary" data-tab="vehicles">
                        {{#each actor.vehicle.Vehicle as |item id|}}
                        <div class="item contentBox" data-item-id="{{item._id}}">
                            <div class="flexrow">
                                <h3 class="subheader">{{item.name}}</h3>
                                <div class="alignRight flexGrowThreeQuarter">
                                    {{#if item.system.ins}}
                                    <label class="resource-label">Ins</label>
                                    <input class="input-xs sheet-inline-edit"
                                    data-field="system.curIns" type="number"
                                    name="item.system.curIns" value="{{item.system.curIns}}" placeholder="0"/>
                                    <label class="flex-group-center
                                    item-standard-margin-medium"><strong>/ {{item.system.ins}}</strong></label>
                                    {{/if}}
                                    {{#if item.system.mox}}
                                    <label class="resource-label">Mox</label>
                                    <input class="input-xs sheet-inline-edit"
                                        data-field="system.curMox" type="number"
                                                                    name="item.system.curMox"
                                                                    value="{{item.system.curMox}}" placeholder="0"/>
                                    <label class="flex-group-center
                                                item-standard-margin-medium"><strong>/
                                                    {{item.system.mox}}</strong></label>
                                    {{/if}}
                                    {{#if item.system.vig}}
                                        <label class="resource-label">Vig</label>
                                        <input class="input-xs sheet-inline-edit"
                                            data-field="system.curVig" type="number"
                                                                        name="item.system.curVig"
                                                                        value="{{item.system.curVig}}" placeholder="0"/>
                                        <label class="flex-group-center
                                                    item-standard-margin-medium"><strong>/
                                                        {{item.system.vig}}</strong></label>
                                    {{/if}}
                                    {{#if item.system.flex}}
                                        <label class="resource-label">Flex</label>
                                        <input class="input-xs sheet-inline-edit"
                                            data-field="system.curFlex" type="number"
                                                                        name="item.system.curFlex"
                                                                        value="{{item.system.curFlex}}" placeholder="0"/>
                                        <label class="flex-group-center"><strong>/
                                            {{item.system.flex}}</strong></label>
                                    {{/if}}
                                </div>
                            </div>
                                <div class="topLine">
                                    <div class="item" data-item-id="{{item._id}}" style="padding: 0">
                                        <table class="noMargin alignCenter">
                                            <tr>
                                                <td>
                                                    <label class="resource-label">Passengers</label>
                                                </td>
                                                <td>
                                                    <label class="resource-label">Armor</label>
                                                </td>
                                                <td>
                                                    <label class="resource-label">WT</label>
                                                </td>
                                                <td>
                                                    <label class="resource-label">Damage / DUR</label>
                                                </td>
                                                <td>
                                                    <label class="resource-label">DR</label>
                                                </td>
                                                <td>
                                                    <label class="resource-label">Movement</label>
                                                </td>
                                                <td>
                                                    <label class="resource-label">Size</label>
                                                </td>
                                                <td>
                                                    <a class="item-control item-delete" title="Delete Item"><i class="far fa-times-circle"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="flex-group-center noMargin
                                                    noBG"><strong>{{item.system.pass}}</strong></label>
                                                </td>
                                                <td>
                                                    <input class="input-small
                                                    sheet-inline-edit"
                                                    data-field="system.armor" type="text"
                                                    name="system.armor" value="{{system.armor}}" placeholder="2/2"/>
                                                </td>
                                                <td>
                                                    <label class="flex-group-center noMargin noBG"><strong>{{item.wt}}</strong></label>
                                                </td>
                                                <td>
                                                    <input class="input-small
                                                    sheet-inline-edit noMargin"
                                                    data-field="system.curDur" type="number"
                                                    name="item.system.curDur"
                                                    value="{{item.system.curDur}}" placeholder="0"/>
                                                    <label class="flex-group-center noMargin
                                                    noBG"><strong>/ {{item.system.dur}}</strong></label>
                                                </td>
                                                <td>
                                                    <label class="flex-group-center noMargin
                                                    noBG"><strong>{{item.system.dr}}</strong></label>
                                                </td>
                                                <td>
                                                    <label class="flex-group-center noMargin
                                                    noBG"><strong>{{item.system.mov}}</strong></label>
                                                </td>
                                                <td>
                                                    <label class="flex-group-center noMargin
                                                    noBG"><strong>{{item.system.slotType}}</strong></label>
                                                </td>
                                                <td>
                                                </td>
                                            </tr>
                                        </table>
                                        <table class="noMargin alignCenter">
                                            <tr>
                                                <td>
                                                    <input class="sheet-inline-edit"
                                                    data-field="system.description"
                                                    type="text"
                                                    name="item.system.description"
                                                    value="{{item.system.description}}" placeholder="No modifications"/>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                            </div>
                        </div>
                        {{/each}}
                        {{#each actor.vehicle.Robot as |item id|}}
                        <div class="item contentBox" data-item-id="{{item._id}}">
                            <div class="flexrow" style="justify-content: flex-end;">
                                <h3 class="subheader">{{item.name}}</h3>
                                <div class="alignRight flexGrowThreeQuarter">
                                    {{#if item.system.ins}}
                                    <label class="resource-label">Ins</label>
                                    <input class="input-xs sheet-inline-edit"
                                    data-field="system.curIns" type="number"
                                    name="item.system.curIns" value="{{item.system.curIns}}" placeholder="0"/>
                                    <label class="flex-group-center
                                    item-standard-margin-medium"><strong>/ {{item.system.ins}}</strong></label>
                                    {{/if}}
                                    {{#if item.system.mox}}
                                    <label class="resource-label">Mox</label>
                                    <input class="input-xs sheet-inline-edit"
                                    data-field="system.curMox" type="number"
                                    name="item.system.curMox" value="{{item.system.curMox}}" placeholder="0"/>
                                    <label class="flex-group-center
                                    item-standard-margin-medium"><strong>/ {{item.system.mox}}</strong></label>
                                    {{/if}}
                                    {{#if item.system.vig}}
                                    <label class="resource-label">Vig</label>
                                    <input class="input-xs sheet-inline-edit"
                                    data-field="system.curVig" type="number"
                                    name="item.system.curVig" value="{{item.system.curVig}}" placeholder="0"/>
                                    <label class="flex-group-center
                                    item-standard-margin-medium"><strong>/ {{item.system.vig}}</strong></label>
                                    {{/if}}
                                    {{#if item.system.flex}}
                                    <label class="resource-label">Flex</label>
                                    <input class="input-xs sheet-inline-edit"
                                    data-field="system.curFlex" type="number"
                                    name="item.system.curFlex" value="{{item.system.curFlex}}" placeholder="0"/>
                                    <label class="flex-group-center"><strong>/ {{item.system.flex}}</strong></label>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="topLine">
                                <div class="item" data-item-id="{{item._id}}" style="padding: 0">
                                    <table class="noMargin alignCenter">
                                        <tr>
                                            <td>
                                                <label class="resource-label">Armor</label>
                                            </td>
                                            <td>
                                                <label class="resource-label">WT</label>
                                            </td>
                                            <td>
                                                <label class="resource-label">Damage / DUR</label>
                                            </td>
                                            <td>
                                                <label class="resource-label">DR</label>
                                            </td>
                                            <td>
                                                <label class="resource-label">Movement</label>
                                            </td>
                                            <td>
                                                <label class="resource-label">Size</label>
                                            </td>
                                            <td>
                                                <a class="item-control item-delete" title="Delete Item"><i class="far fa-times-circle"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input class="input-small sheet-inline-edit"
                                                data-field="system.armor" type="text"
                                                name="system.armor" value="{{system.armor}}" placeholder="2/2"/>
                                            </td>
                                            <td>
                                                <label class="flex-group-center noMargin noBG"><strong>{{item.wt}}</strong></label>
                                            </td>
                                            <td>
                                                <input class="input-small sheet-inline-edit
                                                noMargin" data-field="system.curDur"
                                                type="number" name="item.system.curDur"
                                                value="{{item.system.curDur}}" placeholder="0"/>
                                                <label class="flex-group-center noMargin
                                                noBG"><strong>/ {{item.system.dur}}</strong></label>
                                            </td>
                                            <td>
                                                <label class="flex-group-center noMargin noBG"><strong>{{item.dr}}</strong></label>
                                            </td>
                                            <td>
                                                <label class="flex-group-center noMargin
                                                noBG"><strong>{{item.system.mov}}</strong></label>
                                            </td>
                                            <td>
                                                <label class="flex-group-center noMargin
                                                noBG"><strong>{{item.system.slotType}}</strong></label>
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                    </table>
                                    <table class="noMargin alignCenter">
                                        <tr>
                                            <td>
                                                <input class="sheet-inline-edit"
                                                data-field="system.description" type="text"
                                                name="item.system.description"
                                                value="{{item.system.description}}" placeholder="No modifications"/>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>


                    {{!-- Gear Tab --}}
                        {{> systems/eclipsephase/templates/actor/partials/tabs/gear-tab.html }}
                    {{!-- Psi Tab --}}                    
                        {{> systems/eclipsephase/templates/actor/partials/tabs/psi.html }}
                    {{!-- Effects Tab --}}    
                        {{> systems/eclipsephase/templates/actor/partials/tabs/effects-tab.html }}
                </section>
            </div>
        </div>
        <div class="wrapperright">
            {{> systems/eclipsephase/templates/actor/partials/currentStatus/sideCart.html }}
        </div>
    </div>
</form>
