<form class="{{cssClass}} flexcol" autocomplete="off">
    <div class="grid grid-12col">
        <div class="wrapperleft">
            {{!-- Sheet Header --}}
                {{> systems/eclipsephase/templates/actor/partials/headerblock.html }}
            {{!-- Secondary Tab Navigation --}}
                <nav class="secondary-tabs tabs" data-group="secondary">
                    <a class="item" data-tab="ego">{{localize "ep2e.actorSheet.leftTabs.egoTab"}}</a>
                    <a class="item" data-tab="identification">{{localize "ep2e.actorSheet.leftTabs.idTab"}}</a>
                    <a class="item" data-tab="muse">{{localize "ep2e.actorSheet.leftTabs.museTab"}}</a>
                </nav>
            <div class="contentleft">
                {{!-- Left Body --}}
                <section class="secondary-body">
                    {{!-- Ego Tab --}}
                        {{> systems/eclipsephase/templates/actor/partials/tabs/ego-tab.html }}
                    {{!-- ID Tab --}}
                        {{> systems/eclipsephase/templates/actor/partials/tabs/id-tab.html }}
                    {{!-- Muse Tab --}}
                        {{> systems/eclipsephase/templates/actor/partials/tabs/muse-tab.html }}
                </section>
            </div>
        </div>
        <div class="wrappercenter">
            {{!-- Primary Tab Navigation --}}
                <nav class="primary-tabs tabs" data-group="primary">
                    <a class="item" data-tab="skills">{{localize "ep2e.actorSheet.rightTabs.skillsTab"}}</a>
                    <a class="item" data-tab="body">{{localize "ep2e.actorSheet.rightTabs.morphTab"}}</a>
                    <a class="item" data-tab="weapons">{{localize "ep2e.actorSheet.rightTabs.inventoryTab"}}</a>
                    {{#if actor.vehicle.vehicle}}
                    <a class="item" data-tab="vehicles">{{localize "ep2e.actorSheet.rightTabs.peripheralsTab"}}</a>
                    {{else if actor.vehicle.robot}}
                    <a class="item" data-tab="vehicles">{{localize "ep2e.actorSheet.rightTabs.peripheralsTab"}}</a>
                    {{else if actor.vehicle.animal}}
                    <a class="item" data-tab="vehicles">{{localize "ep2e.actorSheet.rightTabs.peripheralsTab"}}</a>
                    {{/if}}
                    {{#if actor.system.additionalSystems.hasPsi}}
                    <a class="item" data-tab="psi">{{localize "ep2e.actorSheet.rightTabs.psiTab"}}</a>
                    {{/if}}
                    {{#if actor.showEffectsTab}}
                    <a class="item" data-tab="effects">{{localize "ep2e.actorSheet.rightTabs.effectsTab"}}</a>
                    {{/if}}
                </nav>
                {{!-- Health Overview --}}
                    {{> systems/eclipsephase/templates/actor/partials/health-bar.html }}
            {{!-- Center Body --}}
            <div class="contentcenter">
                <section class="primary-body">
                    
                    {{!--Skills Tab--}}
                    {{> systems/eclipsephase/templates/actor/partials/tabs/skills.html }}
                    {{!-- Body Tab --}}
                    <div class="tab body" data-group="primary" data-tab="body">
                        <div class="flexrow contentBox noMargin">
                            <div style="flex: 0.7;">
                            
                                <div class="contentBox" style="background-color: var(--focusBackground);">
                                    <div class="flexrow subheader">
                                        <h3 class="subheader">{{localize "ep2e.morph.currentMorph.headline"}}</h3>
                                        <div class="alignRight flexGrowThreeQuarter">
                                            <label class="resource-value" style="margin-right: 0.5em;">{{localize "ep2e.morph.currentMorph.sleevedLabel"}}</label>
                                            <select class="bodySelect" name="system.bodies.activeMorph" data-type="text" style="width: 120px;">
                                                {{#select actor.system.bodies.activeMorph}}
                                                <option value="morph1">{{#if
                                                actor.system.bodies.morph1.name}}{{actor.system.bodies.morph1.name}}{{else}}{{localize "ep2e.morph.currentMorph.morphList.placeholder"}}{{/if}}</option>
                                                <option value="morph2">{{#if
                                                actor.system.bodies.morph2.name}}{{actor.system.bodies.morph2.name}}{{else}}{{localize "ep2e.morph.currentMorph.morphList.placeholder"}}{{/if}}</option>
                                                <option value="morph3">{{#if
                                                actor.system.bodies.morph3.name}}{{actor.system.bodies.morph3.name}}{{else}}{{localize "ep2e.morph.currentMorph.morphList.placeholder"}}{{/if}}</option>
                                                <option value="morph4">{{#if
                                                actor.system.bodies.morph4.name}}{{actor.system.bodies.morph4.name}}{{else}}{{localize "ep2e.morph.currentMorph.morphList.placeholder"}}{{/if}}</option>
                                                <option value="morph5">{{#if
                                                actor.system.bodies.morph5.name}}{{actor.system.bodies.morph5.name}}{{else}}{{localize "ep2e.morph.currentMorph.morphList.placeholder"}}{{/if}}</option>
                                                <option value="morph6">{{#if
                                                actor.system.bodies.morph6.name}}{{actor.system.bodies.morph6.name}}{{else}}{{localize "ep2e.morph.currentMorph.morphList.placeholder"}}{{/if}}</option>
                                                {{/select}}
                                            </select>
                                        </div>
                                    </div>

                                    {{> systems/eclipsephase/templates/actor/partials/morph-details.html name=actor.system.bodies.activeMorph morph=activeMorph }}
                                </div>
                            </div>
                                <img class="morph-img" src="{{activeMorph.morph.img}}" data-edit="system.bodies.{{activeMorph.key}}.img" title="{{actor.name}}'s {{activeMorph.name}}"/>
                            </div>
                            <div>
                                {{> systems/eclipsephase/templates/actor/partials/morph-traits.html name=actor.system.bodies.activeMorph morph=activeMorph }}
                            </div>
                            <div class="flexrow subheader">
                                <h3 class="subheader">
                                    {{actor.name}}'s {{activeMorph.name}}
                                </h3>
                                <div class="alignRight flexGrowHalf">
                                </div>
                            </div>
                            {{#if (eq activeMorph.key "morph1")}}
                            {{editor activeMorph.description target="system.bodies.morph1.description" button=true owner=owner editable=this.options.editable}}
                            {{else if (eq activeMorph.key "morph2")}}
                            {{editor
                            activeMorph.description
                            target="system.bodies.morph2.description"
                            button=true
                            owner=owner
                            editable=this.options.editable
                            }}
                            {{else if (eq activeMorph.key "morph3")}}
                            {{editor
                            activeMorph.description
                            target="system.bodies.morph3.description"
                            button=true
                            owner=owner
                            editable=this.options.editable
                            }}
                            {{else if (eq activeMorph.key "morph4")}}
                            {{editor
                            activeMorph.description
                            target="system.bodies.morph4.description"
                            button=true
                            owner=owner
                            editable=this.options.editable
                            }}
                            {{else if (eq activeMorph.key "morph5")}}
                            {{editor
                            activeMorph.description
                            target="system.bodies.morph5.description"
                            button=true
                            owner=owner
                            editable=this.options.editable
                            }}
                            {{else if (eq activeMorph.key "morph6")}}
                            {{editor
                            activeMorph.description
                            target="system.bodies.morph6.description"
                            button=true
                            owner=owner
                            editable=this.options.editable
                            }}
                            {{/if}}
                        </div>
                    
                    {{!-- Peripherals Tab --}}
                        {{> systems/eclipsephase/templates/actor/partials/tabs/vehicles-tab.html }}
                    {{!-- Gear Tab --}}
                        {{> systems/eclipsephase/templates/actor/partials/tabs/gear-tab.html }}
                    {{!-- Psi Tab --}}                    
                        {{> systems/eclipsephase/templates/actor/partials/tabs/psi-tab.html }}
                    {{!-- Effects Tab --}}    
                        {{> systems/eclipsephase/templates/actor/partials/tabs/effects-tab.html }}
                </section>
            </div>
        </div>
        <div class="wrapperright">
            {{> systems/eclipsephase/templates/actor/partials/currentStatus/sideCar.html }}
        </div>
    </div>
</form>
