<form class="{{cssClass}} flexcol" autocomplete="off">
    
    {{#if (eq actor.type 'character')}}
        <div class="grid grid-12col">
            <div class="wrapperleft">
    {{else}}
        <div class="grid grid-9col">
            <div class="wrapperleft npcVariant1">
    {{/if}}
            {{!-- Sheet Header --}}
                {{> systems/eclipsephase/templates/actor/partials/headerblock.html }}
            {{!-- Secondary Tab Navigation --}}
                <nav class="secondary-tabs tabs">
                    {{#each tabs.secondary as |tab|}}
                        {{#if (eq @root.actor.type 'character')}}
                        <a class="item {{#if tab.active}}active{{/if}}" data-action="tab" data-group="secondary" data-tab="{{tab.id}}">
                            {{localize tab.label}}
                        </a>
                        {{/if}}
                    {{/each}}
                </nav>
            {{#if (eq actor.type 'character')}}
                <div class="contentleft">
                    {{!-- Left Body --}}
                    <section class="secondary-body">
                        <div class="tab {{#if tabs.primary.skills.active}}active{{/if}}" data-group="secondary" data-tab="ego">
                            {{> systems/eclipsephase/templates/actor/partials/tabs/ego-tab.html }}
                        </div>
                        <div class="tab {{#if tabs.primary.morph.active}}active{{/if}}" data-group="secondary" data-tab="identification">
                            {{> systems/eclipsephase/templates/actor/partials/tabs/id-tab.html }}
                        </div>
                        <div class="tab {{#if tabs.primary.vehicles.active}}active{{/if}}" data-group="secondary" data-tab="muse">
                            {{> systems/eclipsephase/templates/actor/partials/tabs/muse-tab.html }}
                        </div>
                    </section>
                </div>
            {{/if}}
        </div>
        {{#if (eq actor.type 'character')}}
            <div class="wrappercenter">
        {{else}}
            <div class="wrappercenter npcVariant1">
        {{/if}}
            {{!-- Primary Tab Navigation --}}
                <nav class="primary-tabs tabs">
                    {{#each tabs.primary as |tab|}}

                        
                            <!-- Character Actor tabs-->
                            {{#if (eq tab.id 'psi')}}
                                {{#if @root.actor.system.additionalSystems.hasPsi}}
                                    <a class="item {{#if tab.active}}active{{/if}}" data-action="tab" data-group="primary" data-tab="{{tab.id}}">
                                        {{localize tab.label}}
                                    </a>
                                {{else}}
                                {{/if}}
                            {{else if (eq tab.id 'vehicles')}}
                                {{#if (or @root.actor.vehicle.vehicle.length @root.actor.vehicle.robot.length @root.actor.vehicle.animal.length)}}
                                    <a class="item {{#if tab.active}}active{{/if}}" data-action="tab" data-group="primary" data-tab="{{tab.id}}">
                                        {{localize tab.label}}
                                    </a>
                                {{else}}
                                {{/if}}
                            {{else}}
                                {{#if (eq @root.actor.type 'character')}}
                                    {{#if (ne tab.id 'ego')}}
                                        <a class="item {{#if tab.active}}active{{/if}}" data-action="tab" data-group="primary" data-tab="{{tab.id}}">
                                            {{localize tab.label}}
                                        </a>
                                    {{else}}
                                    {{/if}}
                                {{else}}
                                    {{#if (ne tab.id 'morph')}}
                                        <a class="item {{#if tab.active}}active{{/if}}" data-action="tab" data-group="primary" data-tab="{{tab.id}}">
                                            {{localize tab.label}}
                                        </a>
                                    {{else}}
                                    {{/if}}
                                {{/if}}
                            {{/if}}

                                
                    {{/each}}
                </nav>
                {{!-- Health Overview --}}
                    {{> systems/eclipsephase/templates/actor/partials/health-bar.html }}
            {{!-- Center Body --}}
            {{#if (eq actor.type 'character')}}
                <div class="contentcenter">
            {{else}}
                <div class="contentcenter npcVariant2">
            {{/if}}
                <section class="primary-body">
                    {{#if (ne actor.type 'character')}}
                    <div class="tab {{#if tabs.primary.skills.active}}active{{/if}}" data-group="primary" data-tab="ego">
                        {{> systems/eclipsephase/templates/actor/partials/tabs/ego-tab.html }}
                    </div>
                    {{/if}}
                    <div class="tab {{#if tabs.primary.skills.active}}active{{/if}}" data-group="primary" data-tab="skills">
                        {{> systems/eclipsephase/templates/actor/partials/tabs/skills-tab.html }}
                    </div>
                    <div class="tab {{#if tabs.primary.morph.active}}active{{/if}}" data-group="primary" data-tab="morph">
                        {{> systems/eclipsephase/templates/actor/partials/tabs/morph-tab.html }}
                    </div>
                    <div class="tab {{#if tabs.primary.vehicles.active}}active{{/if}}" data-group="primary" data-tab="vehicles">
                        {{> systems/eclipsephase/templates/actor/partials/tabs/vehicles-tab.html }}
                    </div>
                    <div class="tab {{#if tabs.primary.weapons.active}}active{{/if}}" data-group="primary" data-tab="weapons">
                        {{#if (eq actor.type 'character')}}
                            {{> systems/eclipsephase/templates/actor/partials/tabs/gear-tab.html }}
                        {{else}}
                            {{> systems/eclipsephase/templates/actor/partials/tabs/npcgear.html }}
                        {{/if}}
                    </div>
                    <div class="tab {{#if tabs.primary.psi.active}}active{{/if}}" data-group="primary" data-tab="psi">
                        {{> systems/eclipsephase/templates/actor/partials/tabs/psi-tab.html }}
                    </div>
                    <div class="tab {{#if tabs.primary.gmInfo.active}}active{{/if}}" data-group="primary" data-tab="gmInfo">
                        {{> systems/eclipsephase/templates/actor/partials/tabs/gm-info-tab.html}}
                    </div> 
                </section>
            </div>
        </div>
        {{#if (eq actor.type 'character')}}
            <div class="wrapperright">
                {{> systems/eclipsephase/templates/actor/partials/currentStatus/sideCar.html }}
            </div>
        {{/if}}
    </div>
</form>
