<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header" style="margin-top: -25px;">
        <div class="headroom">
            <div class="centerBackground" style="position: absolute; clip-path: polygon(0 25%, 85% 25%, 100% 70%, 0% 70%); width: 110px; height: 55px; padding-left: 0.5em; top: -37px;">
                <img class="logo-img" src="systems/eclipsephase/resources/img/logo.png" title="ep2e logo"/>
            </div>
            <div>
                <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}"/>
            </div>
            <div class="centerBackground" style="position: absolute; clip-path: polygon(0 20%, 90% 20%, 100% 100%, 0% 100%); bottom: 4px; padding-bottom: 0">
                <input name="name" type="text" value="{{data.name}}" placeholder="Name" style="width: auto; font-size: 18px; max-width: 190px; text-shadow: 0 0 5px #161616"/>
            </div>
        </div>
        {{> systems/eclipsephase/templates/actor/partials/headerblock.html }}
    </header>
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="skills">Skills</a>
        <a class="item" data-tab="weapons">Physical</a>
        {{#if data.showEffectsTab}}
        <a class="item" data-tab="effects">Effects</a>
        {{/if}}
    {{#if data.vehicle}}
        <a class="item" data-tab="vehicles">Vehicles</a>
    {{/if}}
    {{#if data.aspect.Chi}}
        <a class="item" data-tab="psi">Psi</a>
    {{else if data.aspect.Gamma}}
        <a class="item" data-tab="psi">Psi</a>
    {{/if}}
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{> systems/eclipsephase/templates/actor/partials/npcskills.html }}

        </div>
    {{!-- Weapons Tab --}}
    <div class="tab" data-group="primary" data-tab="weapons">
        {{#if data.rangedWeapon}}
        <div class="contentBox gear">
            <div class="flexrow">
                <h3 class="subheader">Ranged Weapons</h3>
                <div class="alignRight flexGrowHalf reveal">
                    <div class="alignRight flexGrowHalf">
                        <a class="item-control item-create" title="Create item" data-type="rangedWeapon" style="max-height: 24px;"><i class="fas fa-plus"></i> Add Ranged</a>
                    </div>
                </div>
                <div class="alignRight flexGrowThreeQuarter">
                    <label class="resource-label labelWidth-large">Roll Guns</label>
                    <label class="resource-label task-check roll-label input-small" data-type="skill" data-name="Guns" data-rollvalue="{{data.data.skillsVig.guns.roll}}"><img src="icons/svg/d10-grey.svg" class="icon-small"/></label>
                    {{#if data.data.skillsVig.guns.specname}}
                    <label class="resource-label labelWidth-XL item-standard-margin-both-large">Roll {{data.data.skillsVig.guns.specname}}</label>
                    <label class="resource-label roll-label task-check input-small" data-type="skill" data-name="Guns" data-specname="{{data.data.skillsVig.guns.specname}}" data-rollvalue="{{data.data.skillsVig.guns.specialized}}"><img src="icons/svg/d10-grey.svg" class="icon-small"/></label>
                    {{/if}}
                </div>
            </div>
            <div class="itemBackground">
                {{#each data.rangedWeapon as |item id|}}
                <div class="item flexrow flex-group-center reveal" data-item-id="{{item._id}}">
                    <div class="flexrow flex-group-center input-small">
                        <img src="{{item.img}}" title="{{item.name}}" class="toggle item-image input-small icon-small"/>
                        <img src="icons/svg/d10-grey.svg" class="toggle icon-small damage-roll roll-label input-small noShow" data-type="ranged" data-roll="{{item.data.dv}}" data-weaponname="{{item.name}}"/>
                    </div>
                    <input class="sheet-inline-edit" data-field="name" type="text" name="item.name" value="{{item.name}}" placeholder="No Weapon Name" style="text-align: left; font-weight: bold"/>
                    <label class="labelWidth-large flex-group-center noMargin"><strong>{{item.data.firingMode}}</strong></label>
                    <label class="labelWidth-medium flex-group-center noMargin"><strong>{{item.data.range}}</strong></label>
                    <label class="labelWidth-large flex-group-center noMargin"><strong>{{item.data.slotType}}</strong></label>
                    <label class="labelWidth-medium flex-group-right noMargin"><strong>Ammo</strong></label>
                    <input class="input-small sheet-inline-edit" data-field="data.ammoMin" type="number" name="item.data.ammoMin" value="{{item.data.ammoMin}}" placeholder="0"/>/
                    <h4 class="item-image flex-group-left input-small noMargin"><strong>{{item.data.ammoMax}}</strong></h4>
                    <h4 class="item-image flex-group-right input-medium noMargin"><strong>{{item.data.dv}}</strong></h4>
                    <div class="flex-group-right slideShow">
                        <a><i class="fas fa-plus icon-small"></i></a>
                        <a class="noShow"><i class="fas fa-minus icon-small"></i></a>
                    </div>
                    <div class="item showMore descriptionContainer" data-item-id="{{item._id}}">
                        <div class="itemDescription shape3">
                            <input class="sheet-inline-edit" data-field="data.description" type="text" name="item.data.description" value="{{item.data.description}}" placeholder="No modifications"/>
                        </div>
                        <div class="flexrow flex-between item-controls">
                            <a class="item-control item-delete resource-label editWithLabel" title="Delete Item"> Delete <i class="far fa-times-circle"></i></a>
                            <a class="item-control item-edit resource-label editWithLabel alignRight" title="Edit Item"> Edit <i class="far fa-edit"></i></a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        {{else}}
        <div class="contentBox gear">
            <div class="flexrow">
                <h3 class="subheader">Ranged Weapons</h3>
                <div class="alignRight flexGrowHalf reveal">
                    <div class="alignRight flexGrowHalf">
                        <a class="item-control item-create" title="Create item" data-type="rangedWeapon" style="max-height: 24px;"><i class="fas fa-plus"></i> Add Ranged</a>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
        {{#if data.ccweapon}}
        <div class="contentBox gear">
            <div class="flexrow">
                <h3 class="subheader">Close Combat Weapons</h3>
                <div class="alignRight flexGrowHalf reveal">
                    <div class="alignRight flexGrowHalf">
                        <a class="item-control item-create" title="Create item" data-type="ccWeapon" style="max-height: 24px;"><i class="fas fa-plus"></i> Add Melee</a>
                    </div>
                </div>
                <div class="alignRight flexGrowThreeQuarter">
                    <label class="resource-label labelWidth-large">Roll Melee</label>
                    <label class="resource-label task-check roll-label input-small" data-type="skill" data-name="Melee" data-rollvalue="{{data.data.skillsVig.melee.roll}}"><img src="icons/svg/d10-grey.svg" class="icon-small"/></label>
                    {{#if data.skillsVig.melee.specname}}
                    <label class="resource-label labelWidth-XL item-standard-margin-both-large">Roll {{data.data.skillsVig.melee.specname}}</label>
                    <label class="resource-label roll-label task-check input-small" data-type="skill" data-name="Melee" data-specname="{{data.data.skillsVig.melee.specname}}" data-rollvalue="{{data.data.skillsVig.melee.specialized}}"><img src="icons/svg/d10-grey.svg" class="icon-small"/></label>
                    {{/if}}
                </div>
            </div>
            <div class="itemBackground">
                {{#each data.ccweapon as |item id|}}
                <div class="item flexrow flex-group-center reveal" data-item-id="{{item._id}}">
                    <div class="flexrow flex-group-center input-small">
                        <img src="{{item.img}}" title="{{item.name}}" class="toggle item-image flex-group-left input-small icon-small"/>
                        <img src="icons/svg/d10-grey.svg" class="toggle icon-small flex-group-left resource-label damage-roll roll-label input-small noShow" data-type="melee" data-roll="{{item.data.dv}}" data-weaponname="{{item.name}}"/>
                    </div>
                    <input class="sheet-inline-edit" data-field="name" type="text" name="item.name" value="{{item.name}}" placeholder="No Weapon Name" style="text-align: left; font-weight: bold"/>
                    <label class="flex-group-center noMargin flex-group-center"><strong>{{item.data.slotType}}</strong></label>
                    <h4 class="item-image flex-group-center noMargin" style="max-width: 145px;"><strong>{{item.data.dv}}</strong></h4>
                    <div class="flex-group-right slideShow" style="max-width: 115px;">
                        <a><i class="fas fa-plus icon-small"></i></a>
                        <a class="noShow"><i class="fas fa-minus icon-small"></i></a>
                    </div>
                    <div class="item showMore descriptionContainer" data-item-id="{{item._id}}">
                        <div class="itemDescription shape3">
                            <input class="sheet-inline-edit" data-field="data.description" type="text" name="item.data.description" value="{{item.data.description}}" placeholder="No modifications"/>
                        </div>
                        <div class="flexrow flex-between item-controls">
                            <a class="item-control item-delete resource-label editWithLabel" title="Delete Item"> Delete <i class="far fa-times-circle"></i></a>
                            <a class="item-control item-edit resource-label editWithLabel alignRight" title="Edit Item"> Edit <i class="far fa-edit"></i></a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        {{else}}
        <div class="contentBox gear">
            <div class="flexrow">
                <h3 class="subheader">Close Combat Weapons</h3>
                <div class="alignRight flexGrowHalf reveal">
                    <div class="alignRight flexGrowHalf">
                        <a class="item-control item-create" title="Create item" data-type="ccWeapon" style="max-height: 24px;"><i class="fas fa-plus"></i> Add Melee</a>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
        <div class="flexrow flex-between">
            <div class="contentBox flexGrowHalf">
                <div class="flexrow">
                    <h3 class="subheader">Morph</h3>
                    <div class="alignRight flexGrowThreeQuarter">
                    </div>
                </div>
                <div class="listBackground noMargin">
                    <div class="flexrow flex-between headspace">
                        <div>
                            <input class="input-large" type="text" name="data.bodies.morph1.name" value="{{data.data.bodies.morph1.name}}" placeholder="Morph name"/>
                        </div>
                        <div>
                            <select class="selectSpecApt item-standard-margin-medium" name="data.bodyType.value" data-type="String">
                                {{#select data.data.bodyType.value}}
                                {{#each config.bodyTypes as |bodyType key|}}
                                <option value="{{key}}">{{bodyType}}</option>
                                {{/each}} {{/select}}
                            </select>
                        </div>
                    </div>
                    <div class="flexrow flex-between headSpace">
                        <div>
                            <label class="resource-label labelWidth-small">Dur</label>
                            <input class="input-small item-standard-margin-medium" style="text-align: center" type="text" name="data.bodies.morph1.dur" value="{{data.data.bodies.morph1.dur}}" placeholder="0"/>
                        </div>
                        <div>
                            <label class="resource-label labelWidth-small">Mov</label>
                            <input class="input-medium item-standard-margin-medium" style="text-align: center" type="text" name="data.bodies.morph1.movement" value="{{data.data.bodies.morph1.movement}}" placeholder="0/0"/>                          
                        </div>
                        <div>
                            <select class="selectSpecApt item-standard-margin input-large" name="data.bodies.morph1.movetype" data-type="String">
                                {{#select data.data.bodies.morph1.movetype}}
                                {{#each config.moveTypes as |moveType key|}}
                                    <option value="{{key}}">{{moveType}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </div>
                    </div>
                    <div class="flexrow flex-between headSpace">
                        <div>
                            <label class="resource-label labelWidth-small">Mov 2</label>
                            <input class="input-medium item-standard-margin-medium" style="text-align: center" type="text" name="data.bodies.morph1.movement2" value="{{data.data.bodies.morph1.movement2}}" placeholder="0/0"/>                          
                        </div>
                        <div>
                            <select class="selectSpecApt item-standard-margin input-large" name="data.bodies.morph1.movetype2" data-type="String">
                                {{#select data.data.bodies.morph1.movetype2}}
                                {{#each config.moveTypes as |moveType key|}}
                                    <option value="{{key}}">{{moveType}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </div>
                    </div>
                    <div class="headSpace">
                        <div class="flexrow" style="align-items: center">
                            <i class="far fa-plus-square" style="color: var(--positive); flex: 0.05;"></i>
                            <label class="resource-label">Traits:</label>
                        </div>
                        <div class="flexrow headSpace">
                            {{#if data.morphTrait}}
                            {{#each data.morphTrait as |item id|}}
                            <div class="item flexrow flex-group-center pill" data-item-id="{{item._id}}">
                                <h4 class="item-name item-control item-edit noMargin hoverable truncate"><strong>{{item.name}}</strong></h4>
                                <div class="item-controls flex-group-right" style="flex: 0.2;">
                                    <a class="item-control item-delete" title="Delete Item"><i class="far fa-times-circle"></i></a>
                                </div>
                            </div>
                            {{/each}}
                            {{else}}
                            <label class="resource-value" style="height: 30px;">No Morph Traits Present</label>
                            {{/if}}
                        </div>
                        {{!-- <div class="flexrow" style="align-items: center">
                            <i class="far fa-minus-square" style="color: var(--negative); flex: 0.05;"></i>
                            <label class="resource-label">Flaws:</label>
                        </div>
                        <div class="flexrow headSpace">
                            {{#if data.morphFlaw}}
                            {{#each data.morphFlaw as |item id|}}
                            <div class="item flexrow flex-group-center pill" data-item-id="{{item._id}}">
                                <h4 class="item-name item-control item-edit noMargin hoverable truncate"><strong>{{item.name}}</strong></h4>
                                <div class="item-controls flex-group-right" style="flex: 0.2;">
                                    <a class="item-control item-delete" title="Delete Item"><i class="far fa-times-circle"></i></a>
                                </div>
                            </div>
                            {{/each}}
                            {{else}}
                            <label class="resource-value" style="height: 30px;">No Morph Flaws Present</label>
                            {{/if}}
                        </div> --}}
                        <div class="flexrow" style="align-items: center">
                            <i class="fas fa-bolt" style="color: var(--iconBlue); flex: 0.05;"></i>
                            <label class="resource-label">Ware:</label>
                        </div>
                        <div class="flexrow headSpace">
                            {{#if data.ware}}
                            {{#each data.ware as |item id|}}
                            <div class="item flexrow flex-group-center pill" data-item-id="{{item._id}}" style="padding-left: 0.2em;">
                                <h4 class="item-name item-control item-edit noMargin hoverable truncate"><strong>{{item.name}}</strong></h4>
                                <div class="flex-group-right" style="flex: 0.2; margin-right: 5px;">
                                    <a class="item-control item-delete" title="Delete Item"><i class="far fa-times-circle"></i></a>
                                </div>
                            </div>
                            {{/each}}
                            {{else}}
                            <label class="resource-value" style="height: 30px;">No Ware Installed</label>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="contentBox flexGrowHalf">
                <div class="flexrow">
                    <h3 class="subheader">Armor & Gear</h3>
                    <div class="alignRight flexGrowHalf reveal">
                        <div class="alignRight flexGrowHalf">
                            <a class="item-control item-create" title="Create item" data-type="armor" style="max-height: 24px;"><i class="fas fa-plus"></i> Add Armor</a>
                        </div>
                    </div>
                </div>
                <div class="listBackground noMargin">
                    <div class="headSpace">
                        {{#if data.armor}}
                        {{#each data.armor as |item id|}}
                        <div class="item flexrow flex-group-center" data-item-id="{{item._id}}">
                            <div class="flexrow">
                                <input class="sheet-inline-edit item-edit item-standard-margin-medium" data-field="name" type="text" name="item.name" value="{{item.name}}" placeholder="No Armor Name" style="text-align: left; font-weight: bold"/>
                            </div>
                            <div class="flexrow flex-group-right">
                                <label class="labelWidth-large flex-group-center noMargin">Energy: <strong>{{item.data.energy}}</strong></label>
                            </div>
                            <div class="flexrow flex-group-right">
                                <label class="labelWidth-large flex-group-center noMargin">Kinetic: <strong>{{item.data.kinetic}}</strong></label>
                            </div>
                            <div class="flex-group-right input-small">
                                <a class="item-control item-delete" title="Delete Item"><i class="far fa-times-circle"></i></a>
                            </div>
                        </div>
                        {{/each}}
                        {{else}}
                        <div class=" flexrow" style="height: 30px;">
                            <label class="resource-value">Has no armor</label>
                        </div>
                        {{/if}}
                    </div>
                    <div class="headSpace">
                        <div class="flexrow" style="align-items: center">
                            <i class="fas fa-cog" style="color: var(--inactive); flex: 0.05;"></i>
                            <label class="resource-label">Gear:</label>
                        </div>
                        <div class="flexrow headSpace">
                            {{#if data.gear}}
                            {{#each data.gear as |item id|}}
                            <div class="item flexrow trunContainer flex-between" data-item-id="{{item._id}}" style="align-items: center;">
                                <h4 class="item-name item-control item-edit noMargin hoverable truncate"><strong>{{item.name}}</strong></h4>
                                <label class="flex-group-center noMargin alignCenter" style="background: none; font-size: 12px; flex: 0.4"><i>{{item.data.slotType}}</i></label>
                                <div class="flex-group-right" style="flex: 0.2;">
                                    <a class="item-control item-delete" title="Delete Item"><i class="far fa-times-circle"></i></a>
                                </div>
                            </div>
                            {{/each}}
                            {{else}}
                            <label class="resource-value" style="height: 30px;">No Special Gear</label>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{!-- Vehicles Tab --}}
        <div class="tab vehicle" data-group="primary" data-tab="vehicles">
            {{#each data.vehicle as |item id|}}
            {{log "My little Pwny:" this}}
            <div class="contentBox">
                <div class="flexrow">
                    <h3 class="subheader">{{item.name}}</h3>
                    <div class="alignRight flexGrowThreeQuarter">
                        {{#if item.data.ins}}
                        <label class="resource-label">Ins</label>
                        <input class="input-xs sheet-inline-edit" data-field="data.curIns" type="number" name="item.data.curIns" value="{{item.data.curIns}}" placeholder="0"/>
                        <label class="flex-group-center item-standard-margin-medium"><strong>/ {{item.data.ins}}</strong></label>
                        {{/if}}
                        {{#if item.data.mox}}
                        <label class="resource-label">Mox</label>
                        <input class="input-xs sheet-inline-edit" data-field="data.curMox" type="number" name="item.data.curMOx" value="{{item.data.curMox}}" placeholder="0"/>
                        <label class="flex-group-center item-standard-margin-medium"><strong>/ {{item.data.mox}}</strong></label>
                        {{/if}}
                        {{#if item.data.vig}}
                        <label class="resource-label">Vig</label>
                        <input class="input-xs sheet-inline-edit" data-field="data.curVig" type="number" name="item.data.curVig" value="{{item.data.curVig}}" placeholder="0"/>
                        <label class="flex-group-center item-standard-margin-medium"><strong>/ {{item.data.vig}}</strong></label>
                        {{/if}}
                        {{#if item.data.flex}}
                        <label class="resource-label">Flex</label>
                        <input class="input-xs sheet-inline-edit" data-field="data.curFlex" type="number" name="item.data.curFlex" value="{{item.data.curFlex}}" placeholder="0"/>
                        <label class="flex-group-center"><strong>/ {{item.data.flex}}</strong></label>
                        {{/if}}
                    </div>
                </div>
                <div class="topLine">
                    <div class="item" data-item-id="{{item._id}}" style="padding: 0">
                        <table style="margin: 0px; text-align: center;">
                            <tr>
                                <td>
                                    <label class="resource-label">Type</label>
                                </td>
                                <td>
                                    <label class="resource-label">Armor</label>
                                </td>
                                <td>
                                    <label class="resource-label">WT</label>
                                </td>
                                <td>
                                    <label class="resource-label">Damage / DUR</label>
                                </td>
                                <td>
                                    <label class="resource-label">DR</label>
                                </td>
                                <td>
                                    <label class="resource-label">Movement</label>
                                </td>
                                <td>
                                    <label class="resource-label">Size</label>
                                </td>
                                <td>
                                    <a class="item-control item-delete" title="Delete Item"><i class="far fa-times-circle"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="flex-group-center noMargin noBG"><strong>{{item.data.type}}</strong></label>
                                </td>
                                <td>
                                    <input class="input-small sheet-inline-edit" data-field="data.armor" type="text" name="data.armor" value="{{data.armor}}" placeholder="2/2"/>
                                </td>
                                <td>
                                    <label class="flex-group-center noMargin noBG"><strong>{{item.wt}}</strong></label>
                                </td>
                                <td>
                                    <input class="input-small sheet-inline-edit noMargin" data-field="data.curDur" type="number" name="item.data.curDur" value="{{item.data.curDur}}" placeholder="0"/>
                                    <label class="flex-group-center noMargin noBG"><strong>/ {{item.data.dur}}</strong></label>
                                </td>
                                <td>
                                    <label class="flex-group-center noMargin noBG"><strong>{{item.dr}}</strong></label>
                                </td>
                                <td>
                                    <label class="flex-group-center noMargin noBG"><strong>{{item.data.mov}}</strong></label>
                                </td>
                                <td>
                                    <label class="flex-group-center noMargin noBG"><strong>{{item.data.slotType}}</strong></label>
                                </td>
                                <td>
                                </td>
                            </tr>
                        </table>
                        <table class="noMargin alignCenter">
                            <tr>
                                <td>
                                    <input class="sheet-inline-edit" data-field="data.description" type="text" name="item.data.description" value="{{item.data.description}}" placeholder="No modifications"/>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{!-- Psi Tab --}}
        <div class="tab psi" data-group="primary" data-tab="psi">
        {{> systems/eclipsephase/templates/actor/partials/psi.html }}
        </div>
        {{> systems/eclipsephase/templates/actor/partials/effectsTab.html }}
    </section>
</form>