<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="headroom" style="margin-top: 25px">
            <div class="centerBackground" style="position: absolute; clip-path: polygon(0 25%, 85% 25%, 100% 70%, 0% 70%); width: 110px; height: 55px; padding-left: 0.5em; top: -37px;">
                <img class="logo-img" src="systems/eclipsephase/resources/img/logo.png" title="ep2e logo"/>
            </div>
            <div>
                <img class="profile-img" src="{{actor.img}}" data-edit="img"
                title="{{actor.name}}"/>
            </div>
            <div class="centerBackground" style="position: absolute; clip-path: polygon(0 20%, 90% 20%, 100% 100%, 0% 100%); bottom: 4px; padding-bottom: 0; max-width: 225px;">
                <label style="width: auto; font-size: 18px; max-width: 190px;
                  text-shadow: 0 0 5px #161616; margin-right: 5px;">{{actor.name}}</label>
            </div>
        </div>
        <div class="header-fields" style="margin-top: 0px;">
            <div class="contentBox" style="margin-bottom: 0px;">
                <div class="flexrow">
                    <div class="alignRight flexGrowHalf">
                    </div>
                    <h3 class="subheaderMirror">About {{actor.name}}</h3>
                </div>
                {{#if (eq actor.type "character")}}
                <div class="limited-editor">
                  {{editor
                    htmlBiography
                    target="system.biography"
                    button=true
                    owner=owner
                    editable=this.options.editable
                  }}
                </div>
                {{else}}
                <div class="limited-editor">
                  {{editor
                    htmlDescription
                    target="system.description"
                    button=true
                    owner=owner
                    editable=this.options.editable
                  }}
                </div>
                {{/if}}
            </div>
        </div>
    </header>

    {{#if (eq actor.type "character")}}

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div style="flex: 0.7; max-width: 72.5%;">
            <div class="flexrow">
                <h3 class="subheader">{{actor.name}}'s Sleeve</h3>
                <div class="alignRight flexGrowHalf">
                </div>
            </div>
            <div class="limited-editor">
                {{#if (eq activeMorph.key "morph1")}}
                {{editor
                  activeMorph.description
                  target="system.bodies.morph1.description"
                  button=true
                  owner=owner
                  editable=this.options.editable
                }}
                {{else if (eq activeMorph.key "morph2")}}
                {{editor
                  activeMorph.description
                  target="system.bodies.morph2.description"
                  button=true
                  owner=owner
                  editable=this.options.editable
                }}
                {{else if (eq activeMorph.key "morph3")}}
                {{editor
                  activeMorph.description
                  target="system.bodies.morph3.description"
                  button=true
                  owner=owner
                  editable=this.options.editable
                }}
                {{else if (eq activeMorph.key "morph4")}}
                {{editor
                  activeMorph.description
                  target="system.bodies.morph4.description"
                  button=true
                  owner=owner
                  editable=this.options.editable
                }}
                {{else if (eq activeMorph.key "morph5")}}
                {{editor
                  activeMorph.description
                  target="system.bodies.morph5.description"
                  button=true
                  owner=owner
                  editable=this.options.editable
                }}
                {{else if (eq activeMorph.key "morph6")}}
                {{editor
                  activeMorph.description
                  target="system.bodies.morph6.description"
                  button=true
                  owner=owner
                  editable=this.options.editable
                }}
                {{/if}}
            </div>
        </div>
        <div style="position: relative; flex: 0.3;">
            <div class="morph-imgBorder" style="top: -245px;">
                {{#if (eq actor.system.bodies.activeMorph "morph1")}}
                <img class="morph-img" src="{{actor.system.bodies.morph1.img}}"
                data-edit="system.bodies.morph1.img" title="{{actor.name}}'s
                {{actor.system.bodies.morph1.name}}"/>
                {{else if (eq actor.system.bodies.activeMorph "morph2")}}
                <img class="morph-img" src="{{actor.system.bodies.morph2.img}}"
                data-edit="system.bodies.morph2.img" title="{{actor.name}}'s
                {{actor.system.bodies.morph2.name}}"/>
                {{else if (eq actor.system.bodies.activeMorph "morph3")}}
                <img class="morph-img" src="{{actor.system.bodies.morph3.img}}"
                data-edit="system.bodies.morph3.img" title="{{actor.name}}'s
                {{actor.system.bodies.morph3.name}}"/>
                {{else if (eq actor.system.bodies.activeMorph "morph4")}}
                <img class="morph-img" src="{{actor.system.bodies.morph4.img}}"
                data-edit="system.bodies.morph4.img" title="{{actor.name}}'s
                {{actor.system.bodies.morph4.name}}"/>
                {{else if (eq actor.system.bodies.activeMorph "morph5")}}
                <img class="morph-img" src="{{actor.system.bodies.morph5.img}}"
                data-edit="system.bodies.morph5.img" title="{{actor.name}}'s
                {{actor.system.bodies.morph5.name}}"/>
                {{else if (eq actor.system.bodies.activeMorph "morph6")}}
                <img class="morph-img" src="{{actor.system.bodies.morph6.img}}"
                data-edit="system.bodies.morph6.img" title="{{actor.name}}'s
                {{actor.system.bodies.morph6.name}}"/>
                {{/if}}
            </div>
        </div>
    </section>

    {{/if}}

</form>
