<form class="{{cssClass}} flexcol" autocomplete="off" style="margin-top: 30px;">
  
  {{!-- New Limited Sheet --}}
  <div class="centerBackground" style="position: absolute; clip-path: polygon(0 25%, 85% 25%, 100% 100%, 0% 100%); width: 120px; padding-left: 0.5em; top: 18px; z-index: 1; height: 68px;">
    <img class="logo-img" src="systems/eclipsephase/resources/img/logoalt.webp" title="ep2e logo"/>
  </div>
  <div class="centerBackground" style="position: absolute; top: 39px; background-color: var(--highlightBackground); width: 98%; border-bottom: 5px solid var(--pitchBorder); height: 51px;">
    <h3 style="flex-grow: 10; border: none; text-align: center;">About {{actor.name}}</h3>
  </div>
  <div class="grid grid-3col-limited1" style="margin-bottom: 0; gap: 0; margin-top: 25px;">
    <div style="grid-area: left;">
      <div>
          <img class="profile-goon-img" style="margin-top: 18px;" src="{{actor.img}}" data-action="editImage" data-field="img" title="{{actor.name}}"/>
      </div>
    </div>
    <div style="grid-area: center;">
      <div style="margin-top: 17px;">
        <div class="flexrow">
          <div>
          </div>
        </div>
          <div class="limited-editor">
            {{{actor.system.biography}}}
          </div>
      </div>
    </div>
  </div>
  {{#if (eq actor.type "character")}}
    {{#each actor.bodies as |body key|}}
      <!-- "Sleeved" morph has it's own data-tab -->
      {{#if (eq @root.actor.system.activeMorph body.morphdetails.0.id)}}
      <div class="centerBackground" style="background-color: var(--highlightBackground); width: 100%; border-top: 5px solid var(--pitchBorder); border-bottom: 5px solid var(--pitchBorder); height: 51px;">
        <h3 style="flex-grow: 10; border: none; text-align: center;">{{@root.actor.name}}'s Sleeve</h3>
      </div>
        <div class="grid grid-3col-limited2" style="margin-top: 0; gap: 0;">
          <div style="grid-area: left;">
            <div>
              <div class="limited-editor">
                  {{editor
                    body.morphdetails.0.system.description
                    target="body.morphdetails.0.system.description"
                    button=false
                    owner=owner
                    editable=this.options.editable
                  }}
              </div>    
            </div>
          </div>
          <div style="grid-area: center;">
            <div class="limited-sheet">
              <img class="profile-goon-img" src="{{body.morphdetails.0.img}}"
              title="{{actor.name}}'s {{body.morphdetails.0.name}}"/>
            </div>
          </div>
        </div>
      {{/if}}
    {{/each}}
  {{/if}}
</form>
