<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Custom title bar: replaces hidden native window-header --}}
    <div class="ep-sheet-titlebar">
        <div class="ep-titlebar-item-logo">
            <img class="item-img" src="{{actor.img}}" title="{{actor.name}}"/>
        </div>
        <div class="ep-titlebar-name centerBackground">
            <span class="ep-titlebar-name-limited">{{actor.name}}</span>
        </div>
    </div>

    {{!-- No tabs for Observer --}}
    <section class="shop-sheet-body">
        {{> systems/eclipsephase/templates/actor/partials/shop-inventory-panel.html}}
    </section>

    {{> systems/eclipsephase/templates/actor/partials/shop-footer.html}}
</form>
