<form>
    <div class="grid">
        <div class="contentBox">
            <div class="flexrow">
                <h3 class="subheader">Base DV</h3><div class="flexGrowHalf"></div>
            </div>
            <div class="form-group listBackground">
                <input class="alignCenter" type="text" name="currentDV" value="{{weaponDamage}}" placeholder="0" />
            </div>
        </div>
        <div class="contentBox">
            <div class="flexrow">
                <h3 class="subheaderBlank">Firing Mode</h3>
            </div>
            <div class="form-group listBackground">
                <select class="input-XL" name="FiringMode">
                    <option value="none">Standard Shot</option>
                    <option value="burst">Narrow Burst (+1d10)</option>
                    <option value="fullAuto">Full Auto (+2d10)</option>
                </select>
            </div>
        </div>
    </div>
    <div class="contentBox">
        <div class="flexrow">
            <h3 class="subheader">Success Type</h3><div class="flexGrowHalf"></div>
        </div>
        <div class="flexrow">
            <div class="form-group listBackground" style="justify-content: space-between;">
                <select class="input-large" name="successType">
                    <option value="normal">Normal</option>
                    <option value="greater">Greater</option>
                    <option value="superior">Superior</option>
                </select>
                <div class="form-group flexGrowHalf">
                    <label class="resource-label input-small">Crit</label>
                    <input type="checkbox" name="critical">
                </div>
            </div>
        </div>
    </div>
</form>