<form>

    <div class="contentBoxMargin">
        <div class="flexrow subheader">
            <h3 class="subheader dialog">Damage</h3>
        </div>
        {{#if criticalModifier}}
            <div class="form-group listBackgroundMain alignCenter">
                <label>2 x ( {{weaponDamage}} {{modeDamage}} {{successModifier}} {{#if meleeDamageMod}}{{meleeDamageMod}}{{/if}}</label>
            </div>
        {{else}}
            <div class="form-group listBackgroundMain alignCenter">
                <label>{{weaponDamage}} {{modeDamage}} {{successModifier}} {{#if meleeDamageMod}}{{meleeDamageMod}}{{/if}}</label>
            </div>
        {{/if}}
    </div>
    <div class="contentBox">
        <div class="flexrow subheader">
            <h3 class="subheader dialog">Use Pools</h3>
        </div>
        {{#if swapPossible}}
        <div class="form-group listBackgroundMain">
            <div style="display: grid;">
                <label>
                    {{#if (eq choices 1)}}
                    <input type="radio" name="useSwap" value="none" checked>
                        {{localize "ep2e.roll.announce.poolUsage.dontSwap"}}<p>
                    <input type="radio" name="useSwap" value="pool">
                        {{localize "ep2e.roll.announce.poolUsage.swapTo"}} <strong> {{swipSwap}} </strong>) (1 {{poolType}})<p>
                    <input type="radio" name="useSwap" value="flex">
                        {{localize "ep2e.roll.announce.poolUsage.swapTo"}} <strong> {{swipSwap}} </strong>) (1 {{localize "ep2e.skills.flex.poolHeadline"}})<p>
                    {{/if}}
                    {{#if (eq choices 2)}}
                    <input type="radio" name="useSwap" value="none" checked>
                        {{localize "ep2e.roll.announce.poolUsage.dontSwap"}}<p>
                    <input type="radio" name="useSwap" value="flex">
                        {{localize "ep2e.roll.announce.poolUsage.swapTo"}} <strong> {{swipSwap}} </strong>) (1 {{localize "ep2e.skills.flex.poolHeadline"}})<p>
                    {{/if}}
                    {{#if (eq choices 3)}}
                    <input type="radio" name="useSwap" value="none" checked>
                        {{localize "ep2e.roll.announce.poolUsage.dontSwap"}}<p>
                    <input type="radio" name="useSwap" value="pool">
                        {{localize "ep2e.roll.announce.poolUsage.swapTo"}} <strong> {{swipSwap}} </strong>) (1 {{poolType}})<p>
                    {{/if}}
                </label>
            </div>
        </div>
        {{/if}}
        {{#if potentialRaise}}
            {{#if poolValue}}
                <div class="form-group listBackgroundMain">
                    <input type="checkbox" name="useRaise">
                    <label class="resource-label">{{localize "ep2e.roll.announce.poolUsage.raiseLevel"}} 1 {{poolType}}</label>
                </div>
            {{else}}
                <div class="form-group listBackgroundMain">
                    <input type="checkbox" name="useRaise" disabled>
                    <label class="resource-label epInactive">{{poolType}} {{localize "ep2e.roll.announce.poolUsage.notAvailable"}}</label>
                </div>
            {{/if}}
        {{/if}}
    </div>
</form>