<form>

    <div class="contentBoxMargin">
        <div class="flexrow subheader">
            <h3 class="subheader dialog">Damage</h3>
        </div>
        {{#if criticalModifier}}
            <div class="form-group listBackgroundMain alignCenter">
                <label>2 x [ {{weaponDamage}} {{modeDamage}} {{successModifier}}</label>
            </div>
        {{else}}
            <div class="form-group listBackgroundMain alignCenter">
                <label>{{weaponDamage}} {{modeDamage}} {{successModifier}}</label>
            </div>
        {{/if}}
    </div>
    <div class="contentBox">
        <div class="flexrow subheader">
            <h3 class="subheader dialog">Use Pools</h3>
        </div>
        {{#if swapPossible}}
        <div class="form-group listBackgroundMain">
            <div style="display: grid;">
                {{radioBoxes groupName choices checked=chosen localize=true}}
            </div>
        </div>
        {{/if}}
        {{#if potentialRaise}}
            {{#if poolValue}}
                <div class="form-group listBackgroundMain">
                    <input type="checkbox" name="useRaise">
                    <label class="resource-label">Use {{poolType}} to raise <strong>Success Level</strong></label>
                </div>
            {{else}}
                <div class="form-group listBackgroundMain">
                    <input type="checkbox" name="useRaise" disabled>
                    <label class="resource-label epInactive">No {{poolType}} available</label>
                </div>
            {{/if}}
        {{/if}}
    </div>
</form>