
<div class="alignCenter">

    <p>{{localize title}}<br>
        {{#if roll}}
            {{rollLength}}{{localize rollTimes}}
        {{/if}}
    </p>

    {{#if (ne totalDamage 0)}}
        {{#if roll}}
            <p style="font-size: 10px;">
                {{#if (gt weeksValue 0)}}
                    <span>{{weeksValue}}</span>
                    <span>{{localize weeksLabel}}</span>
                {{/if}}
                {{#if (gt daysValue 0)}}
                    <span>{{daysValue}}</span>
                    <span>{{localize daysLabel}}</span>
                {{/if}}
                {{#if (gt hoursValue 0)}}
                    <span>{{hoursValue}}</span>
                    <span>{{localize hoursLabel}}</span>
                {{/if}}
            </p>
        {{/if}}

        <p></p>
        {{#if (ne roll true)}}
            <div class="grid" style="margin: 0 0 20px 0; padding: 25px 0; background-color: var(--mainBackground);">
                {{#if damageValue}}
                    <div class="flexrow flex-group-center">
                        <span>{{localize damageType}}</span>
                    </div>
                    <div class="flexrow flex-group-center">
                        <span>{{damageValue}}</span>
                    </div>
                {{/if}}
                {{#if modifierValue}}
                    <div class="flexrow flex-group-center">
                        <span>{{localize modifierType}}</span>
                    </div>
                    <div class="flexrow flex-group-center">
                        <span>{{modifierValue}}</span>
                    </div>   
                {{/if}} 
                {{#if timeframe}}
                    <div class="flexrow flex-group-center">
                        <span>{{localize timeframeLabel}}</span>
                    </div>
                    <div>
                        {{#if (gt weeksValue 0)}}
                            <p style="margin: 0px;">{{weeksValue}} {{localize weeksLabel}}</p>
                        {{/if}}
                        {{#if (gt daysValue 0)}}
                            <p style="margin: 0px;">{{daysValue}} {{localize daysLabel}}</p>
                        {{/if}}
                        {{#if (gt hoursValue 0)}}
                            <p style="margin: 0px;">{{hoursValue}} {{localize hoursLabel}}</p>
                        {{/if}}
                    </div>   
                {{/if}} 
                {{#if healthFull}}
                    <span>{{localize healthFull}}</span>
                {{/if}}
            </div>
        {{/if}}
    {{/if}}
</div>
  
  