<form>
    <div class="grid grid-4col-dialogue">
        <div class="dialogWrapperLeft">
            <div class="flexrow subheader">
                <h3 class="subheader dialog">General Modifier</h3>
            </div>
        </div>
        <div class="dialogWrapperCenter">
            <div class="flexrow subheader">
                <h3 class="subheader dialog">Attacker Modifier</h3>
            </div>
        </div>
        <div class="dialogWrapperRight">
            <div class="flexrow subheader">
                <h3 class="subheader dialog">Defender Modifier</h3>
            </div>
        </div>
    </div>
    <div class="grid grid-4col" style="margin-top: 0;">
        <div>
            <div class="contentBoxMargin">
                <div class="form-group listBackgroundMain">
                    <label class="resource-labelDialog" style="min-width: 140px;">Global Mod</label>
                    <input type="number" name="GlobalMod" placeholder="e.g. -20" />
                </div>
                {{#if specName}}
                <div class="form-group listBackgroundMain">
                    <input type="checkbox" name="useSpec">
                    <label class="resource-label">Use "{{specName}}" (+10)</label>
                </div>
                {{else}}
                <div class="form-group listBackgroundMain">
                    <input type="checkbox" name="useSpec" disabled>
                    <label class="resource-label epInactive">No Specialization</label>
                </div>
                {{/if}}
                {{#if (eq actorType "character")}}
                    {{#if poolValue}}
                    <div class="form-group listBackgroundMain">
                        <input type="checkbox" name="usePool">
                        <label class="resource-label">Use {{poolType}} (+20)</label>
                    </div>
                    {{else}}
                    <div class="form-group listBackgroundMain">
                        <input type="checkbox" name="usePool" disabled>
                        <label class="resource-label epInactive">No {{poolType}} left</label>
                    </div>
                    {{/if}}
                {{else}}
                    {{#if threatLevel}}
                    <div class="form-group listBackgroundMain">
                        <input type="checkbox" name="useThreat">
                        <label class="resource-label">Use Threat (+20)</label>
                    </div>
                    {{else}}
                    <div class="form-group listBackgroundMain">
                        <input type="checkbox" name="useThreat" disabled>
                        <label class="resource-label epInactive">No threat left</label>
                    </div>
                    {{/if}}
                {{/if}}
            </div>
            <div class="contentBoxMargin">
                <div class="flexrow subheader">
                    <h3 class="subheader dialog">Mode</h3>
                </div>
                <div class="form-group listBackgroundMain">
                    <select name="RollMode">
                        <option value="public">Public Roll</option>
                        <option value="private">Private GM Roll</option>
                        <option value="blind">Blind GM Roll</option>
                    </select>
                </div>
            </div>
        </div>
        <div>
            <div class="form-group listBackgroundMain">
                <input type="checkbox" checked name="Smartlink">
                <label class="resource-label">Smartlink (-10 if none)</label>
            </div>
            <div class="form-group listBackgroundMain">
                <input type="checkbox" name="SupPosition">
                <label class="resource-label">Superior Position (+20)</label>
            </div>
            <div class="form-group listBackgroundMain">
                <label class="resource-labelDialog">Fire Mode:</label>
                <select name="FiringMode"  style="max-width: 140px;">
                    <option value="single">Standard Shot</option>
                    <option value="burst">Narrow Burst (+1d10)</option>
                    <option value="fullAuto">Narrow Full Auto (+2d10)</option>
                    <option value="wBurst">Wide Burst (+10 Hit)</option>
                    <option value="wFullAuto">Wide Full Auto (+30 Hit)</option>
                    <option value="indirect">Indirect (-20)</option>
                    <option value="suppressive">Suppressive (uses 20 rounds)</option>
                </select>
            </div>
            <div class="form-group listBackgroundMain">
                <label class="resource-labelDialog">Aim:</label>
                <select class="input-largePlus" name="Aim">
                    <option value="none">Standard</option>
                    <option value="quick">Quick Aim (+10)</option>
                    <option value="long">Long Aim (+30)</option>
                </select>
            </div>
            <div class="form-group listBackgroundMain">
                <label class="resource-labelDialog">Distance:</label>
                <select class="input-largePlus" name="Range">
                    <option value="pointBlank">Point Blank (+10)</option>
                    <option selected="none" value="none">Standard</option>
                    <option value="range">Range (-10)</option>
                    <option value="beyond">Beyond (-20)</option>
                    <option value="beyond+">Beyond+ (-30)</option>
                </select>
            </div>
        </div>
        <div>
            <div class="form-group listBackgroundMain">
                <input type="checkbox" name="CalledShot">
                <label class="resource-label">Called Shot (-10)</label>
            </div>
            <div class="form-group listBackgroundMain">
                <input type="checkbox" name="AttackerCover">
                <label class="resource-label">In Cover (-10)</label>
            </div>
            <div class="form-group listBackgroundMain">
                <input type="checkbox" name="Running">
                <label class="resource-label">Is Running (-10)</label>
            </div>
            <div class="form-group listBackgroundMain">
                <input type="checkbox" name="Melee">
                <label class="resource-label">In Melee (-10)</label>
            </div>
            <div class="form-group listBackgroundMain">
                <label class="resource-labelDialog">Visual Malus:</label>
                <select class="input-large" name="VisualImpair">
                    <option value="none">None</option>
                    <option value="minor">Minor (-10)</option>
                    <option value="major">Major (-30)</option>
                    <option value="blind">Blind (-30+)</option>
                </select>
            </div>
        </div>
        <div>
            <div class="form-group listBackgroundMain">
                <label class="resource-labelDialog">Size:</label>
                <select class="input-largePlus" name="Size">
                    <option value="xs">Very Small (-30)</option>
                    <option value="s">Small (-10)</option>
                    <option selected="none" value="none">Normal</option>
                    <option value="l">Large (+10)</option>
                    <option value="xl">Very Large (+30)</option>
                </select>
            </div>
            <div class="form-group listBackgroundMain">
                <label class="resource-labelDialog">Cover:</label>
                <select class="input-largePlus" name="TargetCover">
                    <option value="none">None</option>
                    <option value="minor">Minor (-10)</option>
                    <option value="moderate">Moderate (-20)</option>
                    <option value="major">Major (-30)</option>
                </select>
            </div>
            <div class="form-group listBackgroundMain">
                <input type="checkbox" name="DefenderProne">
                <label class="resource-label">Is Prone (-10 if at range)</label>
            </div>
            <div class="form-group listBackgroundMain">
                <input type="checkbox" name="DefenderHidden">
                <label class="resource-label">Is Hidden (-30)</label>
            </div>
        </div>
    </div>
</form>