<form>
    <div class="contentBoxMargin">
        <div class="flexrow subheader">
            <h3 class="subheader dialog">Dear System User</h3>
        </div>
        <div class="form-group listBackgroundMain">
            <label class="resource-label">Thank you for playing Eclipse Phase with our system. To guarantee the overall file integrity in the upcoming updates, we ask you to shortly migrate your data to the latest structure, provided with update 0.8.1.<p/><p/><b>This is necessary for implementing even cooler features than we already have (like lokalization e.g.), and will only take a few seconds.</b><p/><p/> Thank you and have a great day playing!<p><i>Note: Please note that drugs underwent a general overhaul. Just pull them from the compendium again and delete the old ones.</i></p></label>
        </div>
    </div>
</form>