<form>
    {{#if endMigration}}
    <div class="contentBoxMargin">
        <div class="flexrow subheader">
            {{{localize messageHeadline}}}
        </div>
        <div class="form-group listBackgroundMain">
            {{{localize messageCopy}}}
        </div>
    </div>
    {{else}}
    <div class="contentBoxMargin">
        <div class="flexrow subheader">
            {{{localize messageHeadline}}}
        </div>
        <div class="form-group listBackgroundMain">
            {{{localize messageCopy}}}
        </div>
    </div>
    {{/if}}
</form>