
<div class="alignCenter">

  {{#if (eq type "usedSwipSwap")}}
    {{localize "ep2e.roll.announce.poolUsage.poolUsed"}} (<strong>{{localize poolName}}</strong>)<br>
    {{localize "ep2e.roll.announce.poolUsage.swappedTo"}} <strong>{{swipSwap}}</strong><p>
    <div style="margin: 10px 0 20px 0; padding: 20px 0; background-color: var(--mainBackground);">
      <span class="success">{{localize resultText}}</span>
    </div>
  {{/if}}

  {{#if (eq type "usedRaise")}}
    {{localize "ep2e.roll.announce.poolUsage.poolUsed"}} (<strong>{{localize poolName}}</strong>)<br>
    {{localize "ep2e.roll.announce.poolUsage.raisedTo"}}<p>
    <div style="margin: 10px 0 20px 0; padding: 20px 0; background-color: var(--mainBackground);">
      <span class="success">{{localize resultText}}</span>
    </div>
  {{/if}}

  {{#if (eq type "beyondSuperior")}}
  <div style="margin: 10px 0 20px 0; padding: 20px 0; background-color: var(--mainBackground);">
    {{localize "ep2e.roll.announce.poolUsage.beyondSuperior"}}<br>
    {{localize "ep2e.roll.announce.poolUsage.notDeducted"}} ({{localize poolName}})<p>
  </div>
  {{/if}}

  {{#if (eq type "notEnoughPool")}}
  <div style="margin: 10px 0 20px 0; padding: 20px 0; background-color: var(--mainBackground);">
    {{localize "ep2e.roll.announce.poolUsage.notEnoughPool"}} (<strong>{{localize poolName}}</strong>)<br>
    {{localize "ep2e.roll.announce.poolUsage.cantRaise"}}<p>
  </div>
  {{/if}}

  {{#if (eq type "mitigate")}}
  <div style="margin: 10px 0 20px 0; padding: 20px 0; background-color: var(--mainBackground);">
    {{localize "ep2e.roll.announce.poolUsage.poolUsed"}} (<strong>{{localize poolName}}</strong>)<p>
      {{localize "ep2e.roll.announce.poolUsage.newResult"}}<br>
    <span class="fail">{{localize severityNew}}</span><p>
  </div>
  {{/if}}

</div>