<form>
  <div class="alignCenter">

    <!-- heal damage partially from health bar (common-sheet-functions.js healDamage())-->
    {{#if (eq dialogType "healDamage")}}
      <div class="contentBoxMargin">
        <div class="flexrow subheader">
            <h3 class="subheader dialog">{{localize "ep2e.roll.dialog.heal.infoSubheadline"}}</h3>
        </div>
        <div class="listBackgroundMain">
          {{#if (eq type "physical")}}
            <p>{{localize "ep2e.roll.dialog.heal.infoCopyPhysical"}}</p>
            <div class="listBackgroundPitch flexrow alignLeft">
              {{#if (gt enhancementsCount 0)}}
                <span class="resource-value" style="min-width: 100%;"><strong>{{localize "ep2e.roll.dialog.heal.enhancementsLabel"}}:</strong></span> 
                <ul>
                {{#each enhancements as |value key|}}
                  <li>{{key}}</li>
                {{/each}}
                </ul>
              {{else}}
                {{localize "ep2e.roll.dialog.heal.noBiomods"}}
              {{/if}} 
            </div>
          {{else if (eq type "mental")}}
            <p>{{{localize "ep2e.roll.dialog.heal.infoCopyMental"}}}</p>
          {{/if}}
        </div>
      </div>
        <div class="contentBoxMargin">
          <div class="flexrow subheader">
            <h3 class="subheader dialog">{{localize "ep2e.skills.pool.inputSubheadline"}}</h3>
          </div>
          <div class="listBackgroundMain">
            <div class="form-group listBackgroundMain alignLeft">
            {{#if (eq type "physical")}}
            <div class="flexrow" style="align-items: center; min-width: 100%;">
              <label class="resource-label">{{localize "ep2e.roll.dialog.heal.additions.label"}}:</label>
              <select name="addition" class="alignLeft input-largePlus">
                  <option value="none">{{localize "ep2e.roll.dialog.heal.additions.none"}}</option>
                  <option value="meds">{{localize "ep2e.roll.dialog.heal.additions.meds"}} (+1d10)</option>
                  <option value="fixers">{{localize "ep2e.roll.dialog.heal.additions.fixers"}} (+1d10)</option>
                  <option value="spray">{{localize "ep2e.roll.dialog.heal.additions.spray"}} (+1d10)</option>
                  <option value="tank">{{localize "ep2e.roll.dialog.heal.additions.tank"}} (+2d10)</option>
              </select>
            </div>
            <div class="flexrow" style="align-items: center; min-width: 100%;">
              <label class="resource-label">{{localize "ep2e.roll.dialog.heal.timeframe.label"}}:</label>
              <input class="input-small alignCenter" type="number" name="durationMultiplier" placeholder="1" />
              <select name="duration" class="alignLeft input-large">
                  <option value="hours">{{localize "ep2e.roll.dialog.heal.timeframe.hours"}}</option>
                  <option value="days">{{localize "ep2e.roll.dialog.heal.timeframe.days"}}</option>
                  <option value="weeks">{{localize "ep2e.roll.dialog.heal.timeframe.weeks"}}</option>
              </select>
            </div>
            <div class="flexrow" style="align-items: center; min-width: 100%;">
              <label class="resource-label">{{localize "ep2e.roll.dialog.heal.circumstances.label"}}:</label>
              <select name="circumstances" class="alignLeft input-largePlus">
                  <option value="none">{{localize "ep2e.roll.dialog.heal.circumstances.none"}}</option>
                  <option value="poor">{{localize "ep2e.roll.dialog.heal.circumstances.poor"}} (x 2)</option>
                  <option value="harsh">{{localize "ep2e.roll.dialog.heal.circumstances.harsh"}} (x 3)</option>
              </select>
            </div>
            {{/if}}
            {{#if (eq type "mental")}}
            <div class="flexrow" style="align-items: center; min-width: 100%;">
              <input name="addition" type="checkbox" checked id="therapy" style="margin: 5px 10px 5px 0px"/>
              <label class="resource-label" for="therapy">{{localize "ep2e.roll.dialog.heal.additions.therapy"}}</label>
            </div>
            <div class="flexrow" style="align-items: center; min-width: 100%;">
              <label class="resource-label">{{localize "ep2e.roll.dialog.heal.timeframe.label"}}:</label>
              <input class="input-small alignCenter" type="number" name="durationMultiplier" placeholder="1" />
              <select name="duration" class="alignLeft input-large">
                  <option value="days">{{localize "ep2e.roll.dialog.heal.timeframe.days"}}</option>
                  <option value="weeks">{{localize "ep2e.roll.dialog.heal.timeframe.weeks"}}</option>
              </select>
            </div>
            {{/if}}
            </div>
          </div>
        </div>
    {{/if}}
      
    <!-- Use pool directly from actor sheet (EPactorSheet.js line 1056 onwards)-->
    {{#if (eq dialogType "poolUsage")}}
      <div class="contentBoxMargin">
        <div class="flexrow subheader">
            <h3 class="subheader dialog">{{localize "ep2e.skills.pool.infoSubheadline"}}</h3>
        </div>
        <div class="listBackgroundMain">
          <p>{{localize "ep2e.skills.pool.dialogCopy"}}</p>
          <div class="listBackgroundPitch">
            <span class="resource-value"><strong>{{localize subtitle}}: </strong></span><span>{{localize copy}}</span>
          </div>
        </div>
      </div>
      {{#if inputNeeded}}
        <div class="contentBoxMargin">
          <div class="flexrow subheader">
            <h3 class="subheader dialog">{{localize "ep2e.skills.pool.inputSubheadline"}}</h3>
          </div>
          <div class="listBackgroundMain">
            <div class="form-group listBackgroundMain alignLeft">
          {{#if (eq inputType "repFill")}}
              <label class="resource-label">{{localize "ep2e.skills.pool.repSize"}}</label>
              <select name="modifier" class="alignCenter input-large">
                  <option value="1">{{localize "ep2e.roll.dialog.reputationMode.minor"}} (1 {{localize poolName}})</option>
                  <option value="2">{{localize "ep2e.roll.dialog.reputationMode.moderate"}} (2 {{localize poolName}})</option>
              </select>
          {{/if}}
          {{#if (eq inputType "woundIgnore")}}
              <label class="resource-label">{{localize "ep2e.skills.pool.numberWounds"}}</label>
              <input class="input-small" type="number" name="modifier" placeholder="1" />
          {{/if}}
          {{#if (eq inputType "traumaIgnore")}}
              <label class="resource-label">{{localize "ep2e.skills.pool.numberTrauma"}}</label>
              <input class="input-small" type="number" name="modifier" placeholder="1" />
          {{/if}}
            </div>
          </div>
        </div>
      {{/if}}
    {{/if}}

    <!-- Bring a rule text button in the Chat (common-sheet-functions.js line 183 onwards)-->
    {{#if (eq dialogType "information")}}
      <!-- if not rolled from a skill/item)-->
      {{#if (eq rolledfrom "info")}}
        <div class="contentBoxMargin">
          <div class="flexrow subheader">
              <h3 class="subheader dialog">{{localize title}}</h3>
          </div>
          <div class="listBackgroundMain">
            <p>{{localize description}}</p>
            <strong>{{localize value}}</strong>
          </div>
        </div>
      {{/if}}
      
      <!-- if rolled from a psi sleight)-->
      {{#if (eq rolledfrom "psiSleight")}}
        <div class="item" style="margin-bottom: 10px;">
            <div class="flexrow subheader">
                <!--Name & Dice Roller-->
                <div class="flexrow subheader flex-between">
                  <h3 class="subheader dialog">{{localize title}}</h3>
                  <div class="flexrow alignRight flexGrowQuarter" style="align-items: center; justify-content: flex-end;">
                      <i class="fa-regular fa-virus-covid icon-space awesomeIcon"></i></i>
                      <h4 class="item-image input-xs noMargin"><strong> {{resource}}</strong></h4>
                  </div>
                </div>
            </div>
            <!--Psi Details-->
            <div>
                <div class="grid" style="justify-items: center">
                    <div class="flexrow flex-group-left">
                        <i class="fa-regular fa-chevrons-right icon-space awesomeIcon"></i>
                        <label class="labelWidth-large noMargin"><strong>{{localize action}}</strong></label>
                    </div>
                    <div class="flexrow flex-group-left">
                        <i class="fa-regular fa-clock-rotate-left icon-space awesomeIcon"></i>
                        <label class="labelWidth-medium noMargin"><strong> {{localize duration}}</strong></label>
                    </div>
                </div>
                <div>
                    <div class="itemDescription">
                      {{localize description}}
                    </div>
                </div>
            </div>
        </div>
      {{/if}}

      <!-- if rolled from a ranged weapon ammunition)-->
      {{#if (eq rolledfrom "ammoInfo")}}
        <div class="item" style="margin-bottom: 10px;">
            <div class="flexrow subheader">
                <!--Name & Dice Roller-->
                <div class="flexrow subheader flex-between">
                  <h3 class="subheader dialog">{{localize name}}</h3>
                </div>
            </div>
            <!--Ammo Details-->
            <div>
                <div class="flexrow flex-group-center wantToKnowMore" style="min-height: 40px; min-width: 100%; background-color: var(--pitchBorder); margin-top: -3px;">
                    <div class="flexrow flex-group-center">
                        <span class="tooltipText" style="left: auto;">{{localize "ep2e.item.weapon.table.damageValueModifier"}}</span>
                        <label><i class="fa-solid fa-explosion icon-small alignCenter awesomeIcon" style="margin-right: 5px;"></i><strong>{{localize dvModifier.calculated}}</strong></label>
                    </div>
                </div>
                <div class="itemDescription" style="display: flex; flex-wrap: wrap;">
                  {{localize description}}
                </div>
                {{#if traits}}
                <div class="flexrow">
                  {{#each traits as |item key|}}
                  {{#if (eq item.value true)}}
                      {{#if (eq key "dvOnMiss")}}
                      <div class="extendedPillgrid wantToKnowMore">
                          <span for="moreInfo" style="background-color: var(--pitchBorder); min-width: fit-content; padding: 0 5px 0px 10px; border-left: 2px solid var(--accentBackground);">{{localize item.name}}</span>
                          <span class="tooltipText" style="font-size: 13px;">{{localize "ep2e.item.weapon.table.damageValue"}}</span>
                          {{#if item.dv.d10}}
                          <img src="icons/svg/d10-grey.svg" class="icon-xsmall icon-space"/>
                          <label class="input-xs icon-space">{{item.dv.d10}}</label>
                          {{/if}}
                          {{#if item.dv.d6}}
                          <img src="icons/svg/d6-grey.svg" class="icon-xsmall icon-space"/>
                          <label class="input-xs icon-space">{{item.dv.d6}}</label>
                          {{/if}}
                          {{#if item.dv.bonus}}
                          <i class="fas fa-plus awesomeIcon icon-space"></i>
                          <label class="input-xs icon-space">{{item.dv.bonus}}</label>
                          {{/if}}
                      </div>
                      {{else if (eq key "indirectOrBonus")}}
                      <div class="extendedPillgrid wantToKnowMore">
                          <span for="moreInfo" style="background-color: var(--pitchBorder); min-width: fit-content; padding: 0 5px 0px 10px; border-left: 2px solid var(--accentBackground);">{{localize item.name}}</span>
                          <img src="systems/eclipsephase/resources/icons/246_skill%20gun%20accuracy.png" class="icon-small"/>
                          <span class="tooltipText" style="font-size: 13px;">{{localize "ep2e.skills.vigorSkills.guns"}} {{localize "ep2e.skills.skillMod"}}</span>
                          <label class="input-small">+ {{item.skillMod}}</label>
                      </div>
                      {{else if (eq key "knockdown")}}
                      <div class="extendedPillgrid wantToKnowMore">
                          <span for="moreInfo" style="background-color: var(--pitchBorder); min-width: fit-content; padding: 0 5px 0px 10px; border-left: 2px solid var(--accentBackground);">{{localize item.name}}</span>                                
                          {{#if item.radius}}
                          <img src="systems/eclipsephase/resources/icons/radius.webp" class="icon-xsmall icon-space"/>
                          <span class="tooltipText" style="font-size: 13px;">{{localize "ep2e.item.weapon.table.radius"}}</span>
                          <label class="input-xs alignCenter">{{item.radius}}</label>
                          {{/if}}
                      </div>
                      {{else}}
                      <div class="extendedPillgrid wantToKnowMore">
                          <span for="moreInfo" style="background-color: var(--pitchBorder); min-width: fit-content; padding: 0 5px 0px 10px; border-left: 2px solid var(--accentBackground);">{{localize item.name}}</span>
                      </div>
                      {{/if}}
                  {{/if}}
                  {{/each}}
                </div>
                {{/if}}
            </div>
        </div>
      {{/if}}
    {{/if}}

    <!-- Choose an auto Push if Infection Rating > 66 (EPactor.js line 593 onwards)-->
    {{#if (eq dialogType "selectAutoPush")}}
    <div class="contentBoxMargin">
      <div class="flexrow subheader">
          <h3 class="subheader dialog">{{localize "ep2e.roll.dialog.autoPush"}}</h3>
      </div>
      <div class="form-group listBackgroundMain">
          <label class="resource-labelDialog">{{localize "ep2e.roll.dialog.push.label"}}</label>
          <select name="autoPush">
              <option value="none">{{localize "ep2e.roll.dialog.push.none"}}</option>
              <option value="range">{{localize "ep2e.roll.dialog.push.range"}}</option>
              <option value="effect">{{localize "ep2e.roll.dialog.push.effect"}}</option>
              <option value="power">{{localize "ep2e.roll.dialog.push.power"}}</option>
              <option value="penetration">{{localize "ep2e.roll.dialog.push.penetration"}}</option>
              <option value="duration">{{localize "ep2e.roll.dialog.push.duration"}}</option>
              <option value="target">{{localize "ep2e.roll.dialog.push.target"}}</option>
          </select>
      </div>
      {{/if}}

      <!-- Ask for confirmation (Confirm/Cancel) (common-sheet-functions.js line 135 onwards)-->
      {{#if (eq dialogType "confirmation")}}
      <div class="item" style="margin-bottom: 10px;">
          <!--Only show headline if defined-->
          {{#if popUpHeadline}}
          <div class="flexrow subheader">
              <h3 class="subheader dialog" style="clip-path: none;">{{localize popUpHeadline}}</h3>
          </div>
          {{/if}}
          <!--Copy-->
          <div class="listBackgroundMain alignLeft">
            <p>{{{localize popUpCopy}}}</p>
            <b>{{popUpTarget}}</b>
            {{{localize popUpInfo}}}
          </div>
      </div>
      {{/if}}

      <!-- Replace Skills with bot AI skills (Confirm/Cancel) (EPvehicleSheet.js line 63 onwards)-->
      {{#if (eq dialogType "autoBot")}}
      <div class="item" style="margin-bottom: 10px;">
          <!--Only show headline if defined-->
          {{#if popUpHeadline}}
          <div class="flexrow subheader">
              <h3 class="subheader dialog" style="clip-path: none;">{{localize popUpHeadline}}</h3>
          </div>
          {{/if}}
          <!--Copy-->
          <div class="listBackgroundMain alignLeft">
            {{{localize popUpCopy}}}
            <div style="display: flex; justify-content: center; margin: 10px 0;">
              <select name="type">
                <option value="none">{{localize "ep2e.item.vehicle.table.habitat.none"}}</option>
                <option value="ground">{{localize "ep2e.item.vehicle.table.habitat.ground"}}</option>
                <option value="air">{{localize "ep2e.item.vehicle.table.habitat.air"}}</option>
                <option value="space">{{localize "ep2e.item.vehicle.table.habitat.space"}}</option>
                <option value="nautical">{{localize "ep2e.item.vehicle.table.habitat.nautical"}}</option>
              </select>
            </div>
            {{{localize popUpInfo}}}
          </div>
      </div>
      {{/if}}
  </div>
</form>