<form>
    <div class="grid noMargin">
        <div class="contentBox">
            <div class="flexrow subheader">
                <h3 class="subheader">Modifier</h3><div class="flexGrowHalf"></div>
            </div>
            <div class="form-group listBackgroundMain">
                <input type="number" name="GlobalMod" placeholder="0" />
            </div>
        </div>
        <div class="contentBox">
            <div class="flexrow subheader">
                <div class="flexGrowHalf"></div><h3 class="subheaderMirror">Mode</h3>
            </div>
            <div class="form-group listBackgroundMain">
                <select name="RollMode">
                    <option value="public">Public Roll</option>
                    <option selected="selected" value="private">Private GM Roll</option>
                    <option value="blind">Blind GM Roll</option>
                </select>
            </div>
        </div>
    </div>
    <div class="contentBox">
        <div class="flexrow subheader">
            <h3 class="subheader">Infection Calculator</h3><div class="flexGrowHalf"></div>
        </div>
        <div class="form-group listBackgroundMain">
            <label class="input-large">Base cost</label>
            <input class="input-small item-standard-margin-both-large" type="number" name="AspectNumber" placeholder="0" />
            <label class="input-medium item-standard-margin-both-large">Pushes</label>
            <input class="input-small" type="number" name="PushesNumber" placeholder="0" />
        </div>
    </div>
</form>