<form>

    <div class="contentBoxMargin listBackgroundMain alignCenter">
        <label class="resource-labelDialog">You met your goal with a</label><p/>
        <span class="success">{{successName}}</span><p/>
        <label class="resource-labelDialog">You can even increase it <br/>by using your pools...</label>
    </div>
    <div class="contentBox">
        <div class="flexrow subheader">
            <h3 class="subheader dialog">Use Pools</h3>
        </div>
        {{#if swapPossible}}
        <div class="form-group listBackgroundMain">
            <div style="display: grid;">
                {{radioBoxes groupName choices checked=chosen localize=true}}
            </div>
        </div>
        {{/if}}
        {{#if potentialRaise}}
            {{#if poolValue}}
                <div class="form-group listBackgroundMain">
                    <input type="checkbox" name="useRaise">
                    <label class="resource-label">1 {{poolType}} to raise <strong>Success Level</strong></label>
                </div>
            {{else}}
                <div class="form-group listBackgroundMain">
                    <input type="checkbox" name="useRaise" disabled>
                    <label class="resource-label epInactive">No {{poolType}} available</label>
                </div>
            {{/if}}
        {{/if}}
    </div>
</form>