<form class="eclipsephase">
  <div class="contentBox noMargin">
    <div class="flexrow flex-group-center" style="padding: 5px 10px;">
      <label class="resource-value rest-dist-status" style="min-width: 100%; font-size: 16px;"></label>
    </div>
    <div class="grid grid-4col" style="padding: 5px 10px;">
      <div class="flexrow flex-group-center">
        <input class="input-xs rest-dist-input" type="number" name="insight" value="0" placeholder="0" min="0"/>
        <label class="resource-value" style="min-width: 100%;">{{localize "ep2e.skills.restingMenu.labelInsight"}}</label>
      </div>
      <div class="flexrow flex-group-center">
        <input class="input-xs rest-dist-input" type="number" name="vigor" value="0" placeholder="0" min="0"/>
        <label class="resource-value" style="min-width: 100%;">{{localize "ep2e.skills.restingMenu.labelVigor"}}</label>
      </div>
      <div class="flexrow flex-group-center">
        <input class="input-xs rest-dist-input" type="number" name="moxie" value="0" placeholder="0" min="0"/>
        <label class="resource-value" style="min-width: 100%;">{{localize "ep2e.skills.restingMenu.labelMoxie"}}</label>
      </div>
      <div class="flexrow flex-group-center">
        <input class="input-xs rest-dist-input" type="number" name="flex" value="0" placeholder="0" min="0"/>
        <label class="resource-value" style="min-width: 100%;">{{localize "ep2e.skills.restingMenu.labelFlex"}}</label>
      </div>
    </div>
  </div>
</form>
