<form>
    <div class="grid">
        <div class="contentBox">
            <div class="flexrow">
                <h3 class="subheader">Modifier</h3><div class="flexGrowHalf"></div>
            </div>
            <div class="form-group listBackground">
                <input type="number" name="GlobalMod" placeholder="0" />
            </div>
        </div>
        <div class="contentBox">
            <div class="flexrow">
                <div class="flexGrowHalf"></div><h3 class="subheaderMirror">Mode</h3>
            </div>
            <div class="form-group listBackground">
                <select name="RollMode">
                    <option value="public">Public Roll</option>
                    <option value="private">Private GM Roll</option>
                    <option value="blind">Blind GM Roll</option>
                </select>
            </div>
        </div>
    </div>
</form>