<form>
    <div class="contentBoxMargin">
        <div class="flexrow subheader">
            <h3 class="subheader dialog">{{localize "ep2e.roll.dialog.generalModHeadline"}}</h3>
        </div>
        <div class="form-group listBackgroundMain">
            <label class="resource-labelDialog" style="min-width: 140px;">{{localize "ep2e.roll.dialog.globalModLabel"}}</label>
            <input type="number" name="GlobalMod" placeholder="e.g. -20" />
        </div>
        {{#if specName}}
        <div class="form-group listBackgroundMain">
            <input type="checkbox" name="useSpec">
            <label class="resource-label">{{localize "ep2e.roll.dialog.usePool"}} "{{specName}}" (+10)</label>
        </div>
        {{else}}
        <div class="form-group listBackgroundMain">
            <input type="checkbox" name="useSpec" disabled>
            <label class="resource-label epInactive">{{localize "ep2e.roll.dialog.noSpecLabel"}}</label>
        </div>
        {{/if}}
        {{#if (eq actorType "character")}}
            {{#if poolValue}}
            <div class="form-group listBackgroundMain">
                <input type="checkbox" name="usePool">
                <label class="resource-label">{{localize "ep2e.roll.dialog.usePool"}} {{poolType}} (+20)</label>
            </div>
            {{else}}
            <div class="form-group listBackgroundMain">
                <input type="checkbox" name="usePool" disabled>
                <label class="resource-label epInactive">{{localize "ep2e.roll.dialog.noPool"}}</label>
            </div>
            {{/if}}
        {{else}}
            {{#if poolValue}}
            <div class="form-group listBackgroundMain">
                <input type="checkbox" name="useThreat">
                <label class="resource-label">{{localize "ep2e.roll.dialog.useThreat"}}</label>
            </div>
            {{else}}
            <div class="form-group listBackgroundMain">
                <input type="checkbox" name="useThreat" disabled>
                <label class="resource-label epInactive">{{localize "ep2e.roll.dialog.noPool"}}</label>
            </div>
            {{/if}}
        {{/if}}
    </div>
    {{#if (eq taskType "fray")}}
    <div class="contentBoxMargin">
        <div class="flexrow subheader">
            <h3 class="subheader dialog">{{localize "ep2e.roll.dialog.frayTypeHeadline"}}</h3>
        </div>
        <div class="form-group listBackgroundMain">
            <label class="resource-value">{{localize "ep2e.roll.dialog.dodgeRangedLabel"}}</label>
            <input class="item-standard-margin-both-large" type="checkbox" checked name="RangedFray">
        </div>
    </div>
    {{/if}}
    {{#if (eq taskType "psi")}}
    <div class="contentBoxMargin">
        <div class="flexrow subheader">
            <h3 class="subheader dialog">{{localize "ep2e.roll.dialog.infectionHeadline"}}</h3>
        </div>
        {{#if (eq rolledFrom "psiSleight")}}
        <div class="form-group listBackgroundMain">
            <label class="resource-labelDialog">{{localize "ep2e.roll.dialog.baseCostLabel"}}</label>
            <input type="number" name="AspectNumber" placeholder="0" value="{{sleightInfection}}" disabled/>
        </div>
        {{else}}
        <div class="form-group listBackgroundMain">
            <label class="resource-labelDialog">{{localize "ep2e.roll.dialog.baseCostLabel"}}</label>
            <input type="number" name="AspectNumber" placeholder="0"/>
        </div>
        {{/if}}
        <div class="form-group listBackgroundMain">
            <label class="resource-labelDialog">{{localize "ep2e.roll.dialog.push.label"}}</label>
            <select name="Push">
                <option value="none">{{localize "ep2e.roll.dialog.push.none"}}</option>
                <option value="range">{{localize "ep2e.roll.dialog.push.range"}}</option>
                <option value="effect">{{localize "ep2e.roll.dialog.push.effect"}}</option>
                <option value="power">{{localize "ep2e.roll.dialog.push.power"}}</option>
                <option value="penetration">{{localize "ep2e.roll.dialog.push.penetration"}}</option>
                <option value="duration">{{localize "ep2e.roll.dialog.push.duration"}}</option>
                <option value="target">{{localize "ep2e.roll.dialog.push.target"}}</option>
            </select>
        </div>
        {{#if (eq actorType "character")}}
            {{#if poolValue}}
            <div class="form-group listBackgroundMain">
                <input type="checkbox" name="IgnoreInfection">
                <label class="resource-labelDialog">{{localize "ep2e.roll.dialog.ignoreInfection"}}<br>(1 {{poolType}})</label>
            </div>
            {{else}}
            <div class="form-group listBackgroundMain">
                <input type="checkbox" name="ignoreInfection" disabled>
                <label class="resource-label epInactive">{{localize "ep2e.roll.dialog.noPool"}}</label>
            </div>
            {{/if}}
        {{else if (eq actorType "npc")}}
            {{#if poolValue}}
            <div class="form-group listBackgroundMain">
                <input type="checkbox" name="IgnoreInfection">
                <label class="resource-labelDialog">{{localize "ep2e.roll.dialog.ignoreInfection"}}<br>(1 {{poolType}})</label>
            </div>
            {{else}}
            <div class="form-group listBackgroundMain">
                <input type="checkbox" name="ignoreInfection" disabled>
                <label class="resource-label epInactive">{{localize "ep2e.roll.dialog.noPool"}}</label>
            </div>
            {{/if}}
        {{/if}}
    </div>
    {{/if}}
    <div class="contentBoxMargin">
        <div class="flexrow subheader">
            <h3 class="subheader dialog">{{localize "ep2e.roll.rollType.label"}}</h3>
        </div>
        <div class="form-group listBackgroundMain">
            <select name="RollMode">
                <option value="public">{{localize "ep2e.roll.rollType.public"}}</option>
                {{#if (eq taskType "psi")}}
                    <option value="private" selected>{{localize "ep2e.roll.rollType.private"}}</option>
                {{else}}
                    <option value="private">{{localize "ep2e.roll.rollType.private"}}</option>
                {{/if}}
                <option value="blind">{{localize "ep2e.roll.rollType.blind"}}</option>
            </select>
        </div>
    </div>
</form>