<form>
    {{#if severityFlavor}}
        <div class="contentBoxMargin listBackgroundMain alignCenter">
            <label class="resource-labelDialog">{{localize "ep2e.roll.announce.poolUsage.missGoal"}}</label><p/>
            <span class="fail">{{localize successMessage}}</span><p/>
            <label class="resource-labelDialog">{{localize "ep2e.roll.announce.poolUsage.mitigateSpending"}}</label><p/>
        </div>
        <div class="contentBoxMargin">
            <div class="flexrow subheader">
                <h3 class="subheader dialog">{{localize "ep2e.roll.announce.poolUsage.usePoolSubheadline"}}</h3>
            </div>
            <div class="form-group listBackgroundMain">
                <div style="max-height: 105px;">
                    <label>
                        {{#if (eq choices 1)}}
                            <table class="radio group">
                                <tr>
                                    <td class="table-radio-button">
                                        <input type="radio" name="useMitigate" value="none" checked>
                                    </td>
                                    <td td class="table-radio-label">
                                        {{localize "ep2e.roll.announce.poolUsage.dontMitigate"}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-radio-button">
                                        <input type="radio" name="useMitigate" value="pool">
                                    </td>
                                    <td td class="table-radio-label">
                                        {{localize "ep2e.roll.announce.poolUsage.mitigate"}} (1 {{poolType}})
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-radio-button">
                                        <input type="radio" name="useMitigate" value="flex">
                                    </td>
                                    <td td class="table-radio-label">
                                        {{localize "ep2e.roll.announce.poolUsage.mitigate"}} (1 {{localize "ep2e.skills.flex.poolHeadline"}})
                                    </td>
                                </tr>
                            </table>
                        {{/if}}
                        {{#if (eq choices 2)}}
                        <table class="radio group">
                            <tr>
                                <td class="table-radio-button">
                                    <input type="radio" name="useMitigate" value="none" checked>
                                </td>
                                <td td class="table-radio-label">
                                    {{localize "ep2e.roll.announce.poolUsage.dontMitigate"}}
                                </td>
                            </tr>
                            <tr>
                                <td class="table-radio-button">
                                    <input type="radio" name="useMitigate" value="flex">
                                </td>
                                <td td class="table-radio-label">
                                    {{localize "ep2e.roll.announce.poolUsage.mitigate"}} (1 {{localize "ep2e.skills.flex.poolHeadline"}})
                                </td>
                            </tr>
                        </table>
                        {{/if}}
                        {{#if (eq choices 3)}}
                        <table class="radio group">
                            <tr>
                                <td class="table-radio-button">
                                    <input type="radio" name="useMitigate" value="none" checked>
                                </td>
                                <td td class="table-radio-label">
                                    {{localize "ep2e.roll.announce.poolUsage.dontMitigate"}}
                                </td>
                            </tr>
                            <tr>
                                <td class="table-radio-button">
                                    <input type="radio" name="useMitigate" value="pool">
                                </td>
                                <td td class="table-radio-label">
                                    {{localize "ep2e.roll.announce.poolUsage.mitigate"}} (1 {{poolType}})
                                </td>
                            </tr>
                        </table>
                        {{/if}}
                    </label>
                </div>
            </div>
        </div>
    {{else}}
        <div class="contentBoxMargin listBackgroundMain alignCenter">
            <label class="resource-labelDialog">{{localize "ep2e.roll.announce.poolUsage.missGoal"}}</label><p/>
            <span class="fail">{{localize successMessage}}</span><p/>
        </div>
        <div class="contentBoxMargin">
            <div class="flexrow subheader">
                <h3 class="subheader dialog">{{localize "ep2e.roll.announce.poolUsage.usePoolSubheadline"}}</h3>
            </div>
            <div class="form-group listBackgroundMain">
                <div style="max-height: 105px;">
                    <label>
                        {{#if (eq choices 1)}}
                        <table class="radio-group">
                            <tr>
                                <td class="table-radio-button">
                                    <input type="radio" name="useSwap" value="none" checked>
                                </td>
                                <td td class="table-radio-label">
                                    {{localize "ep2e.roll.announce.poolUsage.dontSwap"}}
                                </td>
                            </tr>
                            <tr>
                                <td class="table-radio-button">
                                    <input type="radio" name="useSwap" value="pool">
                                </td>
                                <td td class="table-radio-label">
                                    {{localize "ep2e.roll.announce.poolUsage.swapTo"}} <strong> {{swipSwap}} </strong> (1 {{poolType}})
                                </td>
                            </tr>
                            <tr>
                                <td class="table-radio-button">
                                    <input type="radio" name="useSwap" value="flex">
                                </td>
                                <td td class="table-radio-label">
                                    {{localize "ep2e.roll.announce.poolUsage.swapTo"}} <strong> {{swipSwap}} </strong> (1 {{localize "ep2e.skills.flex.poolHeadline"}})
                                </td>
                            </tr>
                        </table>
                        {{/if}}
                        {{#if (eq choices 2)}}
                        <table class="radio-group">
                            <tr>
                                <td class="table-radio-button">
                                    <input type="radio" name="useSwap" value="none" checked>
                                </td>
                                <td td class="table-radio-label">
                                    {{localize "ep2e.roll.announce.poolUsage.dontSwap"}}
                                </td>
                            </tr>
                            <tr>
                                <td class="table-radio-button">
                                    <input type="radio" name="useSwap" value="flex">
                                </td>
                                <td td class="table-radio-label">
                                    {{localize "ep2e.roll.announce.poolUsage.swapTo"}} <strong> {{swipSwap}} </strong> (1 {{localize "ep2e.skills.flex.poolHeadline"}})
                                </td>
                            </tr>
                        </table>
                        {{/if}}
                        {{#if (eq choices 3)}}
                        <table class="radio-group">
                            <tr>
                                <td class="table-radio-button">
                                    <input type="radio" name="useSwap" value="none" checked>
                                </td>
                                <td td class="table-radio-label">
                                    {{localize "ep2e.roll.announce.poolUsage.dontSwap"}}
                                </td>
                            </tr>
                            <tr>
                                <td class="table-radio-button">
                                    <input type="radio" name="useSwap" value="pool">
                                </td>
                                <td td class="table-radio-label">
                                    {{localize "ep2e.roll.announce.poolUsage.swapTo"}} <strong> {{swipSwap}} </strong> (1 {{poolType}})
                                </td>
                            </tr>
                        </table>
                        {{/if}}
                    </label>
                </div>
            </div>
        </div>
    {{/if}}
</form>