<div class="sideCarBox armorSideCar">
    <div>
        <label class="resource-value" style="font-size: 20px;">{{localize "ep2e.sideCar.armor.headline"}}</label>
        {{#if actor.system.physical.armorDurAnnounce}} 
            <label style='color: var(--negative);'>{{localize "ep2e.sideCar.armor.encumberanceWarning"}}</label><br/>
        {{else}}
            {{#if actor.system.physical.armorVisibilityAnnounce}}
                    <label style='color: var(--warning);'>{{localize "ep2e.sideCar.armor.concealWarning"}}</label><br/>
            {{/if}}
        {{/if}}
    </div>
    <div class="tooltip">
        <div role="tooltipNegative">
            <div class="tooltipTopBorder">
                <div class="tooltipTop"></div>
            </div>
            <div class="armorValue">
                <h3 class="inline" style="margin-bottom: 20px;">{{localize "ep2e.sideCar.armor.headline"}}</h3>
                {{#if actor.system.additionalSystems.armorEquipped}}
                    <p/>
                    <label class="resource-value">{{localize "ep2e.sideCar.armor.armorSubheadline"}} </label>
                    <div class="flexrow" style="align-items: center; margin-bottom: 15px;">
                        <img src="systems/eclipsephase/resources/icons/power.webp" class="icon-small"/>
                        <span class="toggle resource-label alignLeft">{{localize "ep2e.sideCar.armor.energy"}}:</span>
                        <span class="toggle resource-value alignLeft item-standard-margin-medium">{{actor.system.physical.energyArmorTotal}}</span>
                        <img src="systems/eclipsephase/resources/icons/shield.webp" class="icon-small" style="max-width: 20px!important; max-height: 20px!important; margin-right: 5px;"/>
                        <span class="toggle resource-label alignLeft"> {{localize "ep2e.sideCar.armor.kinetic"}}: </span>
                        <span class="toggle resource-value alignLeft">{{actor.system.physical.kineticArmorTotal}}</span>
                    </div>
                    <label class="resource-value">{{localize "ep2e.sideCar.armor.armorCountSubheadline"}}</label>
                    <div class="listBackgroundMain">
                        <span class="toggle resource-label
                            alignLeft">{{localize "ep2e.sideCar.armor.mainArmorLabel"}}: </span><span
                            class="toggle resource-value
                            alignLeft">{{actor.system.physical.mainArmorTotal}}</span><br/>
                        <p/>
                        <span class="toggle resource-label
                            alignLeft">{{localize "ep2e.sideCar.armor.additionalArmorLabel"}}: </span><span
                            class="toggle resource-value
                            alignLeft">{{actor.system.physical.additionalArmorTotal}}</span><br/>
                    </div>
                    <p/>
                    <label class="resource-value">{{localize "ep2e.sideCar.armor.cumulativeMalusLabel"}} -{{actor.system.physical.armorMalusTotal}}</label>
                    <div class="listBackgroundMain">
                        <span class="toggle resource-label alignLeft">{{localize "ep2e.sideCar.armor.mainArmorLabel"}}: </span><span class="toggle resource-value alignLeft">-{{actor.system.physical.mainArmorMalus}}</span>
                        <p/>
                        <i style="font-size: 12px; margin-bottom: 10px;">{{localize "ep2e.sideCar.armor.mainArmorMalusCopy"}}</i>
                        <p/>
                        <span class="toggle resource-label alignLeft">{{localize "ep2e.sideCar.armor.additionalArmorLabel"}}:
                        </span>
                        <p/>
                        <i style="font-size: 12px; margin-bottom: 10px;">{{localize "ep2e.sideCar.armor.additionalArmorMalusCopy"}}</i>
                        {{#if actor.system.physical.armorSomMalus}}
                        <p/>
                        <span class="toggle resource-label alignLeft">{{localize "ep2e.sideCar.armor.exceedingSomLabel"}}:<span class="toggle resource-value alignLeft">-{{actor.system.physical.armorSomMalus}}</span>
                        </span>
                        <p/>
                        <i style="font-size: 12px; margin-bottom: 10px;">{{localize "ep2e.sideCar.armor.exceedingSomCopy"}}</i>
                        {{/if}}
                    </div>
                    <p/>
                    {{else}}
                    <label class="resource-value">{{localize "ep2e.sideCar.armor.noArmorCopy"}}</label>
                    <p/>
                    {{/if}}
                    <i style="font-size: 12px; margin-bottom: 10px;">{{localize "ep2e.sideCar.armor.armorUsageDescription"}}</i>
            </div>
            <div class="tooltipBottomBorder">
                <div class="tooltipBottom"></div>
            </div>
        </div>
        {{#if actor.system.additionalSystems.armorEquipped}}
        <div class="grid grid-2col">
            <div class="flexrow flex-group-right">
                <img src="systems/eclipsephase/resources/icons/power.webp" class="icon-medium"/>
                <span class="resource-value input-small alignLeft">{{actor.system.physical.energyArmorTotal}}</span>
            </div>
            <div class="flexrow flex-group-left">
                <img src="systems/eclipsephase/resources/icons/shield.webp" class="icon-medium" style="margin-right: 10px; max-width: 35px!important; max-height: 45px!important;"/>
                <span class="resource-value input-small">{{actor.system.physical.kineticArmorTotal}}</span>
            </div>
        </div>
        {{else}}
        <div class="flexrow flex-group-center" style="height: 60px;"><span class="resource-value">{{localize "ep2e.sideCar.armor.noArmorSubheadline"}}</span></div>
        {{/if}}
    </div>
</div>