<div class="sideCarBox ccSideCar">
    <div style=" margin-bottom: 20px;">
        <label class="resource-value" style="font-size: 20px;">{{localize "ep2e.sideCar.melee.headline"}}</label>
    </div>
    {{#if actor.system.additionalSystems.ccEquipped}}
        {{#each actor.ccweapon as |item id|}}
            {{#if this.system.active}}
            <div class="item" style="margin-bottom: 10px;" data-item-id="{{item._id}}">
                <div class="flexrow subheader">
                    <div class="flexrow flex-group-left reveal">
                        <h3 class="subheader truncate">
                            <img src="{{item.img}}" title="{{item.name}}" class="toggle item-image input-small icon-small" style="margin-right: 5px;"/>
                            <img src="icons/svg/d10-grey.svg" class="toggle icon-small task-check roll-label input-small noShow" style="margin-right: 5px;" data-type="skill" data-key="melee" data-name="{{localize 'ep2e.skills.vigorSkills.melee'}}" data-rolledfrom="ccWeapon" data-weapontype="melee" data-roll="{{item.system.dv}}" data-weaponname="{{item.name}}" data-weaponid="{{item._id}}"/>
                            <span style="max-width: 200px; padding-right: 34px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{item.name}}</span>
                        </h3>
                    </div>
                    <div class="flexrow alignRight flexGrowQuarter reveal" style="align-items: center; justify-content: flex-end;" data-item-id="{{item._id}}">
                    </div>
                </div>
                <div class="flexrow flex-group-center slideShow" style="height: 26px; background-color: var(--accentBackground);">
                    <a class="flexrow">
                        <table>
                            <tr style="background-color: var(--accentBackground);">
                                <td style="padding-left: 15px; max-width: 20px;">
                                    <i class="fa-solid fa-chevron-down"></i>
                                </td>
                                <td style="width: 100%;">
                                    <label class="resource-label">{{localize "ep2e.sideCar.moreToggle"}}</label>
                                </td>
                                <td style="padding-right: 25px; max-width: 20px;">
                                    <i class="fa-solid fa-chevron-down"></i>
                                </td>
                            </tr>
                        </table>
                    </a>
                    <a class="noShow flexrow">
                        <table>
                            <tr style="background-color: var(--accentBackground);">
                                <td style="padding-left: 15px; max-width: 20px;">
                                    <i class="fa-solid fa-chevron-up"></i>
                                </td>
                                <td style="width: 100%;">
                                    <label class="resource-label">{{localize "ep2e.sideCar.lessToggle"}}</label>
                                </td>
                                <td style="padding-right: 25px; max-width: 20px;">
                                    <i class="fa-solid fa-chevron-up"></i>
                                </td>
                            </tr>
                        </table>
                    </a>
                </div>
                <div class="item showMore noShow" data-item-id="{{item._id}}">
                    <div class="grid" data-item-id="{{item._id}}">
                        <div class="flexrow flex-group-left">
                            <i class="fa-solid fa-explosion icon-small alignCenter"></i>
                            <h4 class="item-image input-medium noMargin"><strong>{{item.system.dv}}</strong></h4>
                        </div>
                    </div>
                    {{#if item.system.description}}
                    <div class="item" data-item-id="{{item._id}}">
                        <div class="itemDescription">
                            {{item.system.description}}
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
            {{/if}}
        {{/each}}
    {{else}}
    <div class="flexrow flex-group-center" style="height: 60px;"><span class="resource-value">{{localize "ep2e.sideCar.melee.noMeleeSubheadline"}}</span></div>
    {{/if}}
</div>