<div class="sideCarBox consumableSideCar">
    <div style=" margin-bottom: 20px;">
        <label class="resource-value" style="font-size: 20px;">{{localize "ep2e.sideCar.consumables.headline"}}</label>
    </div>
    {{#if actor.system.additionalSystems.consumableEquipped}}
        {{> systems/eclipsephase/templates/global-partials/item-row-list.hbs item=actor.consumableActive readOnly=true}}
    {{else}}
    <div class="flexrow flex-group-center" style="height: 60px;"><span class="resource-value">{{localize "ep2e.sideCar.consumables.noConsumablesSubheadline"}}</span></div>
    {{/if}}
</div>