<div class="sideCarBox gearSideCar">
    <div style=" margin-bottom: 20px;">
        <label class="resource-value" style="font-size: 20px;">{{localize "ep2e.sideCar.gear.headline"}}</label>
    </div>
    {{#if actor.system.additionalSystems.gearEquipped}}
        {{> systems/eclipsephase/templates/global-partials/item-row-list.hbs item=actor.gearActive readOnly=true}}
    {{else}}
    <div class="flexrow flex-group-center" style="height: 60px;"><span class="resource-value">{{localize "ep2e.sideCar.gear.noGearSubheadline"}}</span></div>
    {{/if}}
</div>