<div class="sideCarBox rangedSideCar">
    <div style=" margin-bottom: 20px;">
        <label class="resource-value" style="font-size: 20px;">Ranged Combat</label>
    </div>
    {{#if actor.system.additionalSystems.rangedEquipped}}
        {{#each actor.rangedWeapon as |item id|}}
            {{#if this.system.active}}
            <div class="item" style="margin-bottom: 10px;" data-item-id="{{item._id}}">
                <div class="flexrow subheader">
                    <!--Name & Dice Roller-->
                    <div class="flexrow flex-group-left reveal">
                        <h3 class="subheader truncate">
                            <img src="{{item.img}}" title="{{item.name}}" class="toggle item-image input-small icon-small" style="margin-right: 5px;"/>
                            <img src="icons/svg/d10-grey.svg" class="toggle icon-small task-check roll-label input-small noShow" style="margin-right: 5px;" data-type="skill" data-name="guns" data-rolledfrom="rangedWeapon" data-weapontype="ranged" data-roll="{{item.system.dv}}" data-weaponname="{{item.name}}"  data-currentammo="{{item.system.ammoMin}}" data-maxammo="{{item.system.ammoMax}}" data-weaponid="{{item._id}}"/>
                            <span style="max-width: 200px; padding-right: 34px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{item.name}}</span>
                        </h3>
                    </div>
                    <!--Ammunition Counter & Reload-->
                    <div class="flexrow alignRight flexGrowQuarter reveal" style="align-items: center; justify-content: flex-end;" data-item-id="{{item._id}}">
                        <img src="systems/eclipsephase/resources/icons/ammo.png" class="toggle icon-small"/>
                        <img src="systems/eclipsephase/resources/icons/reload.webp" class="toggle noShow reload icon-small rollable" data-weaponname="{{item.name}}"  data-currentammo="{{item.system.ammoMin}}" data-maxammo="{{item.system.ammoMax}}" data-weaponid="{{item._id}}"/>
                        <label style="margin-left: 5px">{{item.system.ammoMin}}</label>/
                        <h4 class="item-image flex-group-left input-small noMargin">
                            <strong>{{item.system.ammoMax}}</strong>
                        </h4>
                    </div>
                </div>
                <!--Weapon Details-->
                <div class="flexrow flex-group-center slideShow" style="height: 26px; background-color: var(--accentBackground);">
                    <a><i class="fa-solid fa-chevron-down"></i><label class="resource-label" style="margin: 0 113px 0 113px">More</label><i class="fa-solid fa-chevron-down"></i></a>
                    <a class="noShow"><i class="fa-solid fa-chevron-up"></i><label class="resource-label" style="margin: 0 113px 0 113px">Less</label><i class="fa-solid fa-chevron-up"></i></a>
                </div>
                <div class="item showMore noShow" data-item-id="{{item._id}}">
                    <div class="grid grid-3col">
                        <div class="flexrow flex-group-left">
                            <i class="fa-regular fa-crosshairs icon-small alignCenter"></i>
                            <label class="labelWidth-large noMargin"><strong>{{item.system.firingMode}}</strong></label>
                        </div>
                        <div class="flexrow flex-group-left">
                            <i class="fa-regular fa-arrows-left-right icon-small alignCenter"></i>
                            <label class="labelWidth-medium noMargin"><strong>{{item.system.range}}</strong></label>
                        </div>
                        <div class="flexrow flex-group-left">
                            <i class="fa-solid fa-explosion icon-small alignCenter"></i>
                            <h4 class="item-image input-medium noMargin"><strong>{{item.system.dv}}</strong></h4>
                        </div>
                    </div>
                    {{#if item.system.description}}
                    <div class="item" data-item-id="{{item._id}}">
                        <div class="itemDescription">
                            {{item.system.description}}
                        </div>
                    </div>
                    {{/if}}
                </div>
                
                <!--Show/Hide Details-->
                
            </div>
            {{/if}}
        {{/each}}
    {{else}}
    <div class="flexrow flex-group-center" style="height: 60px;"><span class="resource-value">No Weapon Equipped</span></div>
    {{/if}}
</div>