<div class="sideCarBox rangedSideCar">
    <div style=" margin-bottom: 20px;">
        <label class="resource-value" style="font-size: 20px;">{{localize "ep2e.sideCar.ranged.headline"}}</label>
    </div>
    {{#if actor.system.additionalSystems.rangedEquipped}}
        {{#each actor.rangedWeapon as |item id|}}
            {{#if this.system.active}}
            <div class="item" style="margin-bottom: 10px;" data-item-id="{{item._id}}">
                <div class="flexrow subheader">
                    <!--Name & Dice Roller-->
                    <div class="flexrow flex-group-left reveal wantToKnowMore" style="max-width: 100%;">
                        <span class="tooltipText">{{item.name}}</span>
                        <h3 class="subheader truncate">
                            <img src="{{item.img}}" title="{{item.name}}" class="toggle item-image input-small icon-small" style="margin-right: 5px;"/>
                            <img src="icons/svg/d10-grey.svg" class="toggle icon-small task-check roll-label input-small noShow" style="margin-right: 5px;" data-type="skill" data-key="guns" data-name="{{localize 'ep2e.skills.vigorSkills.guns'}}" data-rolledfrom="rangedWeapon" data-weaponid="{{item._id}}"/>
                            <span style="max-width: 200px; padding-right: 34px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{item.name}}</span>
                        </h3>
                    </div>
                    <!--Ammunition Counter & Reload-->
                    <div class="flexrow alignRight flexGrowQuarter reveal" style="align-items: center; justify-content: flex-end;" data-item-id="{{item._id}}">
                        <img src="systems/eclipsephase/resources/icons/ammo.png" class="toggle icon-small"/>
                        
                        <img src="systems/eclipsephase/resources/icons/reload.webp" class="toggle noShow reload icon-small rollable" data-weaponname="{{item.name}}"  data-currentammo="{{item.system.ammoMin}}" data-maxammo="{{item.system.ammoMax}}" data-weaponid="{{item._id}}"/>
                        {{#if @root.isGM}}
                            <input class="input-small sheet-inline-edit" data-field="system.ammoMin" type="number" name="item.system.ammoMin" value="{{item.system.ammoMin}}" placeholder="0"/>/
                        {{else}}
                            <label class="input-xs">{{item.system.ammoMin}}</label>/
                        {{/if}}
                        <h4 class="item-image flex-group-left input-small noMargin">
                            <strong>{{item.system.ammoMax}}</strong>
                        </h4>
                    </div>
                </div>
                <!--Weapon Details-->
                <div class="flexrow flex-group-center slideShow" style="height: 26px; background-color: var(--accentBackground);">
                    <a class="flexrow">
                        <table>
                            <tr style="background-color: var(--accentBackground);">
                                <td style="padding-left: 8px; max-width: 20px;">
                                    <i class="fa-solid fa-chevron-down awesomeIcon"></i>
                                </td>
                                <td style="width: 100%;">
                                    <label class="resource-label">{{localize "ep2e.sideCar.moreToggle"}}</label>
                                </td>
                                <td style="padding-right: 25px; max-width: 20px;">
                                    <i class="fa-solid fa-chevron-down awesomeIcon"></i>
                                </td>
                            </tr>
                        </table>
                    </a>
                    <a class="noShow flexrow">
                        <table>
                            <tr style="background-color: var(--accentBackground);">
                                <td style="padding-left: 8px; max-width: 20px;">
                                    <i class="fa-solid fa-chevron-up awesomeIcon"></i>
                                </td>
                                <td style="width: 100%;">
                                    <label class="resource-label">{{localize "ep2e.sideCar.lessToggle"}}</label>
                                </td>
                                <td style="padding-right: 25px; max-width: 20px;">
                                    <i class="fa-solid fa-chevron-up awesomeIcon"></i>
                                </td>
                            </tr>
                        </table>
                    </a>
                </div>
                <div class="item showMore noShow" data-item-id="{{item._id}}">
                    <div class="grid grid-3col">
                        <div class="flexrow flex-group-left wantToKnowMore">
                            <img src="systems/eclipsephase/resources/icons/firingmode.webp" class="icon-small icon-space"/>
                            <span class="tooltipText" style="font-size: 13px;">{{localize "ep2e.item.weapon.table.firingMode.label"}}</span>
                            <label class="labelWidth-large noMargin"><strong>{{localize item.system.firingModeLabel}}</strong></label>
                        </div>
                        <div class="flexrow flex-group-left wantToKnowMore">
                            <i class="fa-regular fa-arrows-left-right icon-small alignCenter awesomeIcon icon-space"></i>
                            <span class="tooltipText" style="font-size: 13px;">{{localize "ep2e.item.weapon.table.range"}}</span>
                            <label class="labelWidth-medium noMargin"><strong>{{item.system.range}}</strong></label>
                        </div>
                        <div class="flexrow flex-group-left wantToKnowMore">
                            <i class="fa-solid fa-explosion icon-small alignCenter awesomeIcon icon-space"></i>
                            <span class="tooltipText" style="font-size: 13px;">{{localize "ep2e.item.weapon.table.damageValue"}}</span>
                            <h4 class="item-image input-medium noMargin"><strong>{{item.system.dv}}</strong></h4>
                        </div>
                    </div>
                    {{#if item.system.description}}
                    <div class="item" data-item-id="{{item._id}}">
                        <div class="itemDescription">
                            {{item.system.description}}
                        </div>
                    </div>
                    {{/if}}
                </div>
                
                <!--Show/Hide Details-->
                
            </div>
            {{/if}}
        {{/each}}
    {{else}}
    <div class="flexrow flex-group-center" style="height: 60px;"><span class="resource-value">{{localize "ep2e.sideCar.ranged.noRangedSubheadline"}}</span></div>
    {{/if}}
</div>