{{!-- Current Status --}}
{{> systems/eclipsephase/templates/actor/partials/currentStatus/statusSummary.html }}
{{!-- Armor Section --}}
{{> systems/eclipsephase/templates/actor/partials/currentStatus/armorSummary.html }}
{{!-- Current Equipment Section --}}
<div class="contentright">
    {{> systems/eclipsephase/templates/actor/partials/currentStatus/rangedWeaponSummary.html }}
    {{> systems/eclipsephase/templates/actor/partials/currentStatus/ccWeaponSummary.html }}
    {{> systems/eclipsephase/templates/actor/partials/currentStatus/gearSummary.html }}
    {{> systems/eclipsephase/templates/actor/partials/currentStatus/consumableSummary.html }}
</div>