<div class="sideCarBox statusSideCar">

        
        <div class="tooltip">
            <label class="resource-value" style ="font-size: 16px">Current Mods:</label>
            <div role="tooltipNegative" style="left: 0px; top: 14px;">
                <div class="tooltipTopBorder">
                    <div class="tooltipTop"></div>
                </div>
                <div class="currentStatus">
                    <h3 class="inline">Soon to come</h3>
                        <label class="resource-value">in v0.8 </label>
                        <p/>
                </div>
                <div class="tooltipBottomBorder">
                    <div class="tooltipBottom"></div>
                </div>
        </div>
        </div>
    
</div>