<div class="tab gear" data-group="primary" data-tab="weapons">
    {{#if actor.system.additionalSystems.hasGear}}

        {{#if actor.armor}}
            <div class="contentBox">
                <div class="flexrow subheader">
                    <h3 class="subheader">{{localize "ep2e.inventory.armorLabel"}}</h3>
                    <div class="alignRight flexGrowThreeQuarter">
                    </div>
                </div>
                <div class="itemBackground">
                        {{#each actor.armor as |item id|}}
                        {{#if item.system.active}}
                        <div class="item flexrow flex-group-center atHand" data-item-id="{{item._id}}">
                            <input class="sheet equipped checkBox" data-dtype="Boolean" data-item-id="{{item._id}}" type="checkbox" {{checked item.system.active}}>
                            <div class="item-image flex-group-left input-small"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                            <input class="sheet-inline-edit" data-field="name" type="text" name="item.system.name" value="{{item.name}}" placeholder="{{localize 'ep2e.inventory.armorPlaceholder'}}" style="text-align: left; font-weight: bold; min-width: 240px;"/>
                            <img src="systems/eclipsephase/resources/icons/power.webp" class="icon-small"/>
                            <label class="labelWidth-small flex-group-center noMargin"><strong>{{item.system.energy}}</strong></label>
                            <img src="systems/eclipsephase/resources/icons/shield.webp" class="icon-small" style="max-height: 24px!important; max-width: 20px!important;"/>
                            <label class="labelWidth-small flex-group-center noMargin"><strong>{{item.system.kinetic}}</strong></label>
                            <label class="labelWidth-XL flex-group-center noMargin"><strong>{{localize item.system.slotType}}</strong></label>
                            <div class="flex-group-right slideShow">
                                <a><i class="fas fa-plus icon-small"></i></a>
                                <a class="noShow"><i class="fas fa-minus icon-small"></i></a>
                            </div>
                            <div class="item showMore descriptionContainer" data-item-id="{{item._id}}">
                                {{#if item.system.description}}
                                    <div class="itemDescription shape3">
                                        {{item.system.description}}
                                    </div>
                                {{/if}}
                                <div class="flexrow flex-between item-controls">
                                    <a class="item-control item-delete resource-label editWithLabel" title="Delete Item"> {{localize "ep2e.actorSheet.button.delete"}} <i class="far fa-times-circle"></i></a>
                                    <a class="item-control item-edit resource-label editWithLabel alignRight" title="Edit Item"> {{localize "ep2e.actorSheet.button.edit"}} <i class="far fa-edit"></i></a>
                                </div>
                            </div>
                        </div>
                        {{else}}
                        <div class="item flexrow flex-group-center offHand" data-item-id="{{item._id}}">
                            <input class="sheet equipped checkBox" data-dtype="Boolean" data-item-id="{{item._id}}" type="checkbox" {{checked system.active}}>
                            <div class="item-image flex-group-left input-small"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                            <input class="sheet-inline-edit" data-field="name" type="text" name="item.name" value="{{item.name}}" placeholder="{{localize 'ep2e.inventory.armorPlaceholder'}}" style="text-align: left; font-weight: bold; min-width: 240px;"/>
                            <img src="systems/eclipsephase/resources/icons/power.webp" class="icon-small"/>
                            <label class="labelWidth-small flex-group-center noMargin"><strong>{{item.system.energy}}</strong></label>
                            <img src="systems/eclipsephase/resources/icons/shield.webp" class="icon-small" style="max-height: 24px!important; max-width: 20px!important;"/>
                            <label class="labelWidth-small flex-group-center noMargin"><strong>{{item.system.kinetic}}</strong></label>
                            <label class="labelWidth-XL flex-group-center noMargin"><strong>{{localize item.system.slotType}}</strong></label>
                            <div class="flex-group-right slideShow">
                                <a><i class="fas fa-plus icon-small"></i></a>
                                <a class="noShow"><i class="fas fa-minus icon-small"></i></a>
                            </div>
                            <div class="item showMore descriptionContainer" data-item-id="{{item._id}}">
                                {{#if item.system.description}}
                                    <div class="itemDescription shape3">
                                        {{item.system.description}}
                                    </div>
                                {{/if}}
                                <div class="flexrow flex-between item-controls">
                                    <a class="item-control item-delete resource-label editWithLabel" title="Delete Item"> {{localize "ep2e.actorSheet.button.delete"}} <i class="far fa-times-circle"></i></a>
                                    <a class="item-control item-edit resource-label editWithLabel alignRight" title="Edit Item"> {{localize "ep2e.actorSheet.button.edit"}} <i class="far fa-edit"></i></a>
                                </div>
                            </div>
                        </div>
                        {{/if}}
                    {{/each}}
                </div>
            </div>
        {{/if}}

        {{#if actor.rangedWeapon}}
        <div class="contentBox">
            <div class="flexrow subheader">
                <h3 class="subheader">{{localize "ep2e.inventory.rangedLabel"}}</h3>
                <div class="flexrow alignRight flexGrowThreeQuarter" style="align-items: center; justify-content: flex-end;">
                </div>
            </div>

            {{> systems/eclipsephase/templates/actor/partials/item-partials/ranged-weapons.html }}   

        </div>
        {{/if}}
        {{#if actor.ccweapon}}
        <div class="contentBox">
            <div class="flexrow subheader">
                <h3 class="subheader">{{localize "ep2e.inventory.ccLabel"}}</h3>
                <div class="flexrow alignRight flexGrowThreeQuarter" style="align-items: center; justify-content: flex-end;">
                </div>
            </div>

            {{> systems/eclipsephase/templates/actor/partials/item-partials/cc-weapons.html }}

        </div>   
        {{/if}}
        {{#if actor.consumable}}
        <div class="contentBox">
            <div class="flexrow subheader">
                <h3 class="subheader">{{localize "ep2e.inventory.consumablesLabel"}}</h3>
                <div class="alignRight flexGrowThreeQuarter">
                </div>
            </div>

            {{> systems/eclipsephase/templates/actor/partials/item-partials/consumable.html }}    

        </div>
        {{/if}}
        {{#if actor.gear}}
        <div class="contentBox">
            <div class="flexrow subheader">
                <h3 class="subheader">{{localize "ep2e.inventory.gearLabel"}}</h3>
                <div class="alignRight flexGrowThreeQuarter">
                </div>
            </div>

            {{> systems/eclipsephase/templates/actor/partials/item-partials/gear.html }}    

        </div>
        {{/if}}
        {{#if actor.program}}
        <div class="contentBox">
            <div class="flexrow subheader">
                <h3 class="subheader">{{localize "ep2e.inventory.programs.label"}}</h3>
                <div class="alignRight flexGrowThreeQuarter">
                </div>
            </div>
            <div class="itemBackground" style="position: relative; z-index: 2;">
                <div class="grid grid-2col">
                    {{#each actor.program as |item id|}}
                    <div>
                        <div class="item flexrow flex-group-center offHand" data-item-id="{{item._id}}">
                            <label class="flex-group-center noMargin flex-group-left"><strong>{{item.name}}</strong></label>
                            <label
                            class="input-small"><strong>Uses</strong></label><input
                            class="input-small sheet-inline-edit"
                            data-field="system.quantity" type="number"
                            name="item.system.quantity" value="{{item.system.quantity}}" placeholder="0"/>
                            <div class="flex-group-right slideShow" style="max-width: 45px;">
                                <a><i class="fas fa-plus icon-small"></i></a>
                                <a class="noShow"><i class="fas fa-minus icon-small"></i></a>
                            </div>
                            <div class="item showMore descriptionContainer" data-item-id="{{item._id}}">
                                {{#if item.system.description}}
                                <div class="itemDescription shape3">
                                    {{item.system.description}}
                                </div>
                                {{/if}}
                                <div class="flexrow flex-between item-controls">
                                    <a class="item-control item-delete resource-label editWithLabel" title="Delete Item"> {{localize "ep2e.actorSheet.button.delete"}} <i class="far fa-times-circle"></i></a>
                                    <a class="item-control item-edit resource-label editWithLabel alignRight" title="Edit Item"> {{localize "ep2e.actorSheet.button.edit"}} <i class="far fa-edit"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div style="padding: 0 10px"> 
                {{#if actor.system.homebrew}}<i style="font-size: 12px; margin-bottom: 10px;">{{{localize "ep2e.inventory.programs.copy"}}}</i><p/>{{/if}}
            </div>
        </div>
        {{/if}}
        {{else}}
        <div class="contentBox" style="max-width: 33%; margin: auto; top: 150px">
            <div class="flexrow">
                <h3 class="subheaderBlank">{{localize "ep2e.inventory.noGear.headline"}}</h3>
            </div>
            <div class="listBackgroundPitch shape3 alignCenter" style="border-top: solid var(--accentBackground) 5px;">
                <i style="font-size: 12px; margin-bottom: 10px;">{{{localize "ep2e.inventory.noGear.copy"}}}</i>
            </div>
        </div>
        {{/if}}
</div>