<div class="tab gear" data-group="primary" data-tab="weapons">
    {{#if actor.system.additionalSystems.hasGear}}

        {{#if actor.armor}}
            <div class="contentBox">
                <div class="flexrow subheader">
                    <h3 class="subheader">{{localize "ep2e.inventory.armorLabel"}}</h3>
                    <div class="alignRight flexGrowThreeQuarter">
                    </div>
                </div>
                <div class="itemBackground">
                    {{#each actor.armor as |item id|}}
                        {{#if item.system.active}}
                        <div class="item flexrow flex-group-center atHand" data-item-id="{{item._id}}" data-item-name="{{item.name}}">
                            <input class="sheet equipped checkBox" data-dtype="Boolean" data-item-id="{{item._id}}" data-path="system.active"  type="checkbox" {{checked item.system.active}}>
                            <div class="item-image flex-group-center input-small"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                            <input class="sheet-inline-edit" data-field="name" type="text" name="item.system.name" value="{{item.name}}" placeholder="{{localize 'ep2e.inventory.armorPlaceholder'}}" style="text-align: left; font-weight: bold; min-width: 240px;"/>
                            <img src="systems/eclipsephase/resources/icons/power.webp" class="icon-small"/>
                            <label class="labelWidth-small flex-group-center noMargin"><strong>{{item.system.energy}}</strong></label>
                            <img src="systems/eclipsephase/resources/icons/shield.webp" class="icon-small" style="max-height: 24px!important; max-width: 20px!important;"/>
                            <label class="labelWidth-small flex-group-center noMargin"><strong>{{item.system.kinetic}}</strong></label>
                            <label class="labelWidth-XL flex-group-center noMargin"><strong>{{localize item.system.slotName}}</strong></label>
                            <div class="flexrow item-controls flex-group-right" style="max-width: 50px;">
                                <a class="item-control item-delete resource-label editWithLabel input-xs alignRight" title="Delete Item"><i class="far fa-times-circle awesomeIcon"></i></a>
                                <a class="item-control item-edit resource-label editWithLabel  input-xs alignRight" title="Edit Item"><i class="far fa-edit awesomeIcon"></i></a>
                            </div>
                            {{#if item.system.description}}
                            <div class="flex-group-right slideShow input-xs">
                                <a class="showFlex"><i class="fas fa-plus icon-small awesomeIcon"></i></a>
                                <a class="noShow"><i class="fas fa-minus icon-small awesomeIcon"></i></a>
                            </div>
                            {{else}}
                            <div class="flex-group-right slideShow input-xs icon-hidden">
                                <a class="showFlex"><i class="fas fa-plus icon-small awesomeIcon"></i></a>
                                <a class="noShow"><i class="fas fa-minus icon-small awesomeIcon"></i></a>
                            </div>
                            {{/if}}
                            <div class="item showMore descriptionContainer" style="padding-bottom: 10px; min-width: 100%;">
                                <div class="itemDescription shape3" style="min-width: 100%;">
                                    {{item.system.description}}
                                </div>
                            </div>
                        </div>
                        {{else}}
                        <div class="item flexrow flex-group-center offHand" data-item-id="{{item._id}}" data-item-name="{{item.name}}">
                            <input class="sheet equipped checkBox" data-dtype="Boolean" data-item-id="{{item._id}}" data-path="system.active" type="checkbox" {{checked item.system.active}}>
                            <div class="item-image flex-group-center input-small"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                            <input class="sheet-inline-edit" data-field="name" type="text" name="item.name" value="{{item.name}}" placeholder="{{localize 'ep2e.inventory.armorPlaceholder'}}" style="text-align: left; font-weight: bold; min-width: 240px;"/>
                            <img src="systems/eclipsephase/resources/icons/power.webp" class="icon-small"/>
                            <label class="labelWidth-small flex-group-center noMargin"><strong>{{item.system.energy}}</strong></label>
                            <img src="systems/eclipsephase/resources/icons/shield.webp" class="icon-small" style="max-height: 24px!important; max-width: 20px!important;"/>
                            <label class="labelWidth-small flex-group-center noMargin"><strong>{{item.system.kinetic}}</strong></label>
                            <label class="labelWidth-XL flex-group-center noMargin"><strong>{{localize item.system.slotName}}</strong></label>
                            <div class="flexrow item-controls flex-group-right" style="max-width: 50px;">
                                <a class="item-control item-delete resource-label editWithLabel input-xs alignRight" title="Delete Item"><i class="far fa-times-circle awesomeIcon"></i></a>
                                <a class="item-control item-edit resource-label editWithLabel  input-xs alignRight" title="Edit Item"><i class="far fa-edit awesomeIcon"></i></a>
                            </div>
                            {{#if item.system.description}}
                            <div class="flex-group-right slideShow input-xs">
                                <a class="showFlex"><i class="fas fa-plus icon-small awesomeIcon"></i></a>
                                <a class="noShow"><i class="fas fa-minus icon-small awesomeIcon"></i></a>
                            </div>
                            {{else}}
                            <div class="flex-group-right slideShow input-xs icon-hidden">
                                <a class="showFlex"><i class="fas fa-plus icon-small awesomeIcon"></i></a>
                                <a class="noShow"><i class="fas fa-minus icon-small awesomeIcon"></i></a>
                            </div>
                            {{/if}}
                            <div class="item showMore descriptionContainer" style="padding-bottom: 10px; min-width: 100%;">
                                <div class="itemDescription shape3" style="min-width: 100%;">
                                    {{item.system.description}}
                                </div>
                            </div>
                        </div>
                        {{/if}}
                    {{/each}}
                </div>
            </div>
        {{/if}}

        {{#if actor.rangedWeapon}}
        <div class="contentBox">
            <div class="flexrow subheader">
                <h3 class="subheader">{{localize "ep2e.inventory.rangedLabel"}}</h3>
                <div class="flexrow alignRight flexGrowThreeQuarter" style="align-items: center; justify-content: flex-end;">
                </div>
            </div>
            
            <div class="itemBackground">
                {{#each actor.rangedWeapon as |item id|}}

                    {{> systems/eclipsephase/templates/actor/partials/item-partials/weapons.html item=item id=id type="ranged" sheetType="PC"}}   
                
                {{/each}}
            </div>

        </div>
        {{/if}}
        {{#if actor.ccweapon}}
        <div class="contentBox">
            <div class="flexrow subheader">
                <h3 class="subheader">{{localize "ep2e.inventory.ccLabel"}}</h3>
                <div class="flexrow alignRight flexGrowThreeQuarter" style="align-items: center; justify-content: flex-end;">
                </div>
            </div>
            
            <div class="itemBackground">
                {{#each actor.ccweapon as |item id|}}

                    {{> systems/eclipsephase/templates/actor/partials/item-partials/weapons.html item=item id=id sheetType="PC"}}   
                
                {{/each}}
            </div>

        </div>   
        {{/if}}
        {{#if actor.consumable}}
        <div class="contentBox">
            <div class="flexrow subheader">
                <h3 class="subheader">{{localize "ep2e.inventory.consumablesLabel"}}</h3>
                <div class="alignRight flexGrowThreeQuarter">
                </div>
            </div>

            {{> systems/eclipsephase/templates/actor/partials/item-partials/consumable.html }}    

        </div>
        {{/if}}
        {{#if actor.gear}}
        <div class="contentBox">
            <div class="flexrow subheader">
                <h3 class="subheader">{{localize "ep2e.inventory.gearLabel"}}</h3>
                <div class="alignRight flexGrowThreeQuarter">
                </div>
            </div>

            {{> systems/eclipsephase/templates/actor/partials/item-partials/gear.html }}    

        </div>
        {{/if}}
        {{#if actor.program}}
        <div class="contentBox">
            <div class="flexrow subheader">
                <h3 class="subheader">{{localize "ep2e.inventory.programs.label"}}</h3>
                <div class="alignRight flexGrowThreeQuarter">
                </div>
            </div>
            <div class="itemBackground" style="position: relative; z-index: 2;">
                <div class="grid grid-2col">
                    {{#each actor.program as |item id|}}
                    <div class="item flexrow offHand flex-group-center" data-item-id="{{item._id}}" data-item-name="{{item.name}}">
                        <div class="item-image flex-group-left input-small"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                        <label class="truncate alignLeft" style="flex: 3.5;"><strong>{{item.name}}</strong></label>
                        <label class="flex-group-center alignCenter" style="background: none; font-size: 12px; flex: 0.4; margin-left: 10px;"><i>{{localize item.system.slotName}}</i></label>
                        <input class="input-small sheet-inline-edit" data-field="system.quantity" type="number" name="item.system.quantity" value="{{item.system.quantity}}" placeholder="0"/>
                        <div class="flexrow item-controls flex-group-right" style="max-width: 50px; min-width: 50px;">
                            <a class="item-control item-delete resource-label editWithLabel input-xs alignRight" title="Delete Item"><i class="far fa-times-circle awesomeIcon"></i></a>
                            <a class="item-control item-edit resource-label editWithLabel  input-xs alignRight" title="Edit Item"><i class="far fa-edit awesomeIcon"></i></a>
                        </div>
                        <div class="flex-group-right slideShow input-xs">
                            <a class="showFlex"><i class="fas fa-plus icon-small awesomeIcon"></i></a>
                            <a class="noShow"><i class="fas fa-minus icon-small awesomeIcon"></i></a>
                        </div>
                        <div class="item showMore descriptionContainer" style="padding-bottom: 10px; min-width: 100%;">
                            <div class="itemDescription shape3" style="min-width: 100%;">
                                {{item.system.description}}
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div style="padding: 0 10px"> 
                {{#if actor.system.homebrew}}<i style="font-size: 12px; margin-bottom: 10px;">{{{localize "ep2e.inventory.programs.copy"}}}</i><p/>{{/if}}
            </div>
        </div>
        {{/if}}
        {{else}}
        <div class="contentBox" style="max-width: 33%; margin: auto; top: 150px">
            <div class="flexrow">
                <h3 class="subheaderBlank">{{localize "ep2e.inventory.noGear.headline"}}</h3>
            </div>
            <div class="listBackgroundPitch shape3 alignCenter" style="border-top: solid var(--accentBackground) 5px;">
                <i style="font-size: 12px; margin-bottom: 10px;">{{{localize "ep2e.inventory.noGear.copy"}}}</i>
            </div>
        </div>
        {{/if}}
</div>