{{!-- Character Header Stats --}}
<div class="tab health" data-group="secondary" data-tab="health">
    <div class="header-fields">
            <div class="contentBox" style="margin-bottom: 10px;">
                <div class="flexrow subheader colorV1">
                    <h3 class="subheader colorV1">Physical</h3>
                    <div></div>
                </div>
                <div class="flex-group-center listBackground shape2">
                    <div class="flexrow flex-center flex-between" style="margin-bottom: 10px;">
                        <div>
                            <input class="input-xs" type="number" name="system.health.physical.value" value="{{actor.system.health.physical.value}}" data-dtype="Number" placeholder="0"/><span class="resource-value input-small">/{{actor.system.health.physical.max}}</span>
                        </div>
                        <div>
                            
                        </div>
                        <div>
                            <input class="input-xs" type="number" name="system.physical.wounds" value="{{actor.system.physical.wounds}}" data-dtype="Number" placeholder="0"/><span class="resource-value input-small">Wounds</span>
                        </div>
                    </div>
                    <div class="resource-content flexrow flex-center flex-between">
                        <label class="alignCenter resource-label">Durability</label>
                        <label class="alignCenter resource-label">DR {{actor.system.physical.dr}}</label>
                        <label class="alignCenter resource-label">WT {{actor.system.physical.wt}}</label>
                    </div>
                </div>
            </div>
            <div class="contentBox" style="margin-bottom: 10px;">
                <div class="flexrow subheader colorV1">
                    <h3 class="subheader colorV1">Mental</h3>
                    <div class="flexGrowHalf"></div>
                </div>
                <div class="listBackground shape1 flex-group-center">
                    <div class="resource-content flexrow flex-center flex-between" style="margin-bottom: 10px;">
                        <div>
                            <input class="input-xs" type="number" name="system.health.mental.value" value="{{actor.system.health.mental.value}}" data-dtype="Number" placeholder="0"/><span class="resource-value input-small">/{{actor.system.health.mental.max}}</span>
                        </div>
                        <div>
                            
                        </div>
                        <div>
                            <input class="input-xs" type="number" name="system.mental.trauma" value="{{actor.system.mental.trauma}}" data-dtype="Number" placeholder="0"/><span class="resource-value input-small">Trauma</span>
                        </div>
                    </div>
                    <div class="resource-content flexrow flex-center flex-between">
                        <span class="alignCenter resource-label">Lucidity </span>
                        <span class="alignCenter resource-label">IR {{actor.system.mental.ir}}</span>
                        <span class="alignCenter resource-label">TT {{actor.system.mental.tt}}</span>
                    </div>
                </div>
            </div>
            <div class="contentBox">
                <div class="flexrow subheader colorV1">
                    <h3 class="subheader colorV1">Other</h3>
                    <div class="flexGrowHalf">
                        <span class="resource-label flex-group-right">Ini {{actor.system.initiative.display}}</span>
                    </div>
                </div>
                {{#if (eq actor.type "character")}}
                <div class="listBackground flexrow flex-group-center shape1">
                    <div class="flexrow flex-group-left" style="flex-basis: 100%; margin-top: 19.5px; margin-bottom: 5px;">
                        <div class="flexrow flex-group-right">
                            <span class="resource-value flex-group-left">Rest: </span>
                            <span class="resource-label alignCenter">Short</span>
                            <input type="checkbox" class="sheet"
                                                   name="system.rest.short1" {{checked
                                                   actor.system.rest.short1}}>
                            <input type="checkbox" class="sheet"
                                                   name="system.rest.short2" {{checked
                                                   actor.system.rest.short2}}>
                        </div>
                        <div class="flexrow flex-group-right" style="flex: 0.5;">
                            <span class="resource-label alignCenter input-small">Long</span>
                            <input type="checkbox" class="sheet"
                                                   name="system.rest.long" {{checked
                                                   actor.system.rest.long}}>
                        </div>
                    </div>
                </div>
                {{else}}
                <div class="listBackground grid grid-3col shape1 noMargin">
        
                    <div class="flexrow flex-center standard-height">
                        <label class="resource-value">Ini Mod</label>
                    </div>
                    <div class="flexrow flex-center standard-height">
                        <label class="resource-value">Threat</label>
                    </div>
                    <div class="flexrow flex-center standard-heightr">
                        <label class="resource-value">Stress</label>
                    </div>
                    <div class="flexrow flex-center standard-height">
                        <input class="input-small flex-group-right" style="text-align: center" type="text" name="system.mods.iniMod" value="{{actor.system.mods.iniMod}}" data-dtype="Number" placeholder="0"/>
                    </div>
                    <div class="flexrow flex-center standard-height">
                        <input class="input-xs standard-height" style="text-align: center" type="text" name="system.threatLevel.current" value="{{actor.system.threatLevel.current}}" placeholder="0"/>/
                        <input class="input-xs standard-height" style="text-align: center" type="text" name="system.threatLevel.total" value="{{actor.system.threatLevel.total}}" placeholder="0"/>     
                    </div>
                    <div class="flexrow flex-center standard-height"><input class="input-medium" style="text-align: center" type="text" name="system.stresstest" value="{{actor.system.stresstest}}" placeholder="1d6"/>
                    </div>
                    </div>
                </div>
                {{/if}}
            </div>
    </div>
