

{{#with (lookup actor.system.ego.ids id) }}
<div class="contentBox">
    <div class="flexrow flex-group-center listBackground">
        <label class="input-medium resource-label" >Name</label>
        <input type="text" name="system.ego.ids.{{../id}}.name" value="{{name}}" placeholder="Fake Name" style="text-align: left"/>
    </div>
    <div class="listBackground">
            {{#each rep as |reputation key|}}
            <div class="flexrow flex-group-left noBorder reveal item" style="height: 28px;">
                <span class="toggle input-medium resource-label" >{{key}}</span>


                <div class="toggle flexrow flex-group-left noShow input-medium" style="padding-left: 5px;">
                  <img data-type="rep" data-name="{{key}}" data-rollvalue="{{reputation.value}}"
                       src="icons/svg/d10-grey.svg" class="icon-small roll-label task-check"/>
                </div>


                <input class="input-small" type="text" name="system.ego.ids.{{../../id}}.rep.{{key}}.value" 
                    value="{{reputation.value}}" placeholder="0" style="text-align: center"/>



                Min
                <input type="checkbox" class="sheet" name="system.ego.ids.{{../../id}}.rep.{{key}}.small1" {{checked reputation.small1}}>
                <input type="checkbox" class="sheet" name="system.ego.ids.{{../../id}}.rep.{{key}}.small2" {{checked reputation.small2}}>
                <input type="checkbox" class="sheet" name="system.ego.ids.{{../../id}}.rep.{{key}}.small3" {{checked reputation.small3}}> Mod
                <input type="checkbox" class="sheet" name="system.ego.ids.{{../../id}}.rep.{{key}}.med1" {{checked reputation.med1}}> Maj
                <input type="checkbox" class="sheet" name="system.ego.ids.{{../../id}}.rep.{{key}}.large" {{checked reputation.large}}>
            </div>
            {{/each}}
    </div>
</div>

{{/with}}
