<div class="tab body" data-group="primary" data-tab="morph">
    <div class="flexrow contentBox noMargin">
        <div style="flex-grow: 0.3; background-color: var(--mainBackground); height: 100vh;">
            <nav class="morph-tabs subtabs" data-group="morph-details">
                {{#each actor.morph as |morph key|}}
                    {{#if (eq actor.system.activeMorph morph.uuid)}}
                        <a data-tab="sleeved" class="item">
                            <div class="label">{{name}}</div>
                            <div class="state">{{localize "ep2e.morph.currentMorph.sleevedLabel"}}</div>
                        </a>
                    {{else}}
                        <a data-tab="{{id}}" class="item">
                            <div class="label">{{name}}</div>
                        </a>
                    {{/if}}
                {{/each}}
            </nav>
        </div>
        <div style="background-color: var(--pitchBorder);">
            <section class="morph-details">
            {{#each actor.morph as |morph key|}}
                {{#if (eq actor.system.activeMorph morph.uuid)}}
                    <div class="tab body" data-group="morph-details" data-tab="sleeved">
                        <span class="headline5">{{name}} - {{system.type}}</span>
                    </div>
                {{else}}
                    <div class="tab body" data-group="morph-details" data-tab="{{id}}">
                        <span class="headline5">{{name}} - {{system.type}}</span>
                    </div>
                {{/if}}
            {{/each}}
            </section>
        </div>
    </div>
</div>
