<div class="tab" data-group="primary" data-tab="weapons">
    {{#if actor.rangedWeapon}}
    <div class="contentBox gear">
        <div class="flexrow subheader flex-group-center">
            <h3 class="subheader flex-group-left">{{localize "ep2e.inventory.rangedLabel"}}</h3>
            <div class="alignRight" style="margin-right: 0.5em;">
                <a class="item-control item-create" title="Create item" data-type="rangedWeapon"><i class="fas fa-plus awesomeIcon"></i> {{localize "ep2e.inventory.npcInventory.quickAddRanged"}}</a>
            </div>
        </div>
            
        <div class="itemBackground">
            {{#each actor.rangedWeapon as |item id|}}

                {{> systems/eclipsephase/templates/actor/partials/item-partials/weapons.html item=item id=id type="ranged"}}   
            
            {{/each}}
        </div>

    </div>
    {{else}}
    <div class="contentBox gear">
        <div class="flexrow">
            <div class="separator" style=" margin-bottom: 10px; border-bottom: none;">
                <a class="item-control item-create" title="Create item" data-type="rangedWeapon" style="max-height: 24px;"><i class="fas fa-plus awesomeIcon"></i> {{{localize "ep2e.inventory.npcInventory.noRanged"}}}</a>
            </div>
        </div>
    </div>
    {{/if}}
    {{#if actor.ccweapon}}
    <div class="contentBox gear">
        <div class="flexrow subheader flex-group-center">
            <h3 class="subheader flex-group-left">{{localize "ep2e.inventory.ccLabel"}}</h3>
            <div class="alignRight" style="margin-right: 0.5em;">
                <a class="item-control item-create" title="Create item" data-type="ccWeapon"><i class="fas fa-plus awesomeIcon"></i> {{localize "ep2e.inventory.npcInventory.quickAddMelee"}}</a>
            </div>
        </div>
            
        <div class="itemBackground">
            {{#each actor.ccweapon as |item id|}}

                {{> systems/eclipsephase/templates/actor/partials/item-partials/weapons.html item=item id=id}}   
            
            {{/each}}
        </div>

    </div>
    {{else}}
    <div class="contentBox gear weaponslist">
        <div class="flexrow">
            <div class="separator" style=" border-bottom: none;">
                <a class="item-control item-create" title="Create item" data-type="ccWeapon" style="max-height: 24px;"><i class="fas fa-plus awesomeIcon"></i> {{{localize "ep2e.inventory.npcInventory.noMelee"}}}</a>
            </div>
        </div>
    </div>
    {{/if}}
        <div class="contentBox">
            <div class="flexrow subheader">
                <h3 class="subheader">{{localize "ep2e.morph.currentMorph.headline"}}</h3>
                <div class="alignRight flexGrowThreeQuarter">
                </div>
            </div>
            <div class="listBackground" style="background-color: var(--accentBackground);">
                <div class="grid grid-3col">
                    <div>
                        <input class="input-xl" type="text" onFocus="this.select()" name="system.bodies.morph1.name" value="{{actor.system.bodies.morph1.name}}" placeholder="Morph name"/>
                    </div>
                    <div>
                        <label class="resource-value">{{localize "ep2e.morph.currentMorph.morphType.label"}}:</label>
                        <select class="selectSpecApt item-standard-margin-medium" name="system.bodyType.value" data-type="String">
                            {{#select actor.system.bodyType.value}}
                            {{#each config.bodyTypes as |bodyType key|}}
                            <option value="{{key}}">{{localize bodyType}}</option>
                            {{/each}} {{/select}}
                        </select>
                    </div>
                    <div>
                        <label class="resource-value">{{localize "ep2e.morph.currentMorph.durabilityLabel"}}:</label>
                        <input class="input-small item-standard-margin-medium" onFocus="this.select()" style="text-align: center" type="number" name="system.bodies.morph1.dur" value="{{actor.system.bodies.morph1.dur}}" placeholder="0"/>
                    </div>
                </div>
                <div class="grid grid-3col">
                    
                    <div>
                        <label class="resource-value">{{localize "ep2e.morph.currentMorph.movement.label1"}}</label>                          
                    </div>
                    <div>
                        <label class="resource-value">{{localize "ep2e.morph.currentMorph.movement.speed"}}:</label>  
                        <input class="input-xs" style="text-align: center" onFocus="this.select()" type="number" name="system.bodies.morph1.movement1.base" value="{{actor.system.bodies.morph1.movement1.base}}" placeholder="0"/>/
                        <input class="input-xs" style="text-align: center" onFocus="this.select()" type="number" name="system.bodies.morph1.movement1.full" value="{{actor.system.bodies.morph1.movement1.full}}" placeholder="0"/>
                    </div>
                    <div>
                        <label class="resource-value">{{localize "ep2e.morph.currentMorph.movement.type"}}:</label>  
                        <select class="selectSpecApt item-standard-margin input-large" name="system.bodies.morph1.movement1.type" data-type="String" selected="Walker">
                            {{#select actor.system.bodies.morph1.movement1.type}}
                            {{#each config.moveTypes as |moveType key|}}
                                <option value="{{key}}">{{localize moveType}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </div>
                </div>
                <div class="grid grid-3col">
                    <div>
                        <label class="resource-value">{{localize "ep2e.morph.currentMorph.movement.label2"}}</label>                      
                    </div>
                    <div>
                        <label class="resource-value">{{localize "ep2e.morph.currentMorph.movement.speed"}}:</label> 
                        <input class="input-xs" style="text-align: center" onFocus="this.select()" type="number" name="system.bodies.morph1.movement2.base" value="{{actor.system.bodies.morph1.movement2.base}}" placeholder="0"/>/
                        <input class="input-xs" style="text-align: center" onFocus="this.select()" type="number" name="system.bodies.morph1.movement2.full" value="{{actor.system.bodies.morph1.movement2.full}}" placeholder="0"/>
                    </div>
                    <div>
                        <label class="resource-value">{{localize "ep2e.morph.currentMorph.movement.type"}}:</label>  
                        <select class="selectSpecApt item-standard-margin input-large" name="system.bodies.morph1.movement2.type" data-type="String">
                            {{#select actor.system.bodies.morph1.movement2.type}}
                            {{#each config.moveTypes as |moveType key|}}
                                <option value="{{key}}">{{localize moveType}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid grid-2col">
            <div class="contentBox">
                <div class="flexrow subheader flex-group-center">
                    <h3 class="subheader flex-group-left" style="flex-grow: 1.5;">{{localize "ep2e.inventory.npcInventory.traitsAndWareHeadline"}}</h3>
                    <div class="alignRight reveal">
                    </div>
                </div>  
                <div class="listBackground noMargin">
                    <div class="flexrow" style="align-items: center">
                        <i class="far fa-plus-square awesomeIcon" style="color: var(--positive); flex: 0.05;"></i>
                        <label class="resource-label">{{localize "ep2e.inventory.npcInventory.traitsLabel"}}:</label>
                    </div>
                    <div class="flexrow headSpace">
                        {{#if actor.morphTrait}}
                        {{#each actor.morphTrait as |item id|}}
                        <div class="item flexrow flex-group-center pill wantToKnowMoreFixed" data-item-id="{{item._id}}">
                            <h4 class="item-name item-control item-edit noMargin hoverable truncate"><strong>{{item.name}}</strong></h4>
                            <h4 class="tooltipText"><strong>{{item.name}}</strong></h4>
                            <div class="item-controls flex-group-right" style="flex: 0.2;">
                                <a class="item-control item-delete" title="Delete Item"><i class="far fa-times-circle awesomeIcon"></i></a>
                            </div>
                        </div>
                        {{/each}}
                        {{else}}
                        <label class="resource-value" style="height: 30px;">{{localize "ep2e.inventory.npcInventory.noTraitsCopy"}}</label>
                        {{/if}}
                    </div>
                    <div class="flexrow" style="align-items: center">
                        <i class="far fa-minus-square awesomeIcon" style="color: var(--negative); flex: 0.05;"></i>
                        <label class="resource-label">{{localize "ep2e.inventory.npcInventory.flawsLabel"}}:</label>
                    </div>
                    <div class="flexrow headSpace">
                        {{#if actor.morphFlaw}}
                        {{#each actor.morphFlaw as |item id|}}
                        <div class="item flexrow flex-group-center pill wantToKnowMoreFixed" data-item-id="{{item._id}}">
                            <h4 class="item-name item-control item-edit noMargin hoverable truncate"><strong>{{item.name}}</strong></h4>
                            <h4 class="tooltipText"><strong>{{item.name}}</strong></h4>
                            <div class="item-controls flex-group-right" style="flex: 0.2;">
                                <a class="item-control item-delete" title="Delete Item"><i class="far fa-times-circle awesomeIcon"></i></a>
                            </div>
                        </div>
                        {{/each}}
                        {{else}}
                        <label class="resource-value" style="height: 30px;">{{localize "ep2e.inventory.npcInventory.noFlawsCopy"}}</label>
                        {{/if}}
                    </div>
                    <div class="flexrow" style="align-items: center">
                        <i class="fas fa-bolt awesomeIcon" style="color: var(--iconBlue); flex: 0.05;"></i>
                        <label class="resource-label">{{localize "ep2e.inventory.npcInventory.wareLabel"}}:</label>
                    </div>
                    <div class="flexrow headSpace">
                        {{#if actor.ware}}
                        {{#each actor.ware as |item id|}}
                        <div class="item flexrow flex-group-center pill wantToKnowMoreFixed" data-item-id="{{item._id}}" style="padding-left: 0.2em;">
                            <h4 class="item-name item-control item-edit noMargin hoverable truncate"><strong>{{item.name}}</strong></h4>
                            <h4 class="tooltipText"><strong>{{item.name}}</strong></h4>
                            <div class="flex-group-right" style="flex: 0.2;">
                                <a class="item-control item-delete" title="Delete Item"><i class="far fa-times-circle awesomeIcon"></i></a>
                            </div>
                        </div>
                        {{/each}}
                        {{else}}
                        <label class="resource-value" style="height: 30px;">{{localize "ep2e.inventory.npcInventory.noWareCopy"}}</label>
                        {{/if}}
                    </div>
                </div>
            </div>
        <div class="contentBox">
            <div class="flexrow subheader flex-group-center">
                <h3 class="subheader flex-group-left">{{localize "ep2e.inventory.npcInventory.armorAndGearHeadline"}}</h3>
                <div class="alignRight reveal" style="margin-right: 0.5em;">
                    <a class="item-control item-create flex-group-right" title="Create item" data-type="armor"><i class="fas fa-plus awesomeIcon" style="margin-right: 0.5em;"></i> {{localize "ep2e.inventory.npcInventory.quickAddArmor"}}</a>
                </div>
            </div>
            <div class="listBackground noMargin">
                <div class="headSpace">
                    {{#if actor.armor}}
                    {{#each actor.armor as |item id|}}
                    <div class="item flexrow flex-group-center" data-item-id="{{item._id}}">
                        <div class="flexrow">
                            <input class="sheet-inline-edit item-edit item-standard-margin-medium" data-field="name" type="text" name="item.name" value="{{item.name}}" placeholder="No Armor Name" style="text-align: left; font-weight: bold"/>
                        </div>
                        <div class="flexrow flex-group-right">
                            <label class="labelWidth-large
                            flex-group-center noMargin">{{localize "ep2e.inventory.npcInventory.armorEnergy"}}:
                            <strong>{{item.system.energy}}</strong></label>
                        </div>
                        <div class="flexrow flex-group-right">
                            <label class="labelWidth-large
                            flex-group-center noMargin">{{localize "ep2e.inventory.npcInventory.armorKinetic"}}:
                            <strong>{{item.system.kinetic}}</strong></label>
                        </div>
                        <div class="flex-group-center input-small" style="padding-left: 5px;">
                            <a class="item-control item-delete" title="Delete Item"><i class="far fa-times-circle awesomeIcon"></i></a>
                        </div>
                    </div>
                    {{/each}}
                    {{else}}
                    <div class=" flexrow" style="height: 30px;">
                        <label class="resource-value">{{localize "ep2e.inventory.npcInventory.noArmor"}}</label>
                    </div>
                    {{/if}}
                </div>
                <div class="headSpace">
                    <div class="flexrow" style="align-items: center">
                        <i class="fas fa-cog awesomeIcon" style="color: var(--inactive); flex: 0.05;"></i>
                        <label class="resource-label">{{localize "ep2e.inventory.npcInventory.gearLabel"}}:</label>
                    </div>
                    <div class="flexrow headSpace">
                        {{#if actor.gear}}
                        {{#each actor.gear as |item id|}}
                        <div class="item flexrow trunContainer flex-between wantToKnowMoreFixed" data-item-id="{{item._id}}" style="align-items: center; min-height: 36px; background-color: var(--pitchBorder); padding: 0 10px 0 10px;">
                            <h4 class="item-name item-control item-edit noMargin hoverable truncate"><strong>{{item.name}}</strong></h4>
                            <h4 class="tooltipText"><strong>{{item.name}}</strong></h4>
                            <label class="flex-group-center noMargin
                            alignCenter" style="background: none;
                            font-size: 12px; flex:
                            0.4"><i>{{item.system.slotType}}</i></label>
                            <div class="flex-group-right" style="flex: 0.2;">
                                <a class="item-control item-delete" title="Delete Item"><i class="far fa-times-circle awesomeIcon"></i></a>
                            </div>
                        </div>
                        {{/each}}
                        {{else}}
                        <label class="resource-value" style="height: 30px;">{{localize "ep2e.inventory.npcInventory.noGearCopy"}}</label>
                        {{/if}}
                    </div>
                    <div class="flexrow flex-group-center">
                        <img src="systems/eclipsephase/resources/icons/ammo.png" style="max-width: 20px; padding-bottom: 3px;"/>
                        <label class="resource-label">{{localize "ep2e.inventory.npcInventory.ammunitionLabel"}}:</label>
                    </div>
                    {{#if actor.system.additionalSystems.hasAmmo}}
                    <div class="flexrow headSpace">
                        {{#each actor.ammo as |category key|}}
                            {{#if (ne key "chemical")}}
                                {{#each category as |item key|}}
                                <div class="item flexrow flex-group-center wantToKnowMoreFixed pill" data-item-id="{{item._id}}" style="align-items: center; min-height: 36px;">
                                    <h4 class="item-name item-control item-edit noMargin hoverable truncate"><strong>{{item.name}}</strong></h4>
                                    <h4 class="tooltipText" style="min-width: 170px;"><strong>{{item.name}}</strong></h4>
                                    <div class="flex-group-right" style="flex: 0.2;">
                                        <a class="item-control item-delete" title="Delete Item"><i class="far fa-times-circle awesomeIcon"></i></a>
                                    </div>
                                </div>
                                {{/each}}
                            {{/if}}
                        {{/each}}
                    </div>
                    {{else}}
                    <label class="resource-value" style="height: 30px;">{{localize "ep2e.inventory.npcInventory.noAmmunitionCopy"}}</label>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
