<li><select name="system.subStrain.label" class="psiFormElement strainSelection" data-type="String">
    {{selectOptions config.strains selected=actor.system.subStrain.label localize=true}}
</select></li>

<!-- Architect -->
{{#if (eq actor.system.subStrain.label "architect")}}
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.psi.effect.physicalDamage"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">1</div>
        <div type="text" class="psiFreeTextElement">{{localize "ep2e.psi.effect.takeDamage"}}</div>
    </div>
</li>
<li class="psiInfluenceContainer">
    <select name="system.subStrain.influence2.label" class="psiFormLabel" data-type="String">
        {{selectOptions config.psiStrainLabels selected=actor.system.subStrain.influence2.label localize=true}}
    </select>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">2</div>
        {{#if (eq actor.system.subStrain.influence2.label "enhancedBehaviour")}}
            <select name="system.subStrain.influence2.description" class="psiFormElement" data-type="String">
                {{selectOptions config.architectEnhanced selected=actor.system.subStrain.influence2.description localize=true}}
            </select>
        {{else if (eq actor.system.subStrain.influence2.label "restrictedBehaviour")}}
            <div type="text" class="psiFreeTextElement">{{localize "ep2e.psi.effect.restrictedBehaviour.relaxation"}}</div>
        {{else}}
            <div class="psiFreeTextElement"></div>
        {{/if}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <select name="system.subStrain.influence3.label" class="psiFormLabel" data-type="String">
        {{selectOptions config.psiStrainLabels selected=actor.system.subStrain.influence3.label localize=true}}
    </select>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">3</div>
        {{#if (eq actor.system.subStrain.influence3.label "enhancedBehaviour")}}
            <select name="system.subStrain.influence3.description" class="psiFormElement" data-type="String">
                {{selectOptions config.architectEnhanced selected=actor.system.subStrain.influence3.description localize=true}}
            </select>
        {{else if (eq actor.system.subStrain.influence3.label "restrictedBehaviour")}}
            <div type="text" class="psiFreeTextElement">{{localize "ep2e.psi.effect.restrictedBehaviour.relaxation"}}</div>
        {{else}}
            <div class="psiFreeTextElement"></div>
        {{/if}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.psi.effect.motivation.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">4</div>
        <select name="system.subStrain.influence4.description" class="psiFormElement" data-type="String">
            {{selectOptions config.architectMotivation selected=actor.system.subStrain.influence4.description localize=true}}
        </select>
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.psi.effect.motivation.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">5</div>
        <select name="system.subStrain.influence5.description" class="psiFormElement" data-type="String">
            {{selectOptions config.architectMotivation selected=actor.system.subStrain.influence5.description localize=true}}
        </select>
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.psi.effect.motivation.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">6</div>
        <select name="system.subStrain.influence6.description" class="psiFormElement" data-type="String">
            {{selectOptions config.architectMotivation selected=actor.system.subStrain.influence6.description localize=true}}
        </select>
    </div>
</li>
{{/if}}

<!-- Beast -->
{{#if (eq actor.system.subStrain.label "beast")}}
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.psi.effect.physicalDamage"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">1</div>
        <div type="text" class="psiFreeTextElement">{{localize "ep2e.psi.effect.takeDamage"}}</div>
    </div>
</li>
<li class="psiInfluenceContainer">
    <select name="system.subStrain.influence2.label" class="psiFormLabel" data-type="String">
        {{selectOptions config.psiStrainLabels selected=actor.system.subStrain.influence2.label localize=true}}
    </select>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">2</div>
        {{#if (eq actor.system.subStrain.influence2.label "enhancedBehaviour")}}
            <select name="system.subStrain.influence2.description" class="psiFormElement" data-type="String">
                {{selectOptions config.beastEnhanced selected=actor.system.subStrain.influence2.label localize=true}}
            </select>
        {{else if (eq actor.system.subStrain.influence2.label "restrictedBehaviour")}}
            <select name="system.subStrain.influence2.description" class="psiFormElement" data-type="String">
                {{selectOptions config.beastRestricted selected=actor.system.subStrain.influence2.description localize=true}}
            </select>
        {{else}}
            <div class="psiFreeTextElement"></div>
        {{/if}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <select name="system.subStrain.influence3.label" class="psiFormLabel" data-type="String">
        {{selectOptions config.psiStrainLabels selected=actor.system.subStrain.influence3.label localize=true}}
    </select>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">3</div>
        {{#if (eq actor.system.subStrain.influence3.label "enhancedBehaviour")}}
            <select name="system.subStrain.influence3.description" class="psiFormElement" data-type="String">
                {{selectOptions config.beastEnhanced selected=actor.system.subStrain.influence3.description localize=true}}
            </select>
        {{else if (eq actor.system.subStrain.influence3.label "restrictedBehaviour")}}
            <select name="system.subStrain.influence3.description" class="psiFormElement" data-type="String">
                {{selectOptions config.beastRestricted selected=actor.system.subStrain.influence3.description localize=true}}
            </select>
        {{else}}
            <div class="psiFreeTextElement"></div>
        {{/if}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.psi.effect.motivation.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">4</div>
        <select name="system.subStrain.influence4.description" class="psiFormElement" data-type="String">
            {{selectOptions config.beastMotivation selected=actor.system.subStrain.influence4.description localize=true}}
        </select>
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.psi.effect.motivation.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">5</div>
        <select name="system.subStrain.influence5.description" class="psiFormElement" data-type="String">
            {{selectOptions config.beastMotivation selected=actor.system.subStrain.influence5.description localize=true}}
        </select>
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.psi.effect.other"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">6</div>
        <div type="text" class="psiFreeTextElement">{{localize "ep2e.psi.effect.frenzy"}}</div>
    </div>
</li>
{{/if}}

<!-- Haunter -->
{{#if (eq actor.system.subStrain.label "haunter")}}
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.psi.effect.physicalDamage"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">1</div>
        <div type="text" class="psiFreeTextElement">{{localize "ep2e.psi.effect.takeDamage"}}</div>
    </div>
</li>
<li class="psiInfluenceContainer">
    <select name="system.subStrain.influence2.label" class="psiFormLabel" data-type="String">
        {{selectOptions config.psiStrainLabels selected=actor.system.subStrain.influence2.label localize=true}}
    </select>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">2</div>
        {{#if (eq actor.system.subStrain.influence2.label "enhancedBehaviour")}}
            <select name="system.subStrain.influence2.description" class="psiFormElement" data-type="String">
                {{selectOptions config.haunterEnhanced selected=actor.system.subStrain.influence2.description localize=true}}
            </select>
        {{else if (eq actor.system.subStrain.influence2.label "restrictedBehaviour")}}
            <div type="text" class="psiFreeTextElement">{{localize "ep2e.psi.effect.restrictedBehaviour.empathy"}}</div>
        {{else}}
            <div class="psiFreeTextElement"></div>
        {{/if}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <select name="system.subStrain.influence3.label" class="psiFormLabel" data-type="String">
        {{selectOptions config.psiStrainLabels selected=actor.system.subStrain.influence3.label localize=true}}
    </select>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">3</div>
        {{#if (eq actor.system.subStrain.influence3.label "enhancedBehaviour")}}
            <select name="system.subStrain.influence3.description" class="psiFormElement" data-type="String">
                {{selectOptions config.haunterEnhanced selected=actor.system.subStrain.influence3.description localize=true}}
            </select>
        {{else if (eq actor.system.subStrain.influence3.label "restrictedBehaviour")}}
            <div type="text" class="psiFreeTextElement">{{localize "ep2e.psi.effect.restrictedBehaviour.empathy"}}</div>
        {{else}}
            <div class="psiFreeTextElement"></div>
        {{/if}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.psi.effect.motivation.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">4</div>
        <select name="system.subStrain.influence4.description" class="psiFormElement" data-type="String">
            {{selectOptions config.haunterMotivation selected=actor.system.subStrain.influence4.description localize=true}}
        </select>
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.psi.effect.motivation.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">5</div>
        <select name="system.subStrain.influence5.description" class="psiFormElement" data-type="String">
            {{selectOptions config.haunterMotivation selected=actor.system.subStrain.influence5.description localize=true}}
        </select>
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.psi.effect.other"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">6</div>
        <div type="text" class="psiFreeTextElement">{{localize "ep2e.psi.effect.hallucination"}}</div>
    </div>
</li>
{{/if}}

<!-- Stranger -->
{{#if (eq actor.system.subStrain.label "stranger")}}
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.psi.effect.physicalDamage"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">1</div>
        <div type="text" class="psiFreeTextElement">{{localize "ep2e.psi.effect.takeDamage"}}</div>
    </div>
</li>
<li class="psiInfluenceContainer">
    <select name="system.subStrain.influence2.label" class="psiFormLabel" data-type="String">
        {{selectOptions config.psiStrainLabels selected=actor.system.subStrain.influence2.label localize=true}}
    </select>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">2</div>
        {{#if (eq actor.system.subStrain.influence2.label "enhancedBehaviour")}}
            <select name="system.subStrain.influence2.description" class="psiFormElement" data-type="String">
                {{selectOptions config.strangerEnhanced selected=actor.system.subStrain.influence2.description localize=true}}
            </select>
        {{else if (eq actor.system.subStrain.influence2.label "restrictedBehaviour")}}
            <select name="system.subStrain.influence2.description" class="psiFormElement" data-type="String">
                {{selectOptions config.strangerRestricted selected=actor.system.subStrain.influence2.description localize=true}}
            </select>
        {{else}}
            <div class="psiFreeTextElement"></div>
        {{/if}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <select name="system.subStrain.influence3.label" class="psiFormLabel" data-type="String">
        {{selectOptions config.psiStrainLabels selected=actor.system.subStrain.influence3.label localize=true}}
    </select>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">3</div>
        {{#if (eq actor.system.subStrain.influence3.label "enhancedBehaviour")}}
            <select name="system.subStrain.influence3.description" class="psiFormElement" data-type="String">
                {{selectOptions config.strangerEnhanced selected=actor.system.subStrain.influence3.description localize=true}}
            </select>
        {{else if (eq actor.system.subStrain.influence3.label "restrictedBehaviour")}}
            <select name="system.subStrain.influence3.description" class="psiFormElement" data-type="String">
                {{selectOptions config.strangerRestricted selected=actor.system.subStrain.influence3.description localize=true}}
            </select>
        {{else}}
            <div class="psiFreeTextElement"></div>
        {{/if}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.psi.effect.motivation.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">4</div>
        <select name="system.subStrain.influence4.description" class="psiFormElement" data-type="String">
            {{selectOptions config.strangerMotivation selected=actor.system.subStrain.influence4.description localize=true}}
        </select>
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.psi.effect.motivation.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">5</div>
        <select name="system.subStrain.influence5.description" class="psiFormElement" data-type="String">
            {{selectOptions config.strangerMotivation selected=actor.system.subStrain.influence5.description localize=true}}
        </select>
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.psi.effect.motivation.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">6</div>
        <select name="system.subStrain.influence6.description" class="psiFormElement" data-type="String">
            {{selectOptions config.strangerMotivation selected=actor.system.subStrain.influence6.description localize=true}}
        </select>
    </div>
</li>
{{/if}}

<!-- Xenomorph -->
{{#if (eq actor.system.subStrain.label "xenomorph")}}
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.psi.effect.physicalDamage"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">1</div>
        <div type="text" class="psiFreeTextElement">{{localize "ep2e.psi.effect.takeDamage"}}</div>
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.psi.effect.enhancedBehaviour.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">2</div>
            <select name="system.subStrain.influence2.description" class="psiFormElement" data-type="String">
                {{selectOptions config.xenomorphEnhanced selected=actor.system.subStrain.influence2.description localize=true}}
            </select>
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.psi.effect.enhancedBehaviour.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">3</div>
            <select name="system.subStrain.influence3.description" class="psiFormElement" data-type="String">
                {{selectOptions config.xenomorphEnhanced selected=actor.system.subStrain.influence3.description localize=true}}
            </select>
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.psi.effect.motivation.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">4</div>
        <select name="system.subStrain.influence4.description" class="psiFormElement" data-type="String">
            {{selectOptions config.xenomorphMotivation selected=actor.system.subStrain.influence4.description localize=true}}
        </select>
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.psi.effect.motivation.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">5</div>
        <select name="system.subStrain.influence5.description" class="psiFormElement" data-type="String">
            {{selectOptions config.xenomorphMotivation selected=actor.system.subStrain.influence5.description localize=true}}
        </select>
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.psi.effect.motivation.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">6</div>
        <select name="system.subStrain.influence6.description" class="psiFormElement" data-type="String">
            {{selectOptions config.xenomorphMotivation selected=actor.system.subStrain.influence6.description localize=true}}
        </select>
    </div>
</li>
{{/if}}

<!-- Custom Virus -->
{{#if (eq actor.system.subStrain.label "custom")}}
{{#each actor.system.strainInfluence as |influence key|}}
<li  class="psiInfluenceContainer">
    <select name="system.strainInfluence.{{key}}.label" class="psiFormLabel" data-type="String">
        {{selectOptions @root.config.otherPsiLabels selected=influence.label localize=true}}
    </select>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">{{influence.number}}</div>
        <input type="text" class="psiFormElement"  name="system.strainInfluence.{{key}}.description" value="{{localize influence.description}}" placeholder="Name an effect"/>
    </div>
</li>
{{/each}}
{{/if}}