<div class="tab psi" data-group="primary" data-tab="psi">    
    {{#if (ne actor.type "goon")}}
        {{#if actor.system.additionalSystems.psiAutoClose}}
            <div class="contentBox item" style="margin-bottom: 10px;">
                <div class="flexrow subheader" style="min-width: 100%; height: 28px;">
                    <h3 class="subheader" style ="max-width: 233px; height: 28px;">{{localize "ep2e.psi.infectionHeadline"}}</h3>
                    <div class="alignRight flexGrowThreeQuarter" style ="height: 28px;">
                        <span class="resource-label  input-XL"><strong>{{localize "ep2e.psi.ratingLabel"}}:</strong></span>
                        {{#if isGM}}
                            <input class="input-small" type="text" style="text-align: center;" name="system.psiStrain.infection" value="{{actor.system.psiStrain.infection}}" placeholder="0"/>
                        {{else}}
                            <span class="resource-label  input-XL"><strong>{{actor.system.psiStrain.infection}}</strong></span>
                        {{/if}}
                    </div>
                    <div class="slideShow flexrow" style="padding: 0 10px; max-width: max-content; min-width: max-content; align-items: center; min-height: 28px;">
                        <span>{{localize "ep2e.actorSheet.button.showDetails"}} <i class="fas fa-plus icon-small"></i></span>
                        <span class="noShow">{{localize "ep2e.actorSheet.button.hideDetails"}} <i class="fas fa-minus icon-small"></i></span>
                    </div>
                </div>
                <div class="listBackground noMargin item noShow showMore">
                    <div class="flexrow grid">
                        <ol>
                            <li class="skills"><input type="text" name="system.psiStrain.name" class="psiFormElement" value="{{actor.system.psiStrain.name}}" placeholder="{{localize 'ep2e.psi.strainPlaceholder'}}"/></li>
                            <li><textarea class="description" name="system.psiStrain.description" rows="22" cols="60" placeholder="{{localize 'ep2e.psi.descriptionPlaceholder'}}">{{actor.system.psiStrain.description}}</textarea></li>
                            <li style="display: flex; align-items: center; margin-top: 20px;"><input class="checkBox" name="system.additionalSystems.psiAutoClose" data-dtype="Boolean" type="checkbox" {{checked actor.system.additionalSystems.psiAutoClose}}/>{{localize "ep2e.psi.autoClose"}}</li>
                        </ol>
                        <ol>
                            
                            {{> systems/eclipsephase/templates/actor/partials/tabs/psi-details.html }}

                        </ol>
                    </div>
                </div>
            </div>
        {{else}}
            <div class="contentBox item" style="margin-bottom: 10px;">
                <div class="flexrow subheader" style="min-width: 100%; height: 28px;">
                    <h3 class="subheader" style ="max-width: 233px; height: 28px;">{{localize "ep2e.psi.infectionHeadline"}}</h3>
                    <div class="alignRight flexGrowThreeQuarter" style ="height: 28px;">
                        <span class="resource-label  input-XL"><strong>{{localize "ep2e.psi.ratingLabel"}}:</strong></span>
                        {{#if isGM}}
                            <input class="input-small infectionRating" type="text" style="text-align: center;" name="system.psiStrain.infection" value="{{actor.system.psiStrain.infection}}" placeholder="0"/>
                        {{else}}
                            <span class="resource-label  input-XL"><strong>{{actor.system.psiStrain.infection}}</strong></span>
                        {{/if}}
                    </div>
                    <div class="slideShow flexrow" style="padding: 0 10px; max-width: max-content; min-width: max-content; align-items: center; min-height: 28px;">
                        <span>{{localize "ep2e.actorSheet.button.showDetails"}} <i class="fas fa-plus icon-small"></i></span>
                        <span class="noShow">{{localize "ep2e.actorSheet.button.hideDetails"}} <i class="fas fa-minus icon-small"></i></span>
                    </div>
                </div>
                <div class="listBackground noMargin item">
                    <div class="flexrow grid">
                        <ol>
                            <li class="skills"><input type="text" name="system.psiStrain.name" class="psiFormElement" value="{{actor.system.psiStrain.name}}" placeholder="{{localize 'ep2e.psi.strainPlaceholder'}}"/></li>
                            <li><textarea class="description" name="system.psiStrain.description" rows="22" cols="60" placeholder="{{localize 'ep2e.psi.descriptionPlaceholder'}}">{{actor.system.psiStrain.description}}</textarea></li>
                            <li style="display: flex; align-items: center; margin-top: 20px;"><input class="checkBox" name="system.additionalSystems.psiAutoClose" data-dtype="Boolean" type="checkbox" {{checked actor.system.additionalSystems.psiAutoClose}}/>{{localize "ep2e.psi.autoClose"}}</li>
                        </ol>
                        <ol>
                            
                            {{> systems/eclipsephase/templates/actor/partials/tabs/psi-details.html }}

                        </ol>
                    </div>
                </div>
            </div>
        {{/if}}
    {{/if}}
    {{#if actor.aspect.gamma}}
        <div class="sideCarBox gammaBackground">
            <div style=" margin-bottom: 20px;">
                <label class="resource-value" style="font-size: 20px;">{{localize "ep2e.psi.gammaHeadline"}}</label>
            </div>

            {{> systems/eclipsephase/templates/actor/partials/item-partials/gamma-sleight.html }}

        </div>
        {{/if}}
        {{#if actor.aspect.chi}}
        <div class="sideCarBox chiBackground">
            <div style=" margin-bottom: 20px;">
                <label class="resource-value" style="font-size: 20px;">{{localize "ep2e.psi.chiHeadline"}}</label>
            </div>

            {{> systems/eclipsephase/templates/actor/partials/item-partials/chi-sleight.html }}

        </div>
        {{/if}}
</div>
