<li><select name="system.subStrain.label" class="psiFormElement" data-type="String">
    {{selectOptions subStrainOptions selected=actor.system.subStrain.label localize=true}}
</select></li>

<!-- Architect -->
{{#if (and (eq sleightFamily "psi") (eq actor.system.subStrain.label "architect"))}}
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.psi.effect.physicalDamage"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">1</div>
        <div type="text" class="psiFreeTextElement">{{localize "ep2e.psi.effect.takeDamage"}}</div>
        {{effectInfo "ep2e.psi.effect" "takeDamage"}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <select name="system.subStrain.byArchetype.architect.influence2.label" class="psiFormLabel" data-type="String">
        {{selectOptions config.psiStrainLabels selected=actor.system.subStrain.byArchetype.architect.influence2.label localize=true}}
    </select>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">2</div>
        {{#if (eq actor.system.subStrain.byArchetype.architect.influence2.label "enhancedBehaviour")}}
            <select name="system.subStrain.byArchetype.architect.influence2.description" class="psiFormElement" data-type="String">
                {{selectOptions config.architectEnhanced selected=actor.system.subStrain.byArchetype.architect.influence2.description localize=true}}
            </select>
            {{effectInfo "ep2e.psi.effect.enhancedBehaviour" actor.system.subStrain.byArchetype.architect.influence2.description}}
        {{else if (eq actor.system.subStrain.byArchetype.architect.influence2.label "restrictedBehaviour")}}
            <div type="text" class="psiFreeTextElement">{{localize "ep2e.psi.effect.restrictedBehaviour.relaxation"}}</div>
            {{effectInfo "ep2e.psi.effect.restrictedBehaviour" "relaxation"}}
        {{else}}
            <div class="psiFreeTextElement"></div>
        {{/if}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <select name="system.subStrain.byArchetype.architect.influence3.label" class="psiFormLabel" data-type="String">
        {{selectOptions config.psiStrainLabels selected=actor.system.subStrain.byArchetype.architect.influence3.label localize=true}}
    </select>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">3</div>
        {{#if (eq actor.system.subStrain.byArchetype.architect.influence3.label "enhancedBehaviour")}}
            <select name="system.subStrain.byArchetype.architect.influence3.description" class="psiFormElement" data-type="String">
                {{selectOptions config.architectEnhanced selected=actor.system.subStrain.byArchetype.architect.influence3.description localize=true}}
            </select>
            {{effectInfo "ep2e.psi.effect.enhancedBehaviour" actor.system.subStrain.byArchetype.architect.influence3.description}}
        {{else if (eq actor.system.subStrain.byArchetype.architect.influence3.label "restrictedBehaviour")}}
            <div type="text" class="psiFreeTextElement">{{localize "ep2e.psi.effect.restrictedBehaviour.relaxation"}}</div>
            {{effectInfo "ep2e.psi.effect.restrictedBehaviour" "relaxation"}}
        {{else}}
            <div class="psiFreeTextElement"></div>
        {{/if}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.psi.effect.motivation.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">4</div>
        <select name="system.subStrain.byArchetype.architect.influence4.description" class="psiFormElement" data-type="String">
            {{selectOptions config.architectMotivation selected=actor.system.subStrain.byArchetype.architect.influence4.description localize=true}}
        </select>
        {{effectInfo "ep2e.psi.effect.motivation" actor.system.subStrain.byArchetype.architect.influence4.description}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.psi.effect.motivation.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">5</div>
        <select name="system.subStrain.byArchetype.architect.influence5.description" class="psiFormElement" data-type="String">
            {{selectOptions config.architectMotivation selected=actor.system.subStrain.byArchetype.architect.influence5.description localize=true}}
        </select>
        {{effectInfo "ep2e.psi.effect.motivation" actor.system.subStrain.byArchetype.architect.influence5.description}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.psi.effect.motivation.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">6</div>
        <select name="system.subStrain.byArchetype.architect.influence6.description" class="psiFormElement" data-type="String">
            {{selectOptions config.architectMotivation selected=actor.system.subStrain.byArchetype.architect.influence6.description localize=true}}
        </select>
        {{effectInfo "ep2e.psi.effect.motivation" actor.system.subStrain.byArchetype.architect.influence6.description}}
    </div>
</li>
{{/if}}

<!-- Beast -->
{{#if (and (eq sleightFamily "psi") (eq actor.system.subStrain.label "beast"))}}
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.psi.effect.physicalDamage"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">1</div>
        <div type="text" class="psiFreeTextElement">{{localize "ep2e.psi.effect.takeDamage"}}</div>
        {{effectInfo "ep2e.psi.effect" "takeDamage"}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <select name="system.subStrain.byArchetype.beast.influence2.label" class="psiFormLabel" data-type="String">
        {{selectOptions config.psiStrainLabels selected=actor.system.subStrain.byArchetype.beast.influence2.label localize=true}}
    </select>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">2</div>
        {{#if (eq actor.system.subStrain.byArchetype.beast.influence2.label "enhancedBehaviour")}}
            <select name="system.subStrain.byArchetype.beast.influence2.description" class="psiFormElement" data-type="String">
                {{selectOptions config.beastEnhanced selected=actor.system.subStrain.byArchetype.beast.influence2.description localize=true}}
            </select>
            {{effectInfo "ep2e.psi.effect.enhancedBehaviour" actor.system.subStrain.byArchetype.beast.influence2.description}}
        {{else if (eq actor.system.subStrain.byArchetype.beast.influence2.label "restrictedBehaviour")}}
            <select name="system.subStrain.byArchetype.beast.influence2.description" class="psiFormElement" data-type="String">
                {{selectOptions config.beastRestricted selected=actor.system.subStrain.byArchetype.beast.influence2.description localize=true}}
            </select>
            {{effectInfo "ep2e.psi.effect.restrictedBehaviour" actor.system.subStrain.byArchetype.beast.influence2.description}}
        {{else}}
            <div class="psiFreeTextElement"></div>
        {{/if}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <select name="system.subStrain.byArchetype.beast.influence3.label" class="psiFormLabel" data-type="String">
        {{selectOptions config.psiStrainLabels selected=actor.system.subStrain.byArchetype.beast.influence3.label localize=true}}
    </select>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">3</div>
        {{#if (eq actor.system.subStrain.byArchetype.beast.influence3.label "enhancedBehaviour")}}
            <select name="system.subStrain.byArchetype.beast.influence3.description" class="psiFormElement" data-type="String">
                {{selectOptions config.beastEnhanced selected=actor.system.subStrain.byArchetype.beast.influence3.description localize=true}}
            </select>
            {{effectInfo "ep2e.psi.effect.enhancedBehaviour" actor.system.subStrain.byArchetype.beast.influence3.description}}
        {{else if (eq actor.system.subStrain.byArchetype.beast.influence3.label "restrictedBehaviour")}}
            <select name="system.subStrain.byArchetype.beast.influence3.description" class="psiFormElement" data-type="String">
                {{selectOptions config.beastRestricted selected=actor.system.subStrain.byArchetype.beast.influence3.description localize=true}}
            </select>
            {{effectInfo "ep2e.psi.effect.restrictedBehaviour" actor.system.subStrain.byArchetype.beast.influence3.description}}
        {{else}}
            <div class="psiFreeTextElement"></div>
        {{/if}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.psi.effect.motivation.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">4</div>
        <select name="system.subStrain.byArchetype.beast.influence4.description" class="psiFormElement" data-type="String">
            {{selectOptions config.beastMotivation selected=actor.system.subStrain.byArchetype.beast.influence4.description localize=true}}
        </select>
        {{effectInfo "ep2e.psi.effect.motivation" actor.system.subStrain.byArchetype.beast.influence4.description}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.psi.effect.motivation.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">5</div>
        <select name="system.subStrain.byArchetype.beast.influence5.description" class="psiFormElement" data-type="String">
            {{selectOptions config.beastMotivation selected=actor.system.subStrain.byArchetype.beast.influence5.description localize=true}}
        </select>
        {{effectInfo "ep2e.psi.effect.motivation" actor.system.subStrain.byArchetype.beast.influence5.description}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.psi.effect.other"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">6</div>
        <div type="text" class="psiFreeTextElement">{{localize "ep2e.psi.effect.frenzy"}}</div>
        {{effectInfo "ep2e.psi.effect" "frenzy"}}
    </div>
</li>
{{/if}}

<!-- Haunter -->
{{#if (and (eq sleightFamily "psi") (eq actor.system.subStrain.label "haunter"))}}
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.psi.effect.physicalDamage"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">1</div>
        <div type="text" class="psiFreeTextElement">{{localize "ep2e.psi.effect.takeDamage"}}</div>
        {{effectInfo "ep2e.psi.effect" "takeDamage"}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <select name="system.subStrain.byArchetype.haunter.influence2.label" class="psiFormLabel" data-type="String">
        {{selectOptions config.psiStrainLabels selected=actor.system.subStrain.byArchetype.haunter.influence2.label localize=true}}
    </select>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">2</div>
        {{#if (eq actor.system.subStrain.byArchetype.haunter.influence2.label "enhancedBehaviour")}}
            <select name="system.subStrain.byArchetype.haunter.influence2.description" class="psiFormElement" data-type="String">
                {{selectOptions config.haunterEnhanced selected=actor.system.subStrain.byArchetype.haunter.influence2.description localize=true}}
            </select>
            {{effectInfo "ep2e.psi.effect.enhancedBehaviour" actor.system.subStrain.byArchetype.haunter.influence2.description}}
        {{else if (eq actor.system.subStrain.byArchetype.haunter.influence2.label "restrictedBehaviour")}}
            <div type="text" class="psiFreeTextElement">{{localize "ep2e.psi.effect.restrictedBehaviour.empathy"}}</div>
            {{effectInfo "ep2e.psi.effect.restrictedBehaviour" "empathy"}}
        {{else}}
            <div class="psiFreeTextElement"></div>
        {{/if}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <select name="system.subStrain.byArchetype.haunter.influence3.label" class="psiFormLabel" data-type="String">
        {{selectOptions config.psiStrainLabels selected=actor.system.subStrain.byArchetype.haunter.influence3.label localize=true}}
    </select>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">3</div>
        {{#if (eq actor.system.subStrain.byArchetype.haunter.influence3.label "enhancedBehaviour")}}
            <select name="system.subStrain.byArchetype.haunter.influence3.description" class="psiFormElement" data-type="String">
                {{selectOptions config.haunterEnhanced selected=actor.system.subStrain.byArchetype.haunter.influence3.description localize=true}}
            </select>
            {{effectInfo "ep2e.psi.effect.enhancedBehaviour" actor.system.subStrain.byArchetype.haunter.influence3.description}}
        {{else if (eq actor.system.subStrain.byArchetype.haunter.influence3.label "restrictedBehaviour")}}
            <div type="text" class="psiFreeTextElement">{{localize "ep2e.psi.effect.restrictedBehaviour.empathy"}}</div>
            {{effectInfo "ep2e.psi.effect.restrictedBehaviour" "empathy"}}
        {{else}}
            <div class="psiFreeTextElement"></div>
        {{/if}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.psi.effect.motivation.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">4</div>
        <select name="system.subStrain.byArchetype.haunter.influence4.description" class="psiFormElement" data-type="String">
            {{selectOptions config.haunterMotivation selected=actor.system.subStrain.byArchetype.haunter.influence4.description localize=true}}
        </select>
        {{effectInfo "ep2e.psi.effect.motivation" actor.system.subStrain.byArchetype.haunter.influence4.description}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.psi.effect.motivation.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">5</div>
        <select name="system.subStrain.byArchetype.haunter.influence5.description" class="psiFormElement" data-type="String">
            {{selectOptions config.haunterMotivation selected=actor.system.subStrain.byArchetype.haunter.influence5.description localize=true}}
        </select>
        {{effectInfo "ep2e.psi.effect.motivation" actor.system.subStrain.byArchetype.haunter.influence5.description}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.psi.effect.other"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">6</div>
        <div type="text" class="psiFreeTextElement">{{localize "ep2e.psi.effect.hallucination"}}</div>
        {{effectInfo "ep2e.psi.effect" "hallucination"}}
    </div>
</li>
{{/if}}

<!-- Stranger -->
{{#if (and (eq sleightFamily "psi") (eq actor.system.subStrain.label "stranger"))}}
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.psi.effect.physicalDamage"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">1</div>
        <div type="text" class="psiFreeTextElement">{{localize "ep2e.psi.effect.takeDamage"}}</div>
        {{effectInfo "ep2e.psi.effect" "takeDamage"}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <select name="system.subStrain.byArchetype.stranger.influence2.label" class="psiFormLabel" data-type="String">
        {{selectOptions config.psiStrainLabels selected=actor.system.subStrain.byArchetype.stranger.influence2.label localize=true}}
    </select>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">2</div>
        {{#if (eq actor.system.subStrain.byArchetype.stranger.influence2.label "enhancedBehaviour")}}
            <select name="system.subStrain.byArchetype.stranger.influence2.description" class="psiFormElement" data-type="String">
                {{selectOptions config.strangerEnhanced selected=actor.system.subStrain.byArchetype.stranger.influence2.description localize=true}}
            </select>
            {{effectInfo "ep2e.psi.effect.enhancedBehaviour" actor.system.subStrain.byArchetype.stranger.influence2.description}}
        {{else if (eq actor.system.subStrain.byArchetype.stranger.influence2.label "restrictedBehaviour")}}
            <select name="system.subStrain.byArchetype.stranger.influence2.description" class="psiFormElement" data-type="String">
                {{selectOptions config.strangerRestricted selected=actor.system.subStrain.byArchetype.stranger.influence2.description localize=true}}
            </select>
            {{effectInfo "ep2e.psi.effect.restrictedBehaviour" actor.system.subStrain.byArchetype.stranger.influence2.description}}
        {{else}}
            <div class="psiFreeTextElement"></div>
        {{/if}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <select name="system.subStrain.byArchetype.stranger.influence3.label" class="psiFormLabel" data-type="String">
        {{selectOptions config.psiStrainLabels selected=actor.system.subStrain.byArchetype.stranger.influence3.label localize=true}}
    </select>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">3</div>
        {{#if (eq actor.system.subStrain.byArchetype.stranger.influence3.label "enhancedBehaviour")}}
            <select name="system.subStrain.byArchetype.stranger.influence3.description" class="psiFormElement" data-type="String">
                {{selectOptions config.strangerEnhanced selected=actor.system.subStrain.byArchetype.stranger.influence3.description localize=true}}
            </select>
            {{effectInfo "ep2e.psi.effect.enhancedBehaviour" actor.system.subStrain.byArchetype.stranger.influence3.description}}
        {{else if (eq actor.system.subStrain.byArchetype.stranger.influence3.label "restrictedBehaviour")}}
            <select name="system.subStrain.byArchetype.stranger.influence3.description" class="psiFormElement" data-type="String">
                {{selectOptions config.strangerRestricted selected=actor.system.subStrain.byArchetype.stranger.influence3.description localize=true}}
            </select>
            {{effectInfo "ep2e.psi.effect.restrictedBehaviour" actor.system.subStrain.byArchetype.stranger.influence3.description}}
        {{else}}
            <div class="psiFreeTextElement"></div>
        {{/if}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.psi.effect.motivation.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">4</div>
        <select name="system.subStrain.byArchetype.stranger.influence4.description" class="psiFormElement" data-type="String">
            {{selectOptions config.strangerMotivation selected=actor.system.subStrain.byArchetype.stranger.influence4.description localize=true}}
        </select>
        {{effectInfo "ep2e.psi.effect.motivation" actor.system.subStrain.byArchetype.stranger.influence4.description}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.psi.effect.motivation.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">5</div>
        <select name="system.subStrain.byArchetype.stranger.influence5.description" class="psiFormElement" data-type="String">
            {{selectOptions config.strangerMotivation selected=actor.system.subStrain.byArchetype.stranger.influence5.description localize=true}}
        </select>
        {{effectInfo "ep2e.psi.effect.motivation" actor.system.subStrain.byArchetype.stranger.influence5.description}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.psi.effect.motivation.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">6</div>
        <select name="system.subStrain.byArchetype.stranger.influence6.description" class="psiFormElement" data-type="String">
            {{selectOptions config.strangerMotivation selected=actor.system.subStrain.byArchetype.stranger.influence6.description localize=true}}
        </select>
        {{effectInfo "ep2e.psi.effect.motivation" actor.system.subStrain.byArchetype.stranger.influence6.description}}
    </div>
</li>
{{/if}}

<!-- Xenomorph -->
{{#if (and (eq sleightFamily "psi") (eq actor.system.subStrain.label "xenomorph"))}}
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.psi.effect.physicalDamage"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">1</div>
        <div type="text" class="psiFreeTextElement">{{localize "ep2e.psi.effect.takeDamage"}}</div>
        {{effectInfo "ep2e.psi.effect" "takeDamage"}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.psi.effect.enhancedBehaviour.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">2</div>
        <select name="system.subStrain.byArchetype.xenomorph.influence2.description" class="psiFormElement" data-type="String">
            {{selectOptions config.xenomorphEnhanced selected=actor.system.subStrain.byArchetype.xenomorph.influence2.description localize=true}}
        </select>
        {{effectInfo "ep2e.psi.effect.enhancedBehaviour" actor.system.subStrain.byArchetype.xenomorph.influence2.description}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.psi.effect.enhancedBehaviour.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">3</div>
        <select name="system.subStrain.byArchetype.xenomorph.influence3.description" class="psiFormElement" data-type="String">
            {{selectOptions config.xenomorphEnhanced selected=actor.system.subStrain.byArchetype.xenomorph.influence3.description localize=true}}
        </select>
        {{effectInfo "ep2e.psi.effect.enhancedBehaviour" actor.system.subStrain.byArchetype.xenomorph.influence3.description}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.psi.effect.motivation.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">4</div>
        <select name="system.subStrain.byArchetype.xenomorph.influence4.description" class="psiFormElement" data-type="String">
            {{selectOptions config.xenomorphMotivation selected=actor.system.subStrain.byArchetype.xenomorph.influence4.description localize=true}}
        </select>
        {{effectInfo "ep2e.psi.effect.motivation" actor.system.subStrain.byArchetype.xenomorph.influence4.description}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.psi.effect.motivation.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">5</div>
        <select name="system.subStrain.byArchetype.xenomorph.influence5.description" class="psiFormElement" data-type="String">
            {{selectOptions config.xenomorphMotivation selected=actor.system.subStrain.byArchetype.xenomorph.influence5.description localize=true}}
        </select>
        {{effectInfo "ep2e.psi.effect.motivation" actor.system.subStrain.byArchetype.xenomorph.influence5.description}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.psi.effect.motivation.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">6</div>
        <select name="system.subStrain.byArchetype.xenomorph.influence6.description" class="psiFormElement" data-type="String">
            {{selectOptions config.xenomorphMotivation selected=actor.system.subStrain.byArchetype.xenomorph.influence6.description localize=true}}
        </select>
        {{effectInfo "ep2e.psi.effect.motivation" actor.system.subStrain.byArchetype.xenomorph.influence6.description}}
    </div>
</li>
{{/if}}

<!-- Custom Virus -->
{{#if (and (eq sleightFamily "psi") (eq actor.system.subStrain.label "custom"))}}
{{#each actor.system.strainInfluence as |influence key|}}
<li  class="psiInfluenceContainer">
    <select name="system.strainInfluence.{{key}}.label" class="psiFormLabel" data-type="String">
        {{selectOptions @root.config.otherPsiLabels selected=influence.label localize=true}}
    </select>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">{{influence.number}}</div>
        <input type="text" class="psiFormElement"  name="system.strainInfluence.{{key}}.description" value="{{localize influence.description}}" placeholder="Name an effect"/>
    </div>
</li>
{{/each}}
{{/if}}

<!-- The Crucible -->
{{#if (and (eq sleightFamily "ki") (eq actor.system.subStrain.label "crucible"))}}
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.ki.effect.cognitiveFeedback"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">1</div>
        <div type="text" class="psiFreeTextElement">{{localize "ep2e.ki.effect.takeStrain"}}</div>
        {{effectInfo "ep2e.ki.effect" "takeStrain"}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.ki.effect.crucible.preoccupation.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">2</div>
        <select name="system.subStrain.byArchetype.crucible.influence2.description" class="psiFormElement" data-type="String">
            {{selectOptions config.cruciblePreoccupation selected=actor.system.subStrain.byArchetype.crucible.influence2.description localize=true}}
        </select>
        {{effectInfo "ep2e.ki.effect.crucible.preoccupation" actor.system.subStrain.byArchetype.crucible.influence2.description}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.ki.effect.crucible.reconfiguration.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">3</div>
        <select name="system.subStrain.byArchetype.crucible.influence3.description" class="psiFormElement" data-type="String">
            {{selectOptions config.crucibleReconfiguration selected=actor.system.subStrain.byArchetype.crucible.influence3.description localize=true}}
        </select>
        {{effectInfo "ep2e.ki.effect.crucible.reconfiguration" actor.system.subStrain.byArchetype.crucible.influence3.description}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.ki.effect.crucible.recalibration.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">4</div>
        <select name="system.subStrain.byArchetype.crucible.influence4.description" class="psiFormElement" data-type="String">
            {{selectOptions config.crucibleRecalibration selected=actor.system.subStrain.byArchetype.crucible.influence4.description localize=true}}
        </select>
        {{effectInfo "ep2e.ki.effect.crucible.recalibration" actor.system.subStrain.byArchetype.crucible.influence4.description}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.ki.effect.crucible.motivation.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">5</div>
        <div type="text" class="psiFreeTextElement">{{localize "ep2e.ki.effect.crucible.motivation.text"}}</div>
        {{effectInfo "ep2e.ki.effect.crucible.motivation" "text"}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.ki.effect.crucible.revision.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">6</div>
        <div type="text" class="psiFreeTextElement">{{localize "ep2e.ki.effect.crucible.revision.text"}}</div>
        {{effectInfo "ep2e.ki.effect.crucible.revision" "text"}}
    </div>
</li>
{{/if}}

<!-- The Redline -->
{{#if (and (eq sleightFamily "ki") (eq actor.system.subStrain.label "redline"))}}
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.ki.effect.cognitiveFeedback"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">1</div>
        <div type="text" class="psiFreeTextElement">{{localize "ep2e.ki.effect.takeStrain"}}</div>
        {{effectInfo "ep2e.ki.effect" "takeStrain"}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.ki.effect.redline.governor.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">2</div>
        <select name="system.subStrain.byArchetype.redline.influence2.description" class="psiFormElement" data-type="String">
            {{selectOptions config.redlineGovernor selected=actor.system.subStrain.byArchetype.redline.influence2.description localize=true}}
        </select>
        {{effectInfo "ep2e.ki.effect.redline.governor" actor.system.subStrain.byArchetype.redline.influence2.description}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.ki.effect.redline.compulsion.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">3</div>
        <select name="system.subStrain.byArchetype.redline.influence3.description" class="psiFormElement" data-type="String">
            {{selectOptions config.redlineCompulsion selected=actor.system.subStrain.byArchetype.redline.influence3.description localize=true}}
        </select>
        {{effectInfo "ep2e.ki.effect.redline.compulsion" actor.system.subStrain.byArchetype.redline.influence3.description}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.ki.effect.redline.calibration.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">4</div>
        <select name="system.subStrain.byArchetype.redline.influence4.description" class="psiFormElement" data-type="String">
            {{selectOptions config.redlineCalibration selected=actor.system.subStrain.byArchetype.redline.influence4.description localize=true}}
        </select>
        {{effectInfo "ep2e.ki.effect.redline.calibration" actor.system.subStrain.byArchetype.redline.influence4.description}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.ki.effect.redline.rerouting.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">5</div>
        <select name="system.subStrain.byArchetype.redline.influence5.description" class="psiFormElement" data-type="String">
            {{selectOptions config.redlineRerouting selected=actor.system.subStrain.byArchetype.redline.influence5.description localize=true}}
        </select>
        {{effectInfo "ep2e.ki.effect.redline.rerouting" actor.system.subStrain.byArchetype.redline.influence5.description}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.ki.effect.redline.pushing.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">6</div>
        <select name="system.subStrain.byArchetype.redline.influence6.description" class="psiFormElement" data-type="String">
            {{selectOptions config.redlinePushing selected=actor.system.subStrain.byArchetype.redline.influence6.description localize=true}}
        </select>
        {{effectInfo "ep2e.ki.effect.redline.pushing" actor.system.subStrain.byArchetype.redline.influence6.description}}
    </div>
</li>
{{/if}}

<!-- The Signal -->
{{#if (and (eq sleightFamily "ki") (eq actor.system.subStrain.label "signal"))}}
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.ki.effect.cognitiveFeedback"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">1</div>
        <div type="text" class="psiFreeTextElement">{{localize "ep2e.ki.effect.takeStrain"}}</div>
        {{effectInfo "ep2e.ki.effect" "takeStrain"}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.ki.effect.signal.carrier.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">2</div>
        <select name="system.subStrain.byArchetype.signal.influence2.description" class="psiFormElement" data-type="String">
            {{selectOptions config.signalCarrier selected=actor.system.subStrain.byArchetype.signal.influence2.description localize=true}}
        </select>
        {{effectInfo "ep2e.ki.effect.signal.carrier" actor.system.subStrain.byArchetype.signal.influence2.description}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.ki.effect.signal.saturation.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">3</div>
        <div type="text" class="psiFreeTextElement">{{localize "ep2e.ki.effect.signal.saturation.text"}}</div>
        {{effectInfo "ep2e.ki.effect.signal.saturation" "text"}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.ki.effect.signal.interference.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">4</div>
        <select name="system.subStrain.byArchetype.signal.influence4.description" class="psiFormElement" data-type="String">
            {{selectOptions config.signalInterference selected=actor.system.subStrain.byArchetype.signal.influence4.description localize=true}}
        </select>
        {{effectInfo "ep2e.ki.effect.signal.interference" actor.system.subStrain.byArchetype.signal.influence4.description}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.ki.effect.signal.dependency.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">5</div>
        <select name="system.subStrain.byArchetype.signal.influence5.description" class="psiFormElement" data-type="String">
            {{selectOptions config.signalDependency selected=actor.system.subStrain.byArchetype.signal.influence5.description localize=true}}
        </select>
        {{effectInfo "ep2e.ki.effect.signal.dependency" actor.system.subStrain.byArchetype.signal.influence5.description}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.ki.effect.signal.beacon.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">6</div>
        <div type="text" class="psiFreeTextElement">{{localize "ep2e.ki.effect.signal.beacon.text"}}</div>
        {{effectInfo "ep2e.ki.effect.signal.beacon" "text"}}
    </div>
</li>
{{/if}}

<!-- The Ruin -->
{{#if (and (eq sleightFamily "ki") (eq actor.system.subStrain.label "ruin"))}}
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.ki.effect.cognitiveFeedback"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">1</div>
        <div type="text" class="psiFreeTextElement">{{localize "ep2e.ki.effect.takeStrain"}}</div>
        {{effectInfo "ep2e.ki.effect" "takeStrain"}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.ki.effect.ruin.fatigue.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">2</div>
        <select name="system.subStrain.byArchetype.ruin.influence2.description" class="psiFormElement" data-type="String">
            {{selectOptions config.ruinFatigue selected=actor.system.subStrain.byArchetype.ruin.influence2.description localize=true}}
        </select>
        {{effectInfo "ep2e.ki.effect.ruin.fatigue" actor.system.subStrain.byArchetype.ruin.influence2.description}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.ki.effect.ruin.seized.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">3</div>
        <select name="system.subStrain.byArchetype.ruin.influence3.description" class="psiFormElement" data-type="String">
            {{selectOptions config.ruinSeized selected=actor.system.subStrain.byArchetype.ruin.influence3.description localize=true}}
        </select>
        {{effectInfo "ep2e.ki.effect.ruin.seized" actor.system.subStrain.byArchetype.ruin.influence3.description}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.ki.effect.ruin.intermittent.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">4</div>
        <select name="system.subStrain.byArchetype.ruin.influence4.description" class="psiFormElement" data-type="String">
            {{selectOptions config.ruinIntermittent selected=actor.system.subStrain.byArchetype.ruin.influence4.description localize=true}}
        </select>
        {{effectInfo "ep2e.ki.effect.ruin.intermittent" actor.system.subStrain.byArchetype.ruin.influence4.description}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.ki.effect.ruin.shedding.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">5</div>
        <select name="system.subStrain.byArchetype.ruin.influence5.description" class="psiFormElement" data-type="String">
            {{selectOptions config.ruinShedding selected=actor.system.subStrain.byArchetype.ruin.influence5.description localize=true}}
        </select>
        {{effectInfo "ep2e.ki.effect.ruin.shedding" actor.system.subStrain.byArchetype.ruin.influence5.description}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.ki.effect.ruin.breakdown.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">6</div>
        <div type="text" class="psiFreeTextElement">{{localize "ep2e.ki.effect.ruin.breakdown.text"}}</div>
        {{effectInfo "ep2e.ki.effect.ruin.breakdown" "text"}}
    </div>
</li>
{{/if}}

<!-- The Colony -->
{{#if (and (eq sleightFamily "ki") (eq actor.system.subStrain.label "colony"))}}
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.ki.effect.cognitiveFeedback"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">1</div>
        <div type="text" class="psiFreeTextElement">{{localize "ep2e.ki.effect.takeStrain"}}</div>
        {{effectInfo "ep2e.ki.effect" "takeStrain"}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.ki.effect.colony.witnesses.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">2</div>
        <select name="system.subStrain.byArchetype.colony.influence2.description" class="psiFormElement" data-type="String">
            {{selectOptions config.colonyWitnesses selected=actor.system.subStrain.byArchetype.colony.influence2.description localize=true}}
        </select>
        {{effectInfo "ep2e.ki.effect.colony.witnesses" actor.system.subStrain.byArchetype.colony.influence2.description}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.ki.effect.colony.sympathetic.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">3</div>
        <div type="text" class="psiFreeTextElement">{{localize "ep2e.ki.effect.colony.sympathetic.text"}}</div>
        {{effectInfo "ep2e.ki.effect.colony.sympathetic" "text"}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.ki.effect.colony.borrowed.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">4</div>
        <select name="system.subStrain.byArchetype.colony.influence4.description" class="psiFormElement" data-type="String">
            {{selectOptions config.colonyBorrowed selected=actor.system.subStrain.byArchetype.colony.influence4.description localize=true}}
        </select>
        {{effectInfo "ep2e.ki.effect.colony.borrowed" actor.system.subStrain.byArchetype.colony.influence4.description}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.ki.effect.colony.gathering.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">5</div>
        <select name="system.subStrain.byArchetype.colony.influence5.description" class="psiFormElement" data-type="String">
            {{selectOptions config.colonyGathering selected=actor.system.subStrain.byArchetype.colony.influence5.description localize=true}}
        </select>
        {{effectInfo "ep2e.ki.effect.colony.gathering" actor.system.subStrain.byArchetype.colony.influence5.description}}
    </div>
</li>
<li class="psiInfluenceContainer">
    <label>{{localize "ep2e.ki.effect.colony.avatar.label"}}</label>
    <div class="flexrow flex-group-center">
        <div class="psi-circle">6</div>
        <div type="text" class="psiFreeTextElement">{{localize "ep2e.ki.effect.colony.avatar.text"}}</div>
        {{effectInfo "ep2e.ki.effect.colony.avatar" "text"}}
    </div>
</li>
{{/if}}
