        <div class="tab scrolly main-tab-pc" data-group="primary" data-tab="skills">
            <div class="skills grid grid-2col" style="margin-top: 0px;">
                <div class="contentBox">
                    <div class="flexrow subheader">
                        <h3 class="subheader">{{localize "ep2e.skills.insightSkills.insightHeadline"}}</h3>
                        <div class="flexGrowHalf"></div>
                    </div>
                    <div class="listBackground edgeAbler">
                        {{#if (ne actor.type "goon")}}
                            {{#each actor.system.skillsIns as |skill key|}}
                            <div class="flexrow flex-group-center reveal skill">
                                <span class="resource-label input-large">{{localize skill.name}}</span>
                                <input class=" input-xs" onFocus="this.select()" type="number" name="system.skillsIns.{{key}}.value" value="{{skill.value}}" data-dtype="Number" placeholder="0"/>
                                <div class="flexrow flex-group-center" style="max-width: 40px;">
                                    <span class=" resource-value input-xs">{{numberFormat skill.derived decimals=0}}</span>
                                    <!-- <img data-type="skill" data-key="{{key}}" data-name="{{localize skill.name}}" data-rollvalue="{{skill.roll}}" data-specname="{{specname}}" data-pooltype="Insight" src="icons/svg/d10-grey.svg" class="toggle icon-dice noShow roll-label task-check"/> -->
                                </div>
                                <input type="text" class="input-largeSpec" name="system.skillsIns.{{key}}.specname" value="{{specname}}" placeholder="{{localize 'ep2e.skills.placeholders.specialization'}}"/>
                                <img data-type="skill" data-key="{{key}}" data-name="{{localize skill.name}}" data-rollvalue="{{skill.roll}}" data-specname="{{specname}}" data-pooltype="Insight" src="icons/svg/d10-grey.svg" class="info icon-dice roll-label task-check icon-hidden"/>
                            </div>
                            {{/each}}
                        {{else}}
                            {{#each actor.system.skillsIns as |skill key|}}
                            <div class="flexrow flex-group-center reveal skill">
                                <span class="resource-label input-large">{{localize skill.name}}</span>
                                <input class=" input-xs" onFocus="this.select()" type="number" name="system.skillsIns.{{key}}.value" value="{{skill.value}}" data-dtype="Number" placeholder="0"/>
                                <div class="flexrow flex-group-center" style="max-width: 40px;">
                                    <label class="roll-label toggle"><img src="icons/svg/d10-grey.svg" class="icon-hidden"/></label>
                                    <img data-type="skill" data-key="{{key}}" data-name="{{localize skill.name}}" data-rollvalue="{{skill.roll}}"  data-specname="{{specname}}" src="icons/svg/d10-grey.svg" class="toggle icon-dice noShow roll-label task-check"/>
                                </div>
                                <input type="text" class="input-largeSpec" name="system.skillsIns.{{key}}.specname" value="{{specname}}" placeholder="{{localize 'ep2e.skills.placeholders.specialization'}}"/>
                            </div>
                            {{/each}}
                        {{/if}}
                    </div>
                </div>
                <div class="contentBox">
                    <div class="flexrow subheader">
                        <h3 class="subheader">{{localize "ep2e.skills.vigorSkills.vigorHeadline"}}</h3>
                        <div class="flexGrowHalf"></div>
                    </div>
                    <div class="listBackground edgeAbler">
                        {{#if (ne actor.type "goon")}}
                            {{#each actor.system.skillsVig as |skill key|}}
                            <div class="flexrow flex-group-center reveal skill">
                                <span class="resource-label input-large">{{localize skill.name}}</span>
                                <input class=" input-xs" onFocus="this.select()" type="number" name="system.skillsVig.{{key}}.value" value="{{skill.value}}" data-dtype="Number" placeholder="0"/>
                                <div class="flexrow flex-group-center" style="max-width: 40px;">
                                    <span class="resource-value input-xs">{{numberFormat skill.derived decimals=0}}</span>
                                    <!-- <img data-type="skill" data-key="{{key}}" data-name="{{localize skill.name}}" data-rollvalue="{{skill.roll}}" data-specname="{{specname}}" data-pooltype="Vigor" src="icons/svg/d10-grey.svg" class="toggle icon-dice noShow roll-label task-check"/> -->
                                </div>
                                <input type="text" class="input-largeSpec" name="system.skillsVig.{{key}}.specname" value="{{specname}}" placeholder="{{localize 'ep2e.skills.placeholders.specialization'}}"/>
                                <img data-type="skill" data-key="{{key}}" data-name="{{localize skill.name}}" data-rollvalue="{{skill.roll}}" data-specname="{{specname}}" data-pooltype="Vigor" src="icons/svg/d10-grey.svg" class="info icon-dice roll-label task-check icon-hidden"/>
                            </div>
                            {{/each}}
                        {{else}}
                            {{#each actor.system.skillsVig as |skill key|}}
                            <div class="flexrow flex-group-center reveal skill">
                                <span class="resource-label input-large">{{localize skill.name}}</span>
                                <input class=" input-xs" onFocus="this.select()" type="number" name="system.skillsVig.{{key}}.value" value="{{skill.value}}" data-dtype="Number" placeholder="0"/>
                                <div class="flexrow flex-group-center" style="max-width: 40px;">
                                    <label class="roll-label toggle"><img src="icons/svg/d10-grey.svg" class="icon-hidden"/></label>
                                    <img data-type="skill" data-key="{{key}}" data-name="{{localize skill.name}}" data-specname="{{specname}}" data-rollvalue="{{skill.roll}}" src="icons/svg/d10-grey.svg" class="toggle icon-dice noShow roll-label task-check"/>
                                </div>
                                <input type="text" class="input-largeSpec item-standard-margin-both-large" name="system.skillsVig.{{key}}.specname" value="{{specname}}" placeholder="{{localize 'ep2e.skills.placeholders.specialization'}}"/>
                            </div>
                            {{/each}}
                        {{/if}}
                    </div>
                </div>
                <div class="contentBox">
                    <div class="flexrow subheader">
                        <h3 class="subheader">{{localize "ep2e.skills.moxieSkills.moxieHeadline"}}</h3>
                        <div class="flexGrowHalf"></div>
                    </div>
                    <div class="listBackground edgeAbler">
                        {{#if (ne actor.type "goon")}}
                            {{#each actor.system.skillsMox as |skill key|}}
                            <div class="flexrow flex-group-center reveal skill">
                                <span class="resource-label input-large">{{localize skill.name}}</span>
                                <input class=" input-xs" onFocus="this.select()" type="number" name="system.skillsMox.{{key}}.value" value="{{skill.value}}" data-dtype="Number" placeholder="0"/>
                                <div class="flexrow flex-group-center" style="max-width: 40px;">
                                    <span class="resource-value input-xs">{{numberFormat skill.derived decimals=0}}</span>
                                    <!-- <img data-type="skill" data-key="{{key}}" data-name="{{localize skill.name}}" data-rollvalue="{{skill.roll}}" data-specname="{{specname}}" data-pooltype="Moxie" src="icons/svg/d10-grey.svg" class="toggle icon-dice noShow roll-label task-check"/> -->
                                </div>
                                <input type="text" class="input-largeSpec" name="system.skillsMox.{{key}}.specname" value="{{specname}}" placeholder="{{localize 'ep2e.skills.placeholders.specialization'}}"/>
                                <img data-type="skill" data-key="{{key}}" data-name="{{localize skill.name}}" data-rollvalue="{{skill.roll}}" data-specname="{{specname}}" data-pooltype="Moxie" src="icons/svg/d10-grey.svg" class="info icon-dice roll-label task-check icon-hidden"/>
                            </div>
                            {{/each}}
                        {{else}}
                            {{#each actor.system.skillsMox as |skill key|}}
                            <div class="flexrow flex-group-center reveal skill">
                                <span class="resource-label input-large">{{localize skill.name}}</span>
                                <input class=" input-xs" onFocus="this.select()" type="number" name="system.skillsMox.{{key}}.value" value="{{skill.value}}" data-dtype="Number" placeholder="0"/>
                                <div class="flexrow flex-group-center" style="max-width: 40px;">
                                    <label class="roll-label toggle"><img src="icons/svg/d10-grey.svg" class="icon-hidden"/></label>
                                    <img data-type="skill" data-key="{{key}}" data-name="{{localize skill.name}}" data-specname="{{specname}}" data-rollvalue="{{skill.roll}}" src="icons/svg/d10-grey.svg" class="toggle icon-dice noShow roll-label task-check"/>
                                </div>
                                <input type="text" class="input-largeSpec" name="system.skillsMox.{{key}}.specname" value="{{specname}}" placeholder="{{localize 'ep2e.skills.placeholders.specialization'}}"/>
                            </div>
                            {{/each}}
                        {{/if}}
                    </div>
                </div>
                {{#if (ne actor.type "character")}}
                <div class="contentBox">
                    {{#if actor.specialSkill}}
                    <div class="flexrow subheader">
                        <h3 class="subheader">{{localize "ep2e.skills.additionalSkills.additionalHeadline"}}</h3>
                        <div class="alignRight flexGrowHalf">
                            <a class="item-control item-create" title="Create item" data-type="specialSkill" style="max-height: 24px;"><i class="fas fa-plus awesomeIcon"></i> Add Skill</a>
                        </div>
                    </div>
                    <div class="listBackground edgeAbler">
                        {{#if (ne actor.type "goon")}}
                            
                        <div class="listBackground edgeAbler">
                            {{#each actor.specialSkill as |item id|}}
                                <div class="item flexrow flex-group-center reveal wantToKnowMore skill" data-item-id="{{item._id}}" style="padding-left: 0;">
                                    <span class="tooltipText">{{item.name}}</span>
                                    <a class="item-control item-delete " style="max-width: 24px;" title="Delete Item"><i class="far fa-times-circle awesomeIcon"></i></a>
                                    <label class="resource-label item-control item-edit hoverable truncate wantToKnowMore" style="min-width: 110px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{item.name}}</label>
                                    <input class="input-xs sheet-inline-edit" data-field="system.value" onFocus="this.select()" type="number" name="item.system.value" value="{{item.system.value}}" placeholder="0"/>
                                    {{#if item.system.aptitude}}
                                        <label class="resource-value input-xs item-control item-edit hoverable">{{item.roll}}</label>
                                    {{#if item.system.specname}}
                                        <label class="resource-label item-control item-edit hoverable truncate input-largeSpec item-standard-margin-both-large">{{item.system.specname}}</label>
                                    {{else}}
                                        <label class="resource-label item-control item-edit hoverable truncate input-largeSpec item-standard-margin-both-large" style="color: var(--inactive); text-transform: capitalize;">{{localize 'ep2e.skills.placeholders.additionalSpec'}}</label>
                                    {{/if}}
                                        <img src="icons/svg/d10-grey.svg" class="info input-small roll-label icon-dice task-check icon-hidden" data-type="skill" data-specname="{{item.system.specname}}" data-key="{{item.name}}" data-name="{{item.name}}" data-rollvalue="{{item.roll}}"/>
                                    {{else}}
                                        <label class="resource-value input-small item-control item-edit hoverable">{{item.roll}}</label>
                                        <label class="input-large item-control item-edit hoverable item-standard-margin-both-large alignLeft"><u style="color: var(--negative);">{{localize "ep2e.skills.chooseAptitude"}}</u></label>
                                        <label class="roll-label"><img src="icons/svg/d10-grey.svg" class="icon-hidden"/></label>
                                    {{/if}}
                                </div>
                            {{/each}}
                        </div>
                        {{else}}
                        <div class="listBackground edgeAbler">
                            {{#each actor.specialSkill as |item id|}}
                                <div class="item flexrow flex-group-center reveal wantToKnowMore skill" data-item-id="{{item._id}}" style="padding-left: 0;">
                                    <span class="tooltipText">{{item.name}}</span>
                                    <a class="item-control item-delete " style="max-width: 24px;" title="Delete Item"><i class="far fa-times-circle awesomeIcon"></i></a>
                                    <label class="resource-label item-control item-edit hoverable truncate wantToKnowMore" style="min-width: 110px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{item.name}}</label>
                                    <input class="input-xs sheet-inline-edit" data-field="system.value" onFocus="this.select()" type="number" name="item.system.value" value="{{item.system.value}}" placeholder="0"/>
                                {{#if item.system.specname}}
                                    <label class="resource-label item-control item-edit hoverable truncate input-largeSpec item-standard-margin-both-large">{{item.system.specname}}</label>
                                {{else}}
                                    <label class="resource-label item-control item-edit hoverable truncate input-largeSpec item-standard-margin-both-large" style="color: var(--inactive); text-transform: capitalize;">{{localize 'ep2e.skills.placeholders.additionalSpec'}}</label>
                                {{/if}}
                                    <img src="icons/svg/d10-grey.svg" class="info input-small roll-label icon-dice task-check icon-hidden" data-type="skill" data-specname="{{item.system.specname}}" data-key="{{item.name}}" data-name="{{item.name}}" data-rollvalue="{{item.system.value}}"/>
                                </div>
                            {{/each}}
                        </div>
                        {{/if}}
                    </div>
                    {{else}}
                    <div class="separator">
                        <a class="item-control item-create" title="Create item" data-type="specialSkill" style="max-height: 24px;"><i class="fas fa-plus awesomeIcon"></i> Add Additional Skill</a>
                    </div>
                    {{/if}}
                </div>
                {{else}}
                <div class="contentBox noMargin">
                    <div class="flexrow subheader">
                        <h3 class="subheader">{{localize "ep2e.skills.flex.poolHeadline"}}</h3>
                        <div class="flexGrowHalf"></div>
                    </div>
                    <div class="listBackground" style="padding: 5px 0 5px 0; min-height: 137px;">
                    </div>
                </div>
                <div class="contentBox noMargin">
                    {{#if actor.knowSkill}}
                    <div class="flexrow subheader">
                        <h3 class="subheader">{{localize "ep2e.skills.knowSkills.knowHeadline"}}</h3>
                        <div class="alignRight flexGrowHalf">
                            <div><a class="item-control item-create" title="Create item" data-type="knowSkill"><i class="fas fa-plus awesomeIcon"></i> {{localize "ep2e.skills.addSkill"}}</a></div>
                        </div>
                    </div>
                    <div class="listBackground" style="position: relative; z-index: 2;">
                        {{#each actor.knowSkill as |item id|}}
                            <div class="item flexrow flex-group-center reveal wantToKnowMore skill" data-item-id="{{item._id}}" data-item-name="{{item.name}}">
                                <span class="tooltipText">{{item.name}}</span>
                                <a class="item-control item-delete " style="max-width: 24px;" title="Delete Item"><i class="far fa-times-circle awesomeIcon"></i></a>
                                <label class="resource-label item-control item-edit hoverable truncate" style="min-width: 110px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{item.name}}</label>
                                <input class="input-xs sheet-inline-edit" data-field="system.value" onFocus="this.select()" type="number" name="item.system.value" value="{{item.system.value}}" placeholder="0"/>
                                {{#if item.system.aptitude}}
                                    <label class="resource-value input-xs item-control item-edit hoverable">{{item.roll}}</label>
                                {{#if item.system.specname}}
                                    <label class="resource-label item-control item-edit hoverable truncate input-largeSpec item-standard-margin-both-large">{{item.system.specname}}</label>
                                {{else}}
                                    <label class="resource-label item-control item-edit hoverable truncate input-largeSpec item-standard-margin-both-large" style="color: var(--inactive); text-transform: capitalize;">{{localize 'ep2e.skills.placeholders.additionalSpec'}}</label>
                                {{/if}}
                                    <img src="icons/svg/d10-grey.svg" class="info input-small roll-label icon-dice task-check icon-hidden" data-type="skill" data-specname="{{item.system.specname}}" data-pooltype="Insight" data-key="{{item.name}}" data-name="{{item.name}}" data-rollvalue="{{item.roll}}"/>
                                {{else}}
                                    <label class="resource-value input-xs item-control item-edit hoverable">{{item.roll}}</label>
                                    <label class="input-large item-control item-edit hoverable item-standard-margin-both-large alignLeft"><u style="color: var(--negative);">{{localize "ep2e.skills.chooseAptitude"}}</u></label>
                                    <label class="roll-label"><img src="icons/svg/d10-grey.svg" class="icon-hidden"/></label>
                                {{/if}}
                            </div>
                        {{/each}}
                    </div>
                    {{else}}
                    <div class="separator">
                        <a class="item-control item-create" title="Create item" data-type="knowSkill" style="max-height: 24px;"><i class="fas fa-plus awesomeIcon"></i> {{localize "ep2e.skills.knowSkills.addfirst"}}</a>
                    </div>
                    {{/if}}
                </div>
                <div class="contentBox noMargin">
                    {{#if actor.specialSkill}}
                    <div class="flexrow subheader">
                        <h3 class="subheader">{{localize "ep2e.skills.exoticSkills.exoticHeadline"}}</h3>
                        <div class="alignRight flexGrowHalf">
                            <a class="item-control item-create" title="Create item" data-type="specialSkill" style="max-height: 24px;"><i class="fas fa-plus awesomeIcon"></i> {{localize "ep2e.skills.addSkill"}}</a>
                        </div>
                    </div>
                    <div class="listBackground edgeAbler">
                        {{#each actor.specialSkill as |item id|}}
                            <div class="item flexrow flex-group-center reveal wantToKnowMore skill" data-item-id="{{item._id}}" data-item-name="{{item.name}}" style="padding-left: 0;">
                                <span class="tooltipText">{{item.name}}</span>
                                <a class="item-control item-delete " style="max-width: 24px;" title="Delete Item"><i class="far fa-times-circle awesomeIcon"></i></a>
                                <label class="resource-label item-control item-edit hoverable truncate wantToKnowMore" style="min-width: 110px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{item.name}}</label>
                                <input class="input-xs sheet-inline-edit" data-field="system.value" onFocus="this.select()" type="number" name="item.system.value" value="{{item.system.value}}" placeholder="0"/>
                                {{#if item.system.aptitude}}
                                    <label class="resource-value input-xs item-control item-edit hoverable">{{item.roll}}</label>
                                {{#if item.system.specname}}
                                    <label class="resource-label item-control item-edit hoverable truncate input-largeSpec item-standard-margin-both-large">{{item.system.specname}}</label>
                                {{else}}
                                    <label class="resource-label item-control item-edit hoverable truncate input-largeSpec item-standard-margin-both-large" style="color: var(--inactive); text-transform: capitalize;">{{localize 'ep2e.skills.placeholders.additionalSpec'}}</label>
                                {{/if}}
                                    <img src="icons/svg/d10-grey.svg" class="info input-small roll-label icon-dice task-check icon-hidden" data-type="skill" data-specname="{{item.system.specname}}" data-apttype="{{item.system.aptitude}}" data-key="{{item.name}}" data-name="{{item.name}}" data-rollvalue="{{item.roll}}"/>
                                {{else}}
                                    <label class="resource-value input-small item-control item-edit hoverable">{{item.roll}}</label>
                                    <label class="input-large item-control item-edit hoverable item-standard-margin-both-large alignLeft"><u style="color: var(--negative);">{{localize "ep2e.skills.chooseAptitude"}}</u></label>
                                    <label class="roll-label"><img src="icons/svg/d10-grey.svg" class="icon-hidden"/></label>
                                {{/if}}
                            </div>
                        {{/each}}
                    </div>
                    {{else}}
                    <div class="separator">
                        <a class="item-control item-create" title="Create item" data-type="specialSkill" style="max-height: 24px;"><i class="fas fa-plus awesomeIcon"></i> {{localize "ep2e.skills.exoticSkills.addfirst"}}</a>
                    </div>
                    {{/if}}
                </div>
                {{/if}}
            </div>
        </div>
