        <div class="tab" data-group="primary" data-tab="skills">
            <div class="skills grid grid-2col" style="margin-top: 0px;">
                <div class="contentBox">
                    <div class="flexrow subheader">
                        <h3 class="subheader">{{localize "ep2e.skills.insightSkills.insightHeadline"}}</h3>
                        {{#if (eq isGM false)}}
                        <div class="alignRight flexGrowHalf reveal dropdown">
                        {{else}}
                        <div class="alignRight flexGrowHalf reveal">
                        {{/if}}
                            {{#if (eq actor.type "character")}}
                            <label class="resource-label labelWidth-medium">{{localize "ep2e.skills.pool.label"}} </label>
                                <i class="far fa-question-circle icon-hidden info tooltip">
                                    <div role="tooltip">
                                        <div class="tooltipTopBorder">
                                            <div class="tooltipTop"></div>
                                        </div>
                                        <div class="insight">
                                            <h3 class="inline">{{localize "ep2e.skills.insightSkills.poolHeadline"}}</h3>
                                            <ul>
                                                <li>
                                                    <label class="resource-value">{{localize "ep2e.skills.insightSkills.poolSubheadline1"}}: </label>{{localize "ep2e.skills.insightSkills.poolCopy1"}}
                                                </li>
                                                <p/>
                                                <li>
                                                    <label class="resource-value">{{localize "ep2e.skills.insightSkills.poolSubheadline2"}}: </label>{{localize "ep2e.skills.insightSkills.poolCopy2"}}
                                                </li>
                                                <p/>
                                                <li>
                                                    <label class="resource-value">{{localize "ep2e.skills.insightSkills.poolSubheadline3"}}: </label>{{localize "ep2e.skills.insightSkills.poolCopy3"}}
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tooltipBottomBorder">
                                            <div class="tooltipBottom"></div>
                                        </div>
                                    </div>
                                </i>
                            {{#if isGM}}
                                <input class="input-xs" type="number" name="system.pools.insight.value" value="{{actor.system.pools.insight.value}}" placeholder="0"/>
                            {{else}}
                                <label class="resource-label alignCenter" style="min-width: 25px;">{{#if actor.system.pools.insight.value}}{{actor.system.pools.insight.value}}{{else}}0{{/if}}</label>
                            {{/if}}
                            <span class="resource-value">/ {{#if actor.system.pools.insight.totalInsight}}{{actor.system.pools.insight.totalInsight}}{{else}}0{{/if}}</span>{{/if}}
                        </div>
                        {{#if (eq isGM false)}}
                        <div id="droplist" class="poolDroplist" style="display: none;">
                            <div class="droplistHeader closeButton">
                                <label class="resource-value" style="margin-right: 10px">{{localize "ep2e.actorSheet.button.close"}}</label> <i class="fa-solid fa-xmark"></i>
                            </div>
                            <div class="droplistBackground">
                                <label class="droplistElement resource-value poolUse" data-type="1" data-pool="ins">{{localize "ep2e.skills.insightSkills.poolSubheadline1"}}</label>
                                <label class="droplistElement resource-value poolUse" data-type="2" data-pool="ins">{{localize "ep2e.skills.insightSkills.poolSubheadline2"}}</label>
                                <label class="droplistElement resource-value poolUse" data-type="3" data-pool="ins">{{localize "ep2e.skills.insightSkills.poolSubheadline3"}}</label>
                            </div>
                        </div>
                        {{/if}}
                    </div>
                    <div class="listBackground edgeAbler">
                        {{#if (ne actor.type "goon")}}
                            {{#each actor.system.skillsIns as |skill key|}}
                            <div class="flexrow flex-group-center reveal skill">
                                <span class="resource-label input-large">{{localize skill.name}}</span>
                                <input class=" input-xs" type="number" name="system.skillsIns.{{key}}.value" value="{{skill.value}}" data-dtype="Number" placeholder="0"/>
                                <div class="flexrow flex-group-center" style="max-width: 40px;">
                                    <span class=" resource-value input-xs">{{numberFormat skill.derived decimals=0}}</span>
                                    <!-- <img data-type="skill" data-key="{{key}}" data-name="{{localize skill.name}}" data-rollvalue="{{skill.roll}}" data-specname="{{specname}}" data-pooltype="Insight" src="icons/svg/d10-grey.svg" class="toggle icon-dice noShow roll-label task-check"/> -->
                                </div>
                                <input type="text" class="input-largeSpec" name="system.skillsIns.{{key}}.specname" value="{{specname}}" placeholder="{{localize 'ep2e.skills.placeholders.specialization'}}"/>
                                <img data-type="skill" data-key="{{key}}" data-name="{{localize skill.name}}" data-rollvalue="{{skill.roll}}" data-specname="{{specname}}" data-pooltype="Insight" src="icons/svg/d10-grey.svg" class="info icon-dice roll-label task-check icon-hidden"/>
                            </div>
                            {{/each}}
                        {{else}}
                            {{#each actor.system.skillsIns as |skill key|}}
                            <div class="flexrow flex-group-center reveal skill">
                                <span class="resource-label input-large">{{localize skill.name}}</span>
                                <input class=" input-xs" type="number" name="system.skillsIns.{{key}}.value" value="{{skill.value}}" data-dtype="Number" placeholder="0"/>
                                <div class="flexrow flex-group-center" style="max-width: 40px;">
                                    <label class="roll-label toggle"><img src="icons/svg/d10-grey.svg" class="icon-hidden"/></label>
                                    <img data-type="skill" data-key="{{key}}" data-name="{{localize skill.name}}" data-rollvalue="{{skill.roll}}"  data-specname="{{specname}}" src="icons/svg/d10-grey.svg" class="toggle icon-dice noShow roll-label task-check"/>
                                </div>
                                <input type="text" class="input-largeSpec" name="system.skillsIns.{{key}}.specname" value="{{specname}}" placeholder="{{localize 'ep2e.skills.placeholders.specialization'}}"/>
                            </div>
                            {{/each}}
                        {{/if}}
                    </div>
                </div>
                <div class="contentBox">
                    <div class="flexrow subheader">
                        <h3 class="subheader">{{localize "ep2e.skills.vigorSkills.vigorHeadline"}}</h3>
                        {{#if (eq isGM false)}}
                        <div class="alignRight flexGrowHalf reveal dropdown">
                        {{else}}
                        <div class="alignRight flexGrowHalf reveal">
                        {{/if}}
                            {{#if (eq actor.type "character")}}
                            <label class="resource-label labelWidth-medium">{{localize "ep2e.skills.pool.label"}} </label>
                            <i class="far fa-question-circle icon-hidden info tooltip">
                                <div role="tooltip">
                                    <div class="tooltipTopBorder">
                                        <div class="tooltipTop"></div>
                                    </div>
                                    <div class="vigor">
                                        <h3 class="inline">{{localize "ep2e.skills.vigorSkills.poolHeadline"}}</h3>
                                        <ul>
                                            <li>
                                                <label class="resource-value">{{localize "ep2e.skills.vigorSkills.poolSubheadline1"}}: </label>{{localize "ep2e.skills.vigorSkills.poolCopy1"}}
                                            </li>
                                            <p/>
                                            <li>
                                                <label class="resource-value">{{localize "ep2e.skills.vigorSkills.poolSubheadline2"}}: </label>{{localize "ep2e.skills.vigorSkills.poolCopy2"}}
                                            </li>
                                            <p/>
                                            <li>
                                                <label class="resource-value">{{localize "ep2e.skills.vigorSkills.poolSubheadline3"}}: </label>{{localize "ep2e.skills.vigorSkills.poolCopy3"}}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tooltipBottomBorder">
                                        <div class="tooltipBottom"></div>
                                    </div>
                                </div>
                            </i>
                            {{#if isGM}}
                                <input class="input-xs -small" type="number"  name="system.pools.vigor.value" value="{{actor.system.pools.vigor.value}}" placeholder="0"/> 
                            {{else}}
                                <label class="resource-label alignCenter" style="min-width: 25px;">{{#if actor.system.pools.vigor.value}}{{actor.system.pools.vigor.value}}{{else}}0{{/if}}</label>
                            {{/if}}
                            <span class="resource-value">/ {{#if actor.system.pools.vigor.totalVigor}}{{actor.system.pools.vigor.totalVigor}}{{else}}0{{/if}}</span>
                            {{/if}}
                        </div>
                        {{#if (eq isGM false)}}
                            <div id="droplist" class="poolDroplist" style="display: none;">
                                <div class="droplistHeader closeButton">
                                    <label class="resource-value" style="margin-right: 10px">{{localize "ep2e.actorSheet.button.close"}}</label> <i class="fa-solid fa-xmark"></i>
                                </div>
                                <div class="droplistBackground">
                                <label class="droplistElement resource-value poolUse" data-type="1" data-pool="vig">{{localize "ep2e.skills.vigorSkills.poolSubheadline1"}}</label>
                                <label class="droplistElement resource-value poolUse" data-type="2" data-pool="vig">{{localize "ep2e.skills.vigorSkills.poolSubheadline2"}}</label>
                                <label class="droplistElement resource-value poolUse" data-type="3" data-pool="vig">{{localize "ep2e.skills.vigorSkills.poolSubheadline3"}}</label>
                                </div>
                            </div>
                        {{/if}}
                    </div>
                    <div class="listBackground edgeAbler">
                        {{#if (ne actor.type "goon")}}
                            {{#each actor.system.skillsVig as |skill key|}}
                            <div class="flexrow flex-group-center reveal skill">
                                <span class="resource-label input-large">{{localize skill.name}}</span>
                                <input class=" input-xs" type="number" name="system.skillsVig.{{key}}.value" value="{{skill.value}}" data-dtype="Number" placeholder="0"/>
                                <div class="flexrow flex-group-center" style="max-width: 40px;">
                                    <span class="resource-value input-xs">{{numberFormat skill.derived decimals=0}}</span>
                                    <!-- <img data-type="skill" data-key="{{key}}" data-name="{{localize skill.name}}" data-rollvalue="{{skill.roll}}" data-specname="{{specname}}" data-pooltype="Vigor" src="icons/svg/d10-grey.svg" class="toggle icon-dice noShow roll-label task-check"/> -->
                                </div>
                                <input type="text" class="input-largeSpec" name="system.skillsVig.{{key}}.specname" value="{{specname}}" placeholder="{{localize 'ep2e.skills.placeholders.specialization'}}"/>
                                <img data-type="skill" data-key="{{key}}" data-name="{{localize skill.name}}" data-rollvalue="{{skill.roll}}" data-specname="{{specname}}" data-pooltype="Vigor" src="icons/svg/d10-grey.svg" class="info icon-dice roll-label task-check icon-hidden"/>
                            </div>
                            {{/each}}
                        {{else}}
                            {{#each actor.system.skillsVig as |skill key|}}
                            <div class="flexrow flex-group-center reveal skill">
                                <span class="resource-label input-large">{{localize skill.name}}</span>
                                <input class=" input-xs" type="number" name="system.skillsVig.{{key}}.value" value="{{skill.value}}" data-dtype="Number" placeholder="0"/>
                                <div class="flexrow flex-group-center" style="max-width: 40px;">
                                    <label class="roll-label toggle"><img src="icons/svg/d10-grey.svg" class="icon-hidden"/></label>
                                    <img data-type="skill" data-key="{{key}}" data-name="{{localize skill.name}}" data-specname="{{specname}}" data-rollvalue="{{skill.roll}}" src="icons/svg/d10-grey.svg" class="toggle icon-dice noShow roll-label task-check"/>
                                </div>
                                <input type="text" class="input-largeSpec item-standard-margin-both-large" name="system.skillsVig.{{key}}.specname" value="{{specname}}" placeholder="{{localize 'ep2e.skills.placeholders.specialization'}}"/>
                            </div>
                            {{/each}}
                        {{/if}}
                    </div>
                </div>
                <div class="contentBox">
                    <div class="flexrow subheader">
                        <h3 class="subheader">{{localize "ep2e.skills.moxieSkills.moxieHeadline"}}</h3>
                        {{#if (eq isGM false)}}
                        <div class="alignRight flexGrowHalf reveal dropdown">
                        {{else}}
                        <div class="alignRight flexGrowHalf reveal">
                        {{/if}}
                            {{#if (eq actor.type "character")}}
                            <label class="resource-label labelWidth-medium">{{localize "ep2e.skills.pool.label"}} </label>
                            <i class="far fa-question-circle icon-hidden info tooltip">
                                <div role="tooltip">
                                    <div class="tooltipTopBorder">
                                        <div class="tooltipTop"></div>
                                    </div>
                                    <div class="moxie">
                                        <h3 class="inline">{{localize "ep2e.skills.moxieSkills.poolHeadline"}}</h3>
                                        <ul>
                                            <li>
                                                <label class="resource-value">{{localize "ep2e.skills.moxieSkills.poolSubheadline1"}}: </label>{{localize "ep2e.skills.moxieSkills.poolCopy1"}}
                                            </li>
                                            <p/>
                                            <li>
                                                <label class="resource-value">{{localize "ep2e.skills.moxieSkills.poolSubheadline2"}}: </label>{{localize "ep2e.skills.moxieSkills.poolCopy2"}}
                                            </li>
                                            <p/>
                                            <li>
                                                <label class="resource-value">{{localize "ep2e.skills.moxieSkills.poolSubheadline3"}}: </label>{{localize "ep2e.skills.moxieSkills.poolCopy3"}}
                                            </li>
                                            <p/>
                                            <li>
                                                <label class="resource-value">{{localize "ep2e.skills.moxieSkills.poolSubheadline4"}}: </label>{{localize "ep2e.skills.moxieSkills.poolCopy4"}}
                                            </li>
                                            <p/>
                                            <li>
                                                <label class="resource-value">{{localize "ep2e.skills.moxieSkills.poolSubheadline5"}}: </label>{{localize "ep2e.skills.moxieSkills.poolCopy5"}}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tooltipBottomBorder">
                                        <div class="tooltipBottom"></div>
                                    </div>
                                </div>
                            </i>
                            {{#if isGM}}
                                <input class="input-xs -small" type="number" name="system.pools.moxie.value" value="{{actor.system.pools.moxie.value}}" placeholder="0"/>
                            {{else}}
                                <label class="resource-label alignCenter" style="min-width: 25px;">{{#if actor.system.pools.moxie.value}}{{actor.system.pools.moxie.value}}{{else}}0{{/if}}</label>
                            {{/if}}
                            <span class="resource-value">/ {{#if actor.system.pools.moxie.totalMoxie}}{{actor.system.pools.moxie.totalMoxie}}{{else}}0{{/if}}</span>
                            {{/if}}
                        </div>
                        {{#if (eq isGM false)}}
                        <div id="droplist" class="poolDroplist" style="display: none;">
                                <div class="droplistHeader closeButton">
                                    <label class="resource-value" style="margin-right: 10px">{{localize "ep2e.actorSheet.button.close"}}</label> <i class="fa-solid fa-xmark"></i>
                                </div>
                            <div class="droplistBackground">
                                <label class="droplistElement resource-value poolUse" data-type="1" data-pool="mox">{{localize "ep2e.skills.moxieSkills.poolSubheadline1"}}</label>
                                <label class="droplistElement resource-value poolUse" data-type="2" data-pool="mox">{{localize "ep2e.skills.moxieSkills.poolSubheadline2"}}</label>
                                <label class="droplistElement resource-value poolUse" data-type="3" data-pool="mox">{{localize "ep2e.skills.moxieSkills.poolSubheadline3"}}</label>
                                <label class="droplistElement resource-value poolUse" data-type="4" data-pool="mox">{{localize "ep2e.skills.moxieSkills.poolSubheadline4"}}</label>
                                <label class="droplistElement resource-value poolUse" data-type="5" data-pool="mox">{{localize "ep2e.skills.moxieSkills.poolSubheadline5"}}</label>
                            </div>
                        </div>
                        {{/if}}
                    </div>
                    <div class="listBackground edgeAbler">
                        {{#if (ne actor.type "goon")}}
                            {{#each actor.system.skillsMox as |skill key|}}
                            <div class="flexrow flex-group-center reveal skill">
                                <span class="resource-label input-large">{{localize skill.name}}</span>
                                <input class=" input-xs" type="number" name="system.skillsMox.{{key}}.value" value="{{skill.value}}" data-dtype="Number" placeholder="0"/>
                                <div class="flexrow flex-group-center" style="max-width: 40px;">
                                    <span class="resource-value input-xs">{{numberFormat skill.derived decimals=0}}</span>
                                    <!-- <img data-type="skill" data-key="{{key}}" data-name="{{localize skill.name}}" data-rollvalue="{{skill.roll}}" data-specname="{{specname}}" data-pooltype="Moxie" src="icons/svg/d10-grey.svg" class="toggle icon-dice noShow roll-label task-check"/> -->
                                </div>
                                <input type="text" class="input-largeSpec" name="system.skillsMox.{{key}}.specname" value="{{specname}}" placeholder="{{localize 'ep2e.skills.placeholders.specialization'}}"/>
                                <img data-type="skill" data-key="{{key}}" data-name="{{localize skill.name}}" data-rollvalue="{{skill.roll}}" data-specname="{{specname}}" data-pooltype="Moxie" src="icons/svg/d10-grey.svg" class="info icon-dice roll-label task-check icon-hidden"/>
                            </div>
                            {{/each}}
                        {{else}}
                            {{#each actor.system.skillsMox as |skill key|}}
                            <div class="flexrow flex-group-center reveal skill">
                                <span class="resource-label input-large">{{localize skill.name}}</span>
                                <input class=" input-xs" type="number" name="system.skillsMox.{{key}}.value" value="{{skill.value}}" data-dtype="Number" placeholder="0"/>
                                <div class="flexrow flex-group-center" style="max-width: 40px;">
                                    <label class="roll-label toggle"><img src="icons/svg/d10-grey.svg" class="icon-hidden"/></label>
                                    <img data-type="skill" data-key="{{key}}" data-name="{{localize skill.name}}" data-specname="{{specname}}" data-rollvalue="{{skill.roll}}" src="icons/svg/d10-grey.svg" class="toggle icon-dice noShow roll-label task-check"/>
                                </div>
                                <input type="text" class="input-largeSpec" name="system.skillsMox.{{key}}.specname" value="{{specname}}" placeholder="{{localize 'ep2e.skills.placeholders.specialization'}}"/>
                            </div>
                            {{/each}}
                        {{/if}}
                    </div>
                </div>
                {{#if (ne actor.type "character")}}
                <div class="contentBox">
                    {{#if actor.specialSkill}}
                    <div class="flexrow subheader">
                        <h3 class="subheader">{{localize "ep2e.skills.additionalSkills.additionalHeadline"}}</h3>
                        <div class="alignRight flexGrowHalf">
                            <a class="item-control item-create" title="Create item" data-type="specialSkill" style="max-height: 24px;"><i class="fas fa-plus"></i> Add Skill</a>
                        </div>
                    </div>
                    <div class="listBackground edgeAbler">
                        {{#if (ne actor.type "goon")}}
                            
                        <div class="listBackground edgeAbler">
                            {{#each actor.specialSkill as |item id|}}
                                <div class="item flexrow flex-group-center reveal wantToKnowMore skill" data-item-id="{{item._id}}" style="padding-left: 0;">
                                    <span class="tooltipText">{{item.name}}</span>
                                    <a class="item-control item-delete " style="max-width: 24px;" title="Delete Item"><i class="far fa-times-circle"></i></a>
                                    <label class="resource-label item-control item-edit hoverable truncate wantToKnowMore" style="min-width: 110px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{item.name}}</label>
                                    <input class="input-xs sheet-inline-edit" data-field="system.value" type="number" name="item.system.value" value="{{item.system.value}}" placeholder="0"/>
                                    {{#if item.system.aptitude}}
                                        <label class="resource-value input-xs item-control item-edit hoverable">{{item.roll}}</label>
                                    {{#if item.system.specname}}
                                        <label class="resource-label item-control item-edit hoverable truncate input-largeSpec item-standard-margin-both-large">{{item.system.specname}}</label>
                                    {{else}}
                                        <label class="resource-label item-control item-edit hoverable truncate input-largeSpec item-standard-margin-both-large" style="color: var(--inactive); text-transform: capitalize;">{{localize 'ep2e.skills.placeholders.additionalSpec'}}</label>
                                    {{/if}}
                                        <img src="icons/svg/d10-grey.svg" class="info input-small roll-label icon-dice task-check icon-hidden" data-type="skill" data-specname="{{item.system.specname}}" data-key="{{item.name}}" data-name="{{item.name}}" data-rollvalue="{{item.roll}}"/>
                                    {{else}}
                                        <label class="resource-value input-small item-control item-edit hoverable">{{item.roll}}</label>
                                        <label class="input-large item-control item-edit hoverable item-standard-margin-both-large alignLeft"><u style="color: var(--negative);">{{localize "ep2e.skills.chooseAptitude"}}</u></label>
                                        <label class="roll-label"><img src="icons/svg/d10-grey.svg" class="icon-hidden"/></label>
                                    {{/if}}
                                </div>
                            {{/each}}
                        </div>
                        {{else}}
                        <div class="listBackground edgeAbler">
                            {{#each actor.specialSkill as |item id|}}
                                <div class="item flexrow flex-group-center reveal wantToKnowMore skill" data-item-id="{{item._id}}" style="padding-left: 0;">
                                    <span class="tooltipText">{{item.name}}</span>
                                    <a class="item-control item-delete " style="max-width: 24px;" title="Delete Item"><i class="far fa-times-circle"></i></a>
                                    <label class="resource-label item-control item-edit hoverable truncate wantToKnowMore" style="min-width: 110px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{item.name}}</label>
                                    <input class="input-xs sheet-inline-edit" data-field="system.value" type="number" name="item.system.value" value="{{item.system.value}}" placeholder="0"/>
                                {{#if item.system.specname}}
                                    <label class="resource-label item-control item-edit hoverable truncate input-largeSpec item-standard-margin-both-large">{{item.system.specname}}</label>
                                {{else}}
                                    <label class="resource-label item-control item-edit hoverable truncate input-largeSpec item-standard-margin-both-large" style="color: var(--inactive); text-transform: capitalize;">{{localize 'ep2e.skills.placeholders.additionalSpec'}}</label>
                                {{/if}}
                                    <img src="icons/svg/d10-grey.svg" class="info input-small roll-label icon-dice task-check icon-hidden" data-type="skill" data-specname="{{item.system.specname}}" data-key="{{item.name}}" data-name="{{item.name}}" data-rollvalue="{{item.system.value}}"/>
                                </div>
                            {{/each}}
                        </div>
                        {{/if}}
                    </div>
                    {{else}}
                    <div class="separator">
                        <a class="item-control item-create" title="Create item" data-type="specialSkill" style="max-height: 24px;"><i class="fas fa-plus"></i> Add Additional Skill</a>
                    </div>
                    {{/if}}
                </div>
                {{else}}
                <div class="contentBox noMargin">
                    <div class="flexrow subheader">
                        <h3 class="subheader">{{localize "ep2e.skills.flex.poolHeadline"}}</h3>
                        {{#if (eq isGM false)}}
                        <div class="alignRight flexGrowHalf reveal dropdown">
                        {{else}}
                        <div class="alignRight flexGrowHalf reveal">
                        {{/if}}
                            <label class="resource-label labelWidth-medium">{{localize "ep2e.skills.pool.label"}} </label>
                            <i class="far fa-question-circle icon-hidden info tooltip">
                                <div role="tooltip">
                                    <div class="tooltipTopBorder">
                                        <div class="tooltipTop"></div>
                                    </div>
                                    <div class="flex">
                                        <h3 class="inline">{{localize "ep2e.skills.flex.flexHeadline"}}</h3>
                                        <ul>
                                            <li>
                                                <label class="resource-value">{{localize "ep2e.skills.flex.poolSubheadline1"}}</label>: {{localize "ep2e.skills.flex.poolCopy1"}}
                                            </li>
                                            <p/>
                                            <li>
                                                <label class="resource-value">{{localize "ep2e.skills.flex.poolSubheadline2"}}</label>: {{localize "ep2e.skills.flex.poolCopy2"}}
                                            </li>
                                            <p/>
                                            <li>
                                                <label class="resource-value">{{localize "ep2e.skills.flex.poolSubheadline3"}}</label>: {{localize "ep2e.skills.flex.poolCopy3"}}
                                            </li>
                                            <p/>
                                            <li>
                                                <label class="resource-value">{{localize "ep2e.skills.flex.poolSubheadline4"}}</label>: {{localize "ep2e.skills.flex.poolCopy4"}}
                                            </li>
                                            <p/>
                                        </ul>
                                    </div>
                                    <div class="tooltipBottomBorder">
                                        <div class="tooltipBottom"></div>
                                    </div>
                                </div>
                            </i>
                            {{#if isGM}}
                                <input class="input-xs -small" type="number" name="system.pools.flex.value" value="{{actor.system.pools.flex.value}}" placeholder="0"/>
                            {{else}}
                                <label class="resource-label alignCenter" style="min-width: 25px;">{{#if actor.system.pools.flex.value}}{{actor.system.pools.flex.value}}{{else}}0{{/if}}</label>
                            {{/if}}
                            <span class="resource-value">/ {{#if actor.system.pools.flex.totalFlex}}{{actor.system.pools.flex.totalFlex}}{{else}}0{{/if}}</span>
                        </div>
                        {{#if (eq isGM false)}}
                        <div id="droplist" class="poolDroplist" style="display: none;">
                            <div class="droplistHeader closeButton">
                                <label class="resource-value" style="margin-right: 10px">{{localize "ep2e.actorSheet.button.close"}}</label> <i class="fa-solid fa-xmark"></i>
                            </div>
                            <div class="droplistBackground">
                                <label class="droplistElement resource-value poolUse" data-type="1" data-pool="flex">{{localize "ep2e.skills.flex.poolSubheadline1"}}</label>
                                <label class="droplistElement resource-value poolUse" data-type="2" data-pool="flex">{{localize "ep2e.skills.flex.poolSubheadline2"}}</label>
                                <label class="droplistElement resource-value poolUse" data-type="3" data-pool="flex">{{localize "ep2e.skills.flex.poolSubheadline3"}}</label>
                                <label class="droplistElement resource-value poolUse" data-type="4" data-pool="flex">{{localize "ep2e.skills.flex.poolSubheadline4"}}</label>
                            </div>
                        </div>
                        {{/if}}
                    </div>
                    <div class="listBackground" style="padding: 5px 0 5px 0; min-height: 137px;">
                        {{#if (eq actor.system.rest.restValue null)}}
                            <div class="reveal" style="padding: 5px 0px 5px 10px;">
                                <label class="resource-value input-large" style ="font-size: 16px;">{{localize "ep2e.skills.restingMenu.headline"}}</label>
                                <i class="far fa-question-circle icon-hidden info tooltip">
                                    <div role="tooltip">
                                        <div class="tooltipTopBorder">
                                            <div class="tooltipTop"></div>
                                        </div>
                                        <div class="restInfo">
                                            <h3 class="inline">{{localize "ep2e.skills.restingMenu.restInfo.headline"}}</h3>
                                            <ul>
                                                <li>
                                                    <label class="resource-value">{{localize "ep2e.skills.restingMenu.restInfo.subheadline1"}}</label>{{localize "ep2e.skills.restingMenu.restInfo.copy1"}}
                                                </li>
                                                <p/>
                                                <li>
                                                    <label class="resource-value">{{localize "ep2e.skills.restingMenu.restInfo.subheadline2"}}</label>{{{localize "ep2e.skills.restingMenu.restInfo.copy2"}}}
                                                </li>
                                                <p/>
                                                <li>
                                                    <label class="resource-value">{{localize "ep2e.skills.restingMenu.restInfo.subheadline3"}}</label>{{{localize "ep2e.skills.restingMenu.restInfo.copy3"}}}
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tooltipBottomBorder">
                                            <div class="tooltipBottom"></div>
                                        </div>
                                    </div>
                                </i>
                            </div>
                            <div class="flexrow" style="align-items: baseline; background-color: var(--pitchBorder); padding: 18px 0 20px 10px; margin: 5px 0 5px 0;">
                                <label class="resource-value" style ="font-size: 16px; max-width: 106px;">{{localize "ep2e.skills.restingMenu.shortRest"}}</label>
                                {{#if actor.system.rest.short1}}
                                <input type="checkbox" class="rest" data-resttype="short" name="system.rest.short1" disabled {{checked actor.system.rest.short1}}>
                                {{else}}
                                <input type="checkbox" class="rest" data-resttype="short" name="system.rest.short1"{{checked actor.system.rest.short1}}>
                                {{/if}}

                                {{#if actor.system.additionalSystems.extraRest}}
                                    {{#if actor.system.rest.short2}}
                                    <input type="checkbox" class="rest" data-resttype="short" name="system.rest.short2" disabled {{checked actor.system.rest.short2}}>
                                    {{else}}
                                    <input type="checkbox" class="rest" data-resttype="short" name="system.rest.short2" {{checked actor.system.rest.short2}}>
                                    {{/if}}
                                    {{#if actor.system.rest.shortExtra}}
                                    <input type="checkbox" class="rest" data-resttype="short" name="system.rest.shortExtra" disabled {{checked actor.system.rest.shortExtra}}>
                                    {{else}}
                                    <input type="checkbox" class="rest" data-resttype="short" name="system.rest.shortExtra"{{checked actor.system.rest.shortExtra}}>
                                    {{/if}}
                                {{else}}
                                    {{#if actor.system.rest.short2}}
                                    <input style="margin-right: 20px;" type="checkbox" class="rest" data-resttype="short" name="system.rest.short2" disabled {{checked actor.system.rest.short2}}>
                                    {{else}}
                                    <input style="margin-right: 20px;" type="checkbox" class="rest" data-resttype="short" name="system.rest.short2" {{checked actor.system.rest.short2}}>
                                    {{/if}}
                                {{/if}}

                                <label class="resource-value input-largeSpec" style ="font-size: 16px; text-align: right;">{{localize "ep2e.skills.restingMenu.longRest"}}</label>
                                {{#if actor.system.rest.long}}
                                <input style="margin-right: 20px;" type="checkbox" class="rest" data-resttype="long" name="system.rest.long" disabled {{checked actor.system.rest.long}}>
                                {{else}}
                                <input style="margin-right: 20px;" type="checkbox" class="rest" data-resttype="long" name="system.rest.long" {{checked actor.system.rest.long}}>
                                {{/if}}
                            </div>
                            {{#if isGM}}
                                <div class="flex-group-center" style="margin-bottom: 0px;">
                                    <div style="display: inline-block;">
                                        <button class="restReset">{{localize "ep2e.skills.restingMenu.button.resetRest"}}</button>
                                    </div>
                                </div>
                            {{/if}}
                        {{/if}}
                        {{#if actor.system.rest.restValue}}
                            <div class="flexrow flex-group-center" style="padding: 5px 0px 5px 10px;">
                                {{#if (eq actor.system.pools.update.possible 1)}}
                                    <label class="resource-value" style="min-width: 100%; font-size: 16px;"><strong style="color: var(--positive);">{{actor.system.rest.restValueUpdate}}</strong> {{localize "ep2e.skills.restingMenu.messages.pointsAvailable"}}</label>
                                {{else if (eq actor.system.pools.update.possible 2)}}
                                    <label class="resource-value" style="min-width: 100%; font-size: 16px;">{{localize "ep2e.skills.restingMenu.messages.pointsOverspent"}} <strong style="color: var(--negative);">{{actor.system.rest.restValueUpdate}}</strong></label>
                                {{else if (eq actor.system.pools.update.possible 0)}}
                                    <label class="resource-value" style="min-width: 100%; font-size: 16px;">{{localize "ep2e.skills.restingMenu.messages.distributionDone"}}</label>
                                {{/if}}
                            </div>
                            {{#if (eq actor.system.homebrew false)}}
                                <div class="grid grid-4col">
                                    <div class="flexrow flex-group-center">
                                        <div class="flexrow flex-group-center insightPoolRecovery">
                                            <input class=" input-xs" type="number" name="system.pools.update.insight" value="{{actor.system.pools.update.insight}}" data-dtype="Number" placeholder="0"/>
                                            <label class="resource-value" style="min-width: 100%;">{{localize "ep2e.skills.restingMenu.labelInsight"}}</label>
                                        </div>
                                    </div>
                                    <div class="flexrow flex-group-center">
                                        <div class="flexrow flex-group-center vigorPoolRecovery">
                                            <input class=" input-xs" type="number" name="system.pools.update.vigor" value="{{actor.system.pools.update.vigor}}" data-dtype="Number" placeholder="0"/>
                                            <label class="resource-value" style="min-width: 100%;">{{localize "ep2e.skills.restingMenu.labelVigor"}}</label>
                                        </div>
                                    </div>
                                    <div class="flexrow flex-group-center">
                                        <div class="flexrow flex-group-center moxiePoolRecovery">
                                            <input class=" input-xs" type="number" name="system.pools.update.moxie" value="{{actor.system.pools.update.moxie}}" data-dtype="Number" placeholder="0"/>
                                            <label class="resource-value" style="min-width: 100%;">{{localize "ep2e.skills.restingMenu.labelMoxie"}}</label>
                                        </div>
                                    </div>
                                    <div class="flexrow flex-group-center">
                                        <div class="flexrow flex-group-center flexPoolRecovery">
                                            <input class=" input-xs" type="number" name="system.pools.update.flex" value="{{actor.system.pools.update.flex}}" data-dtype="Number" placeholder="0"/>
                                            <label class="resource-value" style="min-width: 100%;">{{localize "ep2e.skills.restingMenu.labelFlex"}}</label>
                                        </div>
                                    </div>
                                </div>
                            {{else}}
                            <div class="grid grid-3col">
                                <div class="flexrow flex-group-center">
                                    <div class="flexrow flex-group-center insightPoolRecovery">
                                        <input class=" input-xs" type="number" name="system.pools.update.insight" value="{{actor.system.pools.update.insight}}" data-dtype="Number" placeholder="0"/>
                                        <label class="resource-value" style="min-width: 100%;">{{localize "ep2e.skills.restingMenu.labelInsight"}}</label>
                                    </div>
                                </div>
                                <div class="flexrow flex-group-center">
                                    <div class="flexrow flex-group-center vigorPoolRecovery">
                                        <input class=" input-xs" type="number" name="system.pools.update.vigor" value="{{actor.system.pools.update.vigor}}" data-dtype="Number" placeholder="0"/>
                                        <label class="resource-value" style="min-width: 100%;">{{localize "ep2e.skills.restingMenu.labelVigor"}}</label>
                                    </div>
                                </div>
                                <div class="flexrow flex-group-center">
                                    <div class="flexrow flex-group-center moxiePoolRecovery">
                                        <input class=" input-xs" type="number" name="system.pools.update.moxie" value="{{actor.system.pools.update.moxie}}" data-dtype="Number" placeholder="0"/>
                                        <label class="resource-value" style="min-width: 100%;">{{localize "ep2e.skills.restingMenu.labelMoxie"}}</label>
                                    </div>
                                </div>
                            </div>
                            {{/if}}
                            <div class="flex-group-center" style="margin-bottom: 0px;">
                                <div style="display: inline-block;">
                                    {{#if (eq actor.system.pools.update.possible 0)}}
                                    <button class="distribute">{{localize "ep2e.skills.restingMenu.button.distribute"}}</button>
                                    {{else}}
                                    <button class="distribute" disabled>{{localize "ep2e.skills.restingMenu.button.distribute"}}</button>
                                    {{/if}}
                                </div>
                            </div>
                        {{/if}}
                    </div>
                </div>
                <div class="contentBox noMargin">
                    {{#if actor.knowSkill}}
                    <div class="flexrow subheader">
                        <h3 class="subheader">{{localize "ep2e.skills.knowSkills.knowHeadline"}}</h3>
                        <div class="alignRight flexGrowHalf">
                            <div><a class="item-control item-create" title="Create item" data-type="knowSkill"><i class="fas fa-plus"></i> {{localize "ep2e.skills.addSkill"}}</a></div>
                        </div>
                    </div>
                    <div class="listBackground" style="position: relative; z-index: 2;">
                        {{#each actor.knowSkill as |item id|}}
                            <div class="item flexrow flex-group-center reveal wantToKnowMore skill" data-item-id="{{item._id}}" data-item-name="{{item.name}}">
                                <span class="tooltipText">{{item.name}}</span>
                                <a class="item-control item-delete " style="max-width: 24px;" title="Delete Item"><i class="far fa-times-circle"></i></a>
                                <label class="resource-label item-control item-edit hoverable truncate" style="min-width: 110px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{item.name}}</label>
                                <input class="input-xs sheet-inline-edit" data-field="system.value" type="number" name="item.system.value" value="{{item.system.value}}" placeholder="0"/>
                                {{#if item.system.aptitude}}
                                    <label class="resource-value input-xs item-control item-edit hoverable">{{item.roll}}</label>
                                {{#if item.system.specname}}
                                    <label class="resource-label item-control item-edit hoverable truncate input-largeSpec item-standard-margin-both-large">{{item.system.specname}}</label>
                                {{else}}
                                    <label class="resource-label item-control item-edit hoverable truncate input-largeSpec item-standard-margin-both-large" style="color: var(--inactive); text-transform: capitalize;">{{localize 'ep2e.skills.placeholders.additionalSpec'}}</label>
                                {{/if}}
                                    <img src="icons/svg/d10-grey.svg" class="info input-small roll-label icon-dice task-check icon-hidden" data-type="skill" data-specname="{{item.system.specname}}" data-pooltype="Insight" data-key="{{item.name}}" data-name="{{item.name}}" data-rollvalue="{{item.roll}}"/>
                                {{else}}
                                    <label class="resource-value input-xs item-control item-edit hoverable">{{item.roll}}</label>
                                    <label class="input-large item-control item-edit hoverable item-standard-margin-both-large alignLeft"><u style="color: var(--negative);">{{localize "ep2e.skills.chooseAptitude"}}</u></label>
                                    <label class="roll-label"><img src="icons/svg/d10-grey.svg" class="icon-hidden"/></label>
                                {{/if}}
                            </div>
                        {{/each}}
                    </div>
                    {{else}}
                    <div class="separator">
                        <a class="item-control item-create" title="Create item" data-type="knowSkill" style="max-height: 24px;"><i class="fas fa-plus"></i> {{localize "ep2e.skills.knowSkills.addfirst"}}</a>
                    </div>
                    {{/if}}
                </div>
                <div class="contentBox noMargin">
                    {{#if actor.specialSkill}}
                    <div class="flexrow subheader">
                        <h3 class="subheader">{{localize "ep2e.skills.exoticSkills.exoticHeadline"}}</h3>
                        <div class="alignRight flexGrowHalf">
                            <a class="item-control item-create" title="Create item" data-type="specialSkill" style="max-height: 24px;"><i class="fas fa-plus"></i> {{localize "ep2e.skills.addSkill"}}</a>
                        </div>
                    </div>
                    <div class="listBackground edgeAbler">
                        {{#each actor.specialSkill as |item id|}}
                            <div class="item flexrow flex-group-center reveal wantToKnowMore skill" data-item-id="{{item._id}}" data-item-name="{{item.name}}" style="padding-left: 0;">
                                <span class="tooltipText">{{item.name}}</span>
                                <a class="item-control item-delete " style="max-width: 24px;" title="Delete Item"><i class="far fa-times-circle"></i></a>
                                <label class="resource-label item-control item-edit hoverable truncate wantToKnowMore" style="min-width: 110px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{item.name}}</label>
                                <input class="input-xs sheet-inline-edit" data-field="system.value" type="number" name="item.system.value" value="{{item.system.value}}" placeholder="0"/>
                                {{#if item.system.aptitude}}
                                    <label class="resource-value input-xs item-control item-edit hoverable">{{item.roll}}</label>
                                {{#if item.system.specname}}
                                    <label class="resource-label item-control item-edit hoverable truncate input-largeSpec item-standard-margin-both-large">{{item.system.specname}}</label>
                                {{else}}
                                    <label class="resource-label item-control item-edit hoverable truncate input-largeSpec item-standard-margin-both-large" style="color: var(--inactive); text-transform: capitalize;">{{localize 'ep2e.skills.placeholders.additionalSpec'}}</label>
                                {{/if}}
                                    <img src="icons/svg/d10-grey.svg" class="info input-small roll-label icon-dice task-check icon-hidden" data-type="skill" data-specname="{{item.system.specname}}" data-apttype="{{item.system.aptitude}}" data-key="{{item.name}}" data-name="{{item.name}}" data-rollvalue="{{item.roll}}"/>
                                {{else}}
                                    <label class="resource-value input-small item-control item-edit hoverable">{{item.roll}}</label>
                                    <label class="input-large item-control item-edit hoverable item-standard-margin-both-large alignLeft"><u style="color: var(--negative);">{{localize "ep2e.skills.chooseAptitude"}}</u></label>
                                    <label class="roll-label"><img src="icons/svg/d10-grey.svg" class="icon-hidden"/></label>
                                {{/if}}
                            </div>
                        {{/each}}
                    </div>
                    {{else}}
                    <div class="separator">
                        <a class="item-control item-create" title="Create item" data-type="specialSkill" style="max-height: 24px;"><i class="fas fa-plus"></i> {{localize "ep2e.skills.exoticSkills.addfirst"}}</a>
                    </div>
                    {{/if}}
                </div>
                {{/if}}
            </div>
        </div>
