<div class="tab vehicle" data-group="primary" data-tab="vehicles">
    {{#each actor.vehicle.vehicle as |item id|}}

        {{> systems/eclipsephase/templates/actor/partials/item-partials/vehicles.html item=item}}

    {{/each}}
    {{#each actor.vehicle.robot as |item id|}}
    
        {{> systems/eclipsephase/templates/actor/partials/item-partials/vehicles.html item=item}}

    {{/each}}
    {{#each actor.vehicle.animal as |item id|}}
    
        {{> systems/eclipsephase/templates/actor/partials/item-partials/vehicles.html item=item}}

    {{/each}}
</div>