<div class="tab vehicle" data-group="primary" data-tab="vehicles">
{{#each actor.vehicle as |item id|}}
            {{log "My little Pwny:" this}}
            <div class="contentBox">
                <div class="flexrow">
                    <h3 class="subheader">{{item.name}}</h3>
                    <div class="alignRight flexGrowThreeQuarter">
                        {{#if item.system.ins}}
                        <label class="resource-label">Ins</label>
                        <input class="input-xs sheet-inline-edit"
                        data-field="system.curIns" type="number" name="item.system.curIns" value="{{item.system.curIns}}" placeholder="0"/>
                        <label class="flex-group-center
                          item-standard-margin-medium"><strong>/ {{item.system.ins}}</strong></label>
                        {{/if}}
                        {{#if item.system.mox}}
                        <label class="resource-label">Mox</label>
                        <input class="input-xs sheet-inline-edit"
                        data-field="system.curMox" type="number" name="item.system.curMOx" value="{{item.system.curMox}}" placeholder="0"/>
                        <label class="flex-group-center
                                      item-standard-margin-medium"><strong>/
                                        {{item.system.mox}}</strong></label>
                        {{/if}}
                        {{#if item.system.vig}}
                        <label class="resource-label">Vig</label>
                        <input class="input-xs sheet-inline-edit"
                        data-field="system.curVig" type="number" name="item.system.curVig" value="{{item.system.curVig}}" placeholder="0"/>
                        <label class="flex-group-center
                          item-standard-margin-medium"><strong>/ {{item.system.vig}}</strong></label>
                        {{/if}}
                        {{#if item.system.flex}}
                        <label class="resource-label">Flex</label>
                        <input class="input-xs sheet-inline-edit"
                        data-field="system.curFlex" type="number" name="item.system.curFlex" value="{{item.system.curFlex}}" placeholder="0"/>
                        <label class="flex-group-center"><strong>/ {{item.system.flex}}</strong></label>
                        {{/if}}
                    </div>
                </div>
                <div class="topLine">
                    <div class="item" data-item-id="{{item._id}}" style="padding: 0">
                        <table style="margin: 0px; text-align: center;">
                            <tr>
                                <td>
                                    <label class="resource-label">Type</label>
                                </td>
                                <td>
                                    <label class="resource-label">Armor</label>
                                </td>
                                <td>
                                    <label class="resource-label">WT</label>
                                </td>
                                <td>
                                    <label class="resource-label">Damage / DUR</label>
                                </td>
                                <td>
                                    <label class="resource-label">DR</label>
                                </td>
                                <td>
                                    <label class="resource-label">Movement</label>
                                </td>
                                <td>
                                    <label class="resource-label">Size</label>
                                </td>
                                <td>
                                    <a class="item-control item-delete" title="Delete Item"><i class="far fa-times-circle"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="flex-group-center noMargin noBG"><strong>{{item.system.type}}</strong></label>
                                </td>
                                <td>
                                    <input class="input-small sheet-inline-edit"
                                    data-field="system.armor" type="text"
                                    name="system.armor" value="{{system.armor}}" placeholder="2/2"/>
                                </td>
                                <td>
                                    <label class="flex-group-center noMargin noBG"><strong>{{item.wt}}</strong></label>
                                </td>
                                <td>
                                    <input class="input-small sheet-inline-edit
                                    noMargin" data-field="system.curDur" type="number" name="item.system.curDur" value="{{item.system.curDur}}" placeholder="0"/>
                                    <label class="flex-group-center noMargin noBG"><strong>/ {{item.system.dur}}</strong></label>
                                </td>
                                <td>
                                    <label class="flex-group-center noMargin noBG"><strong>{{item.dr}}</strong></label>
                                </td>
                                <td>
                                    <label class="flex-group-center noMargin noBG"><strong>{{item.system.mov}}</strong></label>
                                </td>
                                <td>
                                    <label class="flex-group-center noMargin noBG"><strong>{{item.system.slotType}}</strong></label>
                                </td>
                                <td>
                                </td>
                            </tr>
                        </table>
                        <table class="noMargin alignCenter">
                            <tr>
                                <td>
                                    <input class="sheet-inline-edit"
                                    data-field="system.description" type="text" name="item.system.description" value="{{item.system.description}}" placeholder="No modifications"/>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
