<form class="eclipsephase reset-rest-all-dialog">
  <div class="form-group listBackgroundMain">
    <p>{{{localize "ep2e.systemMessage.resetRest.copy"}}}</p>
  </div>
  {{#if (gt activeCharsCount 0)}}
  <div class="flexrow subheader">
    <h3 class="subheader dialog">{{localize "ep2e.systemMessage.resetRest.headline"}}</h3>
    <div class="checkbox-label">
      <label style="max-width: fit-content;">{{localize "ep2e.systemMessage.resetRest.checkBoxLabelAll"}}</label>
      <input type="checkbox" id="resetRestSelectAll">
    </div>
  </div>
  <h3 class="subheader dialog" style="margin-top: 10px;">{{localize "ep2e.systemMessage.resetRest.activeCharacters"}}</h3>
  <div class="form-group-stacked">
    <div class="grid" style="margin-top: 0;">
      {{#each activeChars as |char|}}
      <div class="checkbox-label">
        <label>{{char.actor.name}}</label>
        <input type="checkbox" data-checkbox-type="player-character" data-owner-id="{{char.ownedByPlayer}}" name="{{char.actor.id}}" {{checkedIf char.ownedByPlayer}}>
      </div>
      {{/each}}
    </div>
  </div>
  {{else}}
  <div style="height: 190px">
    <img src="systems/eclipsephase/resources/img/userConfiguration.webp"/>
  </div>
  {{/if}}
  {{#if (gt otherCharsCount 0)}}
  <h3 class="subheader dialog" style="margin-top: 10px;">{{localize "ep2e.systemMessage.resetRest.otherCharacters"}}</h3>
  <div class="form-group-stacked">
    <div class="grid" style="margin-top: 0;">
      {{#each otherChars as |char|}}
      <div class="checkbox-label">
        <label>{{char.actor.name}}</label>
        <input type="checkbox" data-checkbox-type="player-character" data-owner-id="{{char.ownedByPlayer}}" name="{{char.actor.id}}" {{checkedIf char.ownedByPlayer}}>
      </div>
      {{/each}}
    </div>
  </div>
  {{else}}
  {{/if}}
</form>