<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>
    <nav class="sheet-tabs itemnav tabs" data-group="primary">
        <a class="item" data-tab="details">{{localize "ep2e.item.general.tabs.detailsTab"}}</a>
        <a class="item" data-tab="description">{{localize "ep2e.item.general.table.description"}}</a>
        {{#if item.showEffectsTab}}
        <a class="item" data-tab="effects">{{localize "ep2e.item.general.tabs.effectsTab"}}</a>
        {{/if}}
    </nav>
    {{!-- Sheet Body --}}

    <section class="item-sheet-body" style="min-height: 240px; height: fit-content;">
        <div class="tab details" data-group="primary" data-tab="details">
            <div class="item contentBox" data-item-id="{{item._id}}" data-item-name="{{item.name}}" style="padding-bottom: 5px;">
                <div class="flexrow">
                    <h3 class="subheader dialog">
                    </h3>
                    <div class="alignRight flexGrowThreeQuarter">
                        <div class="flexrow alignCenter wantToKnowMore">
                            <img src="systems/eclipsephase/resources/icons/firingmode.webp" class="icon-small icon-space"/>
                            <span class="tooltipText" style="font-size: 13px;">{{localize "ep2e.item.weapon.table.firingMode.label"}}</span>
                            <select class="input-large" name="system.armorused" data-type="String">
                                {{#select item.system.armorused}}
                                {{#each config.grenadeArmorVector as |name key|}}
                                <option value="{{key}}">{{localize name}}</option>
                                {{/each}} {{/select}}
                            </select>                         
                        </div>
                    </div>
                </div>
            </div>

        {{> systems/eclipsephase/templates/item/partials/grenade-details.html item=item}}

        <div class="tab description" data-group="primary" data-tab="description">
            <div class="textAreaDescription"><textarea class="description" name="system.description" rows="14" cols="60" placeholder="{{localize 'ep2e.item.general.table.descriptionPlaceholder'}}">{{item.system.description}}</textarea></div>
        </div>
        
        {{> systems/eclipsephase/templates/actor/partials/tabs/effects-tab.html }}
    </section>
</form>
