<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="flexrow flex-group-center">
            <table>
                <tr>
                    <td>
                        <label class="resource-label">Type</label>
                    </td>
                    {{#if (eq data.type "morph")}}
                    <td>
                        <label class="resource-label">Insight</label>
                    </td>
                    <td>
                        <label class="resource-label">Moxie</label>
                    </td>
                    {{/if}}
                    {{#if (eq data.type "vehicle")}}
                    <td>
                        <label class="resource-label">Passengers</label>
                    </td>
                    {{/if}}
                    <td>
                        <label class="resource-label">Vigor</label>
                    </td>
                    <td>
                        <label class="resource-label">Flex</label>
                    </td>
                    <td>
                        <label class="resource-label">Armor</label>
                    </td>
                    <td>
                        <label class="resource-label">DUR</label>
                    </td>
                    <td>
                        <label class="resource-label">Movement</label>
                    </td>
                    <td>
                        <label class="resource-label">Size</label>
                    </td>
                    <td>
                        <label class="resource-label">Cost</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <select name="data.type" data-type="String">
                            {{#select data.type}}
                            {{#each config.vehicleType as |name type|}}
                            <option value="{{type}}">{{name}}</option>
                            {{/each}} {{/select}}
                        </select>
                    </td>
                    {{#if (eq data.type "morph")}}
                    <td>
                        <input class="input-medium"type="number" name="data.ins" value="{{data.ins}}" placeholder="0"/>
                    </td>
                    <td>
                        <input class="input-medium"type="number" name="data.mox" value="{{data.mox}}" placeholder="0"/>
                    </td>
                    {{/if}}
                    {{#if (eq data.type "vehicle")}}
                    <td>
                        <input class="input-medium"type="number" name="data.pass" value="{{data.pass}}" placeholder="0"/>
                    </td>
                    {{/if}}
                    <td>
                        <input class="input-medium"type="number" name="data.vig" value="{{data.vig}}" placeholder="0"/>
                    </td>
                    <td>
                        <input class="input-medium"type="number" name="data.flex" value="{{data.flex}}" placeholder="0"/>
                    </td>
                    <td>
                        <input class="input-medium" type="text" name="data.armor" value="{{data.armor}}" placeholder="e.g. 2/2"/>
                    </td>
                    <td>
                        <input class="input-medium" type="number" name="data.dur" value="{{data.dur}}" placeholder="e.g. 20"/>
                    </td>
                    <td>
                        <input class="input-large" type="text" name="data.mov" value="{{data.mov}}" placeholder="e.g. 8/32 Rotor"/>
                    </td>
                    <td>
                        <select name="data.slotType" data-type="String">
                            {{#select data.slotType}}
                            {{#each config.vehicleSize as |name type|}}
                            <option value="{{name}}">{{name}}</option>
                            {{/each}} {{/select}}
                        </select>
                    </td>
                    <td>
                        <select name="data.cost" data-type="String">
                            {{#select data.cost}}
                            {{#each config.costTypes as |name type|}}
                            <option value="{{name}}">{{name}}</option>
                            {{/each}} {{/select}}
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <p></p>

        <h2>Notes</h2>
            <input type="text" name="data.description" value="{{data.description}}" placeholder="e.g. additions, special tweaks etc."/>
    </section>
</form>
