<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div class="grid grid-2col">
            </div>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="flexrow flex-group-center">
            <table>
                <tr>
                    <td>
                        <label class="resource-label">Psi Type</label>
                    </td>
                    <td>
                        <label class="resource-label">Infection Modifier</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <select name="data.psiType" data-type="String">
                            {{#select data.data.psiType}}
                            {{#each config.psiTypes as |name type|}}
                            <option value="{{name}}">{{name}}</option>
                            {{/each}} {{/select}}
                        </select>
                    </td>
                    <td>
                        {{#if data.data.homebrew}}
                            <input class="input-large" type="number" name="data.infection" value="{{data.data.infection}}" placeholder="e.g. 3"/>
                        {{else}}
                            {{#if (eq data.data.psiType "Chi")}}
                            -
                            {{else}}
                            <input class="input-large" type="number" name="data.infection" value="{{data.data.infection}}" placeholder="e.g. 3"/>
                            {{/if}}
                        {{/if}}
                    </td>
                </tr>
            </table>
        </div>
        <p></p>
        <h2>Description</h2>
        <div class="textAreaDescription"><textarea class="description" name="data.description" rows="10" cols="60">{{data.description}}</textarea></div>
    </section>
</form>
