<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>
    <nav class="sheet-tabs itemnav tabs" data-group="primary">
        {{#if (ne item.system.additionalMode true)}}
        <a class="item" data-tab="details">{{localize "ep2e.item.general.tabs.detailsTab"}}</a>
        <div class="itemSmall wantToKnowMore toggleItem" data-path="system.additionalMode" style="margin: 0 10px; background-color: var(--accentBackground); max-width: 55px; min-height: 50px; cursor: pointer">
            <i class="fas fa-plus awesomeIcon"></i>
            <label class="tooltipText">{{localize "ep2e.item.general.tabs.addMode"}}</label>
        </div>
        {{else}}
        <a class="item" data-tab="details">{{#if item.system.mode1.name}}{{localize item.system.mode1.name}}{{else}}{{localize "ep2e.item.general.tabs.weaponMode1"}}{{/if}}</a>
        <div  class="item" data-tab="details2">
            <a style="width: 180px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{#if item.system.mode2.name}}{{localize item.system.mode2.name}}{{else}}{{localize "ep2e.item.general.tabs.weaponMode2"}}{{/if}}</a>
            <div class="itemSmall wantToKnowMore toggleItem" data-path="system.additionalMode" style=" max-width: 25px; justify-content: flex-end; cursor: pointer">
                <a><i class="far fa-times-circle awesomeIcon" style="margin-bottom: 6px;"></i></a>
            </div>
        </div>
        {{/if}}
        <a class="item" data-tab="description">{{localize "ep2e.item.general.table.description"}}</a>
        {{#if item.showEffectsTab}}
        <a class="item" data-tab="effects">{{localize "ep2e.item.general.tabs.effectsTab"}}</a>
        {{/if}}
    </nav>
    {{!-- Sheet Body --}}

    <section class="item-sheet-body" style="min-height: 275px; height: fit-content;">
        
        {{> systems/eclipsephase/templates/item/partials/weapon-mode.html item=item type="ranged"}}

        <!-- Description Tab -->
        <div class="tab description" data-group="primary" data-tab="description" style="padding: none;">
            {{editor item.system.description target="system.description" button=true owner=owner editable=this.options.editable}}
        </div>

        <!-- Effects Tab -->
        {{> systems/eclipsephase/templates/actor/partials/tabs/effects-tab.html }}
        
    </section>
</form>
