<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="flexrow flex-group-center">
            <table>
                <tr>
                    <td>
                        <label class="resource-label">Energy Protection</label>
                    </td>
                    <td>
                        <label class="resource-label">Kinetic Protection</label>
                    </td>
                    <td>
                        <label class="resource-label">Armor Type</label>
                    </td>
                    <td>
                        <label class="resource-label">Cost</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="input-large" type="text" name="data.energy" value="{{data.data.energy}}" placeholder="e.g. 10"/>
                    </td>
                    <td>
                        <input class="input-large" type="text" name="data.kinetic" value="{{data.data.kinetic}}" placeholder="e.g. 10"/>
                    </td>
                    <td>
                        <select name="data.slotType" data-type="String">
                            {{#select data.data.slotType}}
                            {{#each config.armorTypes as |name type|}}
                            <option value="{{name}}">{{name}}</option>
                            {{/each}} {{/select}}
                        </select>
                    </td>
                    <td>
                        <select name="data.cost" data-type="String">
                            {{#select data.data.cost}}
                            {{#each config.costTypes as |name type|}}
                            <option value="{{name}}">{{name}}</option>
                            {{/each}} {{/select}}
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <p></p>
        <h2>Notes</h2>
        <input type="text" name="data.description" value="{{data.data.description}}" placeholder="Any additional modifications etc."/>
    </section>
</form>
