<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <div class="header-fields flexrow flex-group-left" style="align-items: flex-end;">
            <i class="far fa-minus-square bigIcon" style="flex: 0.15;"></i>
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <div class="textAreaDescription"><textarea class="description" name="data.description" rows="10" cols="60" placeholder="Add a description">{{data.description}}</textarea></div>
</form>
