<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <div class="header-fields flexgrow flex-group-left" style="align-items: flex-end;">
            <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>    
    <nav class="sheet-tabs itemnav tabs" data-group="primary">
        <a class="item" data-tab="details">Item Details</a>
        {{#if item.showEffectsTab}}
        <a class="item" data-tab="effects">Effects</a>
        {{/if}}
    </nav>
    {{!-- Sheet Body --}}

    <section class="sheet-body">
        <div class="tab details" data-group="primary" data-tab="details">
        <div class="flexrow flex-group-center">
            <table>
                <tr>
                    <td>
                        <label class="resource-label">Slot</label>
                    </td>
                    <td>
                        <label class="resource-label">Cost</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <select name="system.cost" data-type="String">
                            {{#select item.system.cost}}
                            {{#each config.costTypes as |name type|}}
                            <option value="{{name}}">{{name}}</option>
                            {{/each}} {{/select}}
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <p></p>
        <h2>Description</h2>
        <div class="textAreaDescription"><textarea class="description"
            name="system.description" rows="10" cols="60">{{item.system.description}}</textarea></div>
        </div>
            {{> systems/eclipsephase/templates/actor/partials/effectsTab.html }}
    </section>
</form>
