<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Body --}}
    <section class="item-sheet-body">
        <div class="flexrow flex-group-center">
            <table>
                <tr>
                    <td><label class="resource-label">{{localize "ep2e.item.additionalSkill.table.nameLabel"}}</label></td>
                    <td><label class="resource-label">{{localize "ep2e.item.additionalSkill.table.valueLabel"}}</label></td>
                    {{#if item.system.isThreat}}
                    {{else}}
                    <td><label class="resource-label">{{localize "ep2e.item.additionalSkill.table.aptitudeLabel"}}</label></td>
                    {{/if}}
                    <td><label class="resource-label">{{localize "ep2e.item.additionalSkill.table.specLabel"}}</label></td>
                </tr>
                <tr>
                    <td><input type="text" name="name" value="{{item.name}}" placeholder="Skill name"/></td>
                    <td><input class="input-small" type="number"
                      name="system.value" value="{{item.system.value}}" data-dtype="Number" placeholder="0"/></td>
                    {{#if item.system.isThreat}}
                    {{else}}
                    <td><select class="input-XL" name="system.aptitude" data-type="String">
                        {{#select item.system.aptitude}}
                        {{#each config.aptitudes as |name key|}}
                        <option value="{{key}}">{{localize name}}</option>
                        {{/each}} {{/select}}
                    </select></td>
                    {{/if}}
                    <td><input class="input-large" type="text"
                      name="system.specname" value="{{item.system.specname}}" placeholder="Spec name"/></td>
                </tr>
            </table>
        </div>
    </section>
</form>
