<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="flexrow flex-group-center">
            <table>
                <tr>
                    <td>
                        <label class="resource-label">DV</label>
                    </td>
                    <td>
                        <label class="resource-label">Slot</label>
                    </td>
                    <td>
                        <label class="resource-label">Cost</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="input-large" type="text" name="data.dv" value="{{data.dv}}" placeholder="e.g. 1d10+1"/>
                    </td>
                    <td>
                        <select name="data.slotType" data-type="String">
                            {{#select data.slotType}}
                            {{#each config.weaponTypes as |name type|}}
                            <option value="{{name}}">{{name}}</option>
                            {{/each}} {{/select}}
                        </select>
                    </td>
                    <td>
                        <select name="data.cost" data-type="String">
                            {{#select data.cost}}
                            {{#each config.costTypes as |name type|}}
                            <option value="{{name}}">{{name}}</option>
                            {{/each}} {{/select}}
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <p></p>
        <h2>Notes</h2>
        <input type="text" name="data.description" value="{{data.description}}" placeholder="Long, Fixed, Silencer etc."/>
        <div class="flexrow flex-group-left">
            <label class="input-medium resource-label" for="data.selection" >Type</label>
            <select class="selectSpecApt item-standard-margin-medium" name="data.qualityType" data-type="String">
                {{#select data.qualityType}}
                {{#each config.qualityTypes as |name type|}}
                <option value="{{type}}">{{name}}</option>
                {{/each}} {{/select}}
            </select>
            <label class="input-large resource-label" for="data.statChange">Bonus/Malus</label>
            <input type="number" name="data.statChange" value="{{data.statChange}}" placeholder="Fake Name"/>
        </div>
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
    </section>
</form>
