<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="flexrow flex-group-center">
            <table>
                <tr>
                    <td><label class="resource-label">Name</label></td>
                    <td><label class="resource-label">Value</label></td>
                    <td><label class="resource-label">Aptitude</label></td>
                    <td><label class="resource-label">Specialization</label></td>
                </tr>
                <tr>
                    <td><input type="text" name="name" value="{{item.name}}" placeholder="Skill name"/></td>
                    <td><input class="input-small" type="number" name="data.value" value="{{data.data.value}}" data-dtype="Number" placeholder="0"/></td>
                    {{log "data within know skill " data}}
                    {{#if data.isThreat}}
                    {{else}}
                    <td><select class="input-XL" name="data.aptitude" data-type="String">
                        {{#select data.data.aptitude}}
                        {{#each config.knowAptitudes as |name type|}}
                        <option value="{{name}}">{{name}}</option>
                        {{/each}} {{/select}}
                    </select></td>
                    {{/if}}
                    <td><input class="input-large" type="text" name="data.specname" value="{{data.data.specname}}" placeholder="Spec name"/></td>
                </tr>
            </table>
        </div>
    </section>
</form>
