<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div class="grid grid-2col">
            </div>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="item-sheet-body">
        <div class="grid grid-2col">
            <div class="flexrow flex-group-left">
                <label class="resource-label input-medium">
                    <td><label class="resource-label">{{localize "ep2e.item.program.table.level.label"}}:</label>
                <select name="system.programLevel" data-type="String">
                    {{#select item.system.programLevel}}
                    {{#each config.programLevels as |name key|}}
                    <option value="{{key}}">{{localize name}}</option>
                    {{/each}} {{/select}}
                </select>
            </div>
        </div>
        <p></p>
        <h2>{{localize "ep2e.item.general.table.description"}}</h2>
        <div class="textAreaDescription"><textarea class="description" name="system.description" rows="10" cols="60" placeholder="{{localize 'ep2e.item.general.table.descriptionPlaceholder'}}">{{item.system.description}}</textarea></div>
    </section>
</form>
