<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="flexrow flex-group-center">
            <table>
                <tr>
                    <td>
                        <label class="resource-label">Type</label>
                    </td>
                    {{#if (eq item.system.type "Morph")}}
                    <td>
                        <label class="resource-label">Insight</label>
                    </td>
                    <td>
                        <label class="resource-label">Moxie</label>
                    </td>
                    {{/if}}
                    {{#if (eq item.system.type "Vehicle")}}
                    <td>
                        <label class="resource-label">Passengers</label>
                    </td>
                    {{/if}}
                    {{#if (eq item.system.type "Smart-Animal")}}
                    <td>
                        <label class="resource-label">Cog</label>
                    </td>
                    <td>
                        <label class="resource-label">Int</label>
                    </td>
                    <td>
                        <label class="resource-label">Ref</label>
                    </td>
                    <td>
                        <label class="resource-label">Sav</label>
                    </td>
                    <td>
                        <label class="resource-label">Som</label>
                    </td>
                    <td>
                        <label class="resource-label">Wil</label>
                    </td>
                    <td>
                        <label class="resource-label">Init</label>
                    </td>
                    <td>
                        <label class="resource-label">TV</label>
                    </td>
                    {{/if}}
                    {{#if (ne item.system.type "Smart-Animal")}}
                    <td>
                        <label class="resource-label">Vigor</label>
                    </td>
                    <td>
                        <label class="resource-label">Flex</label>
                    </td>
                    {{/if}}
                    <td>
                        <label class="resource-label">AV</label>
                    </td>
                    <td>
                        <label class="resource-label">DUR</label>
                    </td>
                    <td>
                        <label class="resource-label">Mov</label>
                    </td>
                    {{#if (ne item.system.type "Smart-Animal")}}
                    <td>
                        <label class="resource-label">Size</label>
                    </td>
                    {{/if}}
                    <td>
                        <label class="resource-label">Cost</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <select name="system.type" data-type="String">
                            {{#select item.system.type}}
                            {{#each config.vehicleType as |name type|}}
                            <option value="{{name}}">{{name}}</option>
                            {{/each}} {{/select}}
                        </select>
                    </td>
                    {{#if (eq item.system.type "Morph")}}
                    <td>
                        <input class="input-medium"type="number" name="system.ins" value="{{item.system.ins}}" placeholder="0"/>
                    </td>
                    <td>
                        <input class="input-medium" type="number" name="system.mox" value="{{item.system.mox}}" placeholder="0"/>
                    </td>
                    {{/if}}
                    {{#if (eq item.system.type "Vehicle")}}
                    <td>
                        <input class="input-medium"type="number" name="system.mox" value="{{item.system.mox}}" placeholder="0"/>
                    </td>
                    {{/if}}
                    {{#if (eq item.system.type "Smart-Animal")}}
                    <td>
                        <input class="input-medium"type="number" name="system.cog" value="{{item.system.cog}}" placeholder="0"/>
                    </td>
                    <td>
                        <input class="input-medium"type="number" name="system.int" value="{{item.system.int}}" placeholder="0"/>
                    </td>
                    <td>
                        <input class="input-medium"type="number" name="system.ref" value="{{item.system.ref}}" placeholder="0"/>
                    </td>
                    <td>
                        <input class="input-medium"type="number" name="system.sav" value="{{item.system.sav}}" placeholder="0"/>
                    </td>
                    <td>
                        <input class="input-medium"type="number" name="system.som" value="{{item.system.som}}" placeholder="0"/>
                    </td>
                    <td>
                        <input class="input-medium"type="number" name="system.wil" value="{{item.system.wil}}" placeholder="0"/>
                    </td>
                    <td>
                        <input class="input-medium"type="number" name="system.init" value="{{item.system.init}}" placeholder="0"/>
                    </td>
                    <td>
                        <input class="input-medium"type="number" name="system.threat" value="{{item.system.threat}}" placeholder="0"/>
                    </td>
                    {{/if}}
                    {{#if (ne item.system.type "Smart-Animal")}}
                    <td>
                        <input class="input-medium"type="number" name="system.vig" value="{{item.system.vig}}" placeholder="0"/>
                    </td>
                    <td>
                        <input class="input-medium"type="number" name="system.flex" value="{{item.system.flex}}" placeholder="0"/>
                    </td>
                    {{/if}}
                    <td>
                        <input class="input-medium alignCenter" type="text" name="system.armor" value="{{item.system.armor}}" placeholder="e.g. 2/2"/>
                    </td>
                    <td>
                        <input class="input-medium" type="number" name="system.dur" value="{{item.system.dur}}" placeholder="e.g. 20"/>
                    </td>
                    <td>
                        <input class="input-large" type="text" name="system.mov" value="{{item.system.mov}}" placeholder="e.g. 8/32 Rotor"/>
                    </td>
                    {{#if (ne item.system.type "Smart-Animal")}}
                    <td>
                        <select name="system.slotType" data-type="String">
                            {{#select item.system.slotType}}
                            {{#each config.vehicleSize as |name type|}}
                            <option value="{{name}}">{{name}}</option>
                            {{/each}} {{/select}}
                        </select>
                    </td>
                    {{/if}}
                    <td>
                        <select name="system.cost" data-type="String">
                            {{#select item.system.cost}}
                            {{#each config.costTypes as |name type|}}
                            <option value="{{name}}">{{name}}</option>
                            {{/each}} {{/select}}
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        {{#if (eq item.system.type "Smart-Animal")}}
        <h3 style="margin-top: 10px;">Skills</h3>
        <div class="grid grid-3col">
            {{#each item.system.skills as |skill key|}}
                <div class="flexrow flex-group-center reveal">
                    <label class="input-xs resource-value">{{key}}.</label>
                    <input type="text" name="system.skills.{{key}}.name" value="{{skill.name}}" placeholder="Skill Name"/>
                    <input class=" input-xs" type="number" name="system.skills.{{key}}.value" value="{{skill.value}}" data-dtype="Number" placeholder="0"/>
                    <input type="text" class="input-largeSpec" name="system.skills.{{key}}.specname" value="{{skill.specname}}" placeholder="Spec"/>
                </div>
            {{/each}}
        </div>
        {{/if}}
        <p></p>

        <h2>Description</h2>
        <div class="textAreaDescription"><textarea class="description"
                                                   name="system.description"
                                                   rows="10"
                                                   cols="60">{{item.system.description}}</textarea></div>
    </section>
</form>
