<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>
    <nav class="sheet-tabs itemnav tabs" data-group="primary">
        <a class="item" data-tab="details">Item Details</a>
        {{#if item.showEffectsTab}}
        <a class="item" data-tab="effects">Effects</a>
        {{/if}}
    </nav>
    {{!-- Sheet Body --}}

    <section class="sheet-body">
        <div class="tab details" data-group="primary" data-tab="details">

        <div class="flexrow flex-group-center">
            <table>
                <tr>
                    <td>
                    </td>
                    <td colspan="4">
                        <label class="resource-section-label">Application</label>
                    </td>                                  
                </tr>
                <tr>
                    <td>
                        <label class="resource-label">Category</label>
                    </td>
                    <td>
                        <label class="resource-sub-label">Dermal</label>
                    </td>
                    <td>
                        <label class="resource-sub-label">Inhalation</label>
                    </td>
                    <td>
                        <label class="resource-sub-label">Injection</label>
                    </td>
                    <td>
                        <label class="resource-sub-label">Oral</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <select name="system.category" data-type="String">
                            {{#select item.system.category}}
                            {{#each config.drugCategories as |name type|}}
                            <option value="{{name}}">{{name}}</option>
                            {{/each}} {{/select}}
                        </select>   
                    </td>
                    <td>
                        <input style="margin:auto; display:flex" type="checkbox"
                        class="sheet" name="system.dermal" {{checked item.system.dermal}}/>
                    </td>
                    <td>
                        <input style="margin:auto; display:flex" type="checkbox"
                                                                 class="sheet"
                                                                 name="system.inhalation"
                                                                 {{checked
                                                                 item.system.inhalation}}/>
                    </td>
                    <td>
                        <input style="margin:auto; display:flex" type="checkbox"
                                                                 class="sheet"
                                                                 name="system.injection"
                                                                 {{checked
                                                                 item.system.injection}}/>
                    </td>
                    <td>
                        <input style="margin:auto; display:flex" type="checkbox"
                                                                 class="sheet"
                                                                 name="system.oral"
                                                                 {{checked
                                                                 item.system.oral}}/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="resource-label">Type</label>
                    </td>
                    <td>
                        <label class="resource-label">Duration</label>
                    </td>
                    <td>
                        <label class="resource-label">Addiction Mod</label>
                    </td>
                    <td>
                        <label class="resource-label">Addiction Type</label>
                    </td>
                    <td>
                        <label class="resource-label">Cost</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <select name="system.drugType" data-type="String">
                            {{#select item.system.drugType}}
                            {{#each config.drugTypes as |name type|}}
                            <option value="{{name}}">{{name}}</option>
                            {{/each}} {{/select}}
                        </select>
                    </td>
                    <td>
                        <input class="input-large" type="text"
                                                   name="system.duration"
                                                   value="{{item.system.duration}}" placeholder="e.g. 1 hours"/>
                    </td>
                    <td>
                        <input class="input-large" type="text"
                                                   name="system.addictionMod"
                                                   value="{{item.system.addictionMod}}" placeholder="-10"/>  
                    </td>
                    <td>
                        <select name="system.addictionType" data-type="String">
                            {{#select item.system.addictionType}}
                            {{#each config.drugAddicitonTypes as |name type|}}
                            <option value="{{name}}">{{name}}</option>
                            {{/each}} {{/select}}
                        </select>
                    </td>
                    <td>
                        <select name="system.cost" data-type="String">
                            {{#select item.system.cost}}
                            {{#each config.costTypes as |name type|}}
                            <option value="{{name}}">{{name}}</option>
                            {{/each}} {{/select}}
                        </select>
                    </td>
                </tr>
             </table>
        </div>
        <p></p>
        <h2>Description</h2>
        <div class="textAreaDescription"><textarea class="description"
                                                   name="system.description"
                                                   rows="10"
                                                   cols="60">{{item.system.description}}</textarea></div>
    </div>
    {{> systems/eclipsephase/templates/actor/partials/effectsTab.html }}

    </section>
</form>
