<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>
    <nav class="sheet-tabs itemnav tabs" data-group="primary">
        <a class="item" data-tab="details">{{localize "ep2e.item.general.tabs.detailsTab"}}</a>
        <a class="item" data-tab="description">{{localize "ep2e.item.general.table.description"}}</a>
        {{#if item.showEffectsTab}}
        <a class="item" data-tab="effects">{{localize "ep2e.item.general.tabs.effectsTab"}}</a>
        {{/if}}
    </nav>
    {{!-- Sheet Body --}}
    <section class="item-sheet-body" style="min-height: 240px; height: fit-content;">
        <div class="tab details" data-group="primary" data-tab="details">

            <div class="flexrow flex-group-center">
                <table>
                    <tr>
                        <td>
                            <label class="resource-label">{{localize "ep2e.item.armor.table.energy"}}</label>
                        </td>
                        <td>
                            <label class="resource-label">{{localize "ep2e.item.armor.table.kinetic"}}</label>
                        </td>
                        <td>
                            <label class="resource-label">{{localize "ep2e.item.armor.table.type.label"}}</label>
                        </td>
                        <td>
                            <label class="resource-label">{{localize "ep2e.item.general.table.cost.label"}}</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="input-large alignCenter" type="text" name="system.energy" value="{{item.system.energy}}" placeholder="e.g. 10"/>
                        </td>
                        <td>
                            <input class="input-large alignCenter" type="text" name="system.kinetic" value="{{item.system.kinetic}}" placeholder="e.g. 10"/>
                        </td>
                        <td>
                            <select class="alignCenter" name="system.slotType" data-type="String">
                                {{selectOptions config.armorTypes selected=item.system.slotType localize=true}}
                            </select>
                        </td>
                        <td>
                            <select class="alignCenter" name="system.cost" data-type="String">
                                {{selectOptions config.costTypes selected=item.system.cost localize=true}}
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="tab description" data-group="primary" data-tab="description">
            <div class="textAreaDescription"><textarea class="description" name="system.description" rows="14" cols="60" placeholder="{{localize 'ep2e.item.general.table.descriptionPlaceholder'}}">{{item.system.description}}</textarea></div>
        </div>

            {{> systems/eclipsephase/templates/actor/partials/tabs/effects-tab.html }}
    </section>
</form>
