
<div class="itemBackground">
    {{#each actor.ccweapon as |item id|}}
    {{#if this.system.active}}
    <div class="item flexrow flex-group-center atHand reveal" data-item-id="{{item._id}}">
        <input class="sheet equipped checkBox"
        data-dtype="Boolean" data-item-id="{{item._id}}"
        type="checkbox" {{checked system.active}}>
        <div class="flexrow flex-group-center input-small">
            <img src="{{item.img}}" title="{{item.name}}" class="item-image flex-group-left input-small icon-small"/>
        </div>
        <input class="sheet-inline-edit" data-field="name" type="text" name="item.name" value="{{item.name}}" placeholder="{{localize 'ep2e.inventory.ccPlaceholder'}}" style="text-align: left; font-weight: bold"/>
        <label class="flex-group-center noMargin flex-group-center"><strong>{{localize item.system.slotType}}</strong></label>
        <h4 class="item-image flex-group-right noMargin" style="max-width: 145px;"><strong>{{item.system.dv}}</strong></h4>
        <div class="flex-group-right slideShow" style="max-width: 115px;">
            <a><i class="fas fa-plus icon-small"></i></a>
            <a class="noShow"><i class="fas fa-minus icon-small"></i></a>
        </div>
        <div class="item showMore descriptionContainer" data-item-id="{{item._id}}">
            <div class="itemDescription shape3">
                <input class="sheet-inline-edit"
                data-field="system.description" type="text"
                name="item.description" value="{{item.system.description}}" placeholder="No modifications"/>
            </div>
            <div class="flexrow flex-between item-controls">
                <a class="item-control item-delete resource-label editWithLabel" title="Delete Item"> {{localize "ep2e.actorSheet.button.delete"}} <i class="far fa-times-circle"></i></a>
                <a class="item-control item-edit resource-label editWithLabel alignRight" title="Edit Item"> {{localize "ep2e.actorSheet.button.edit"}} <i class="far fa-edit"></i></a>
            </div>
        </div>
    </div>
    {{else}}
    <div class="item flexrow flex-group-center offHand reveal weaponItem" data-item-id="{{item._id}}">
        <input class="sheet equipped checkBox"
        data-dtype="Boolean" data-item-id="{{item._id}}"
        type="checkbox" {{checked system.active}}>
        <div class="flexrow flex-group-center input-small">
            <img src="{{item.img}}" title="{{item.name}}" class="item-image flex-group-left input-small icon-small"/>
        </div>
        <input class="sheet-inline-edit" data-field="name" type="text" name="item.name" value="{{item.name}}" placeholder="{{localize 'ep2e.inventory.ccPlaceholder'}}" style="text-align: left; font-weight: bold"/>
        <label class="flex-group-center noMargin flex-group-center"><strong>{{localize item.system.slotType}}</strong></label>
        <h4 class="item-image flex-group-right noMargin" style="max-width: 145px;"><strong>{{item.system.dv}}</strong></h4>
        <div class="flex-group-right slideShow" style="max-width: 115px;">
            <a><i class="fas fa-plus icon-small"></i></a>
            <a class="noShow"><i class="fas fa-minus icon-small"></i></a>
        </div>
        <div class="item showMore descriptionContainer" data-item-id="{{item._id}}">
            <div class="itemDescription shape3">
                <input class="sheet-inline-edit" data-field="description" type="text" name="item.description" value="{{item.description}}" placeholder="No modifications"/>
            </div>
            <div class="flexrow flex-between item-controls">
                <a class="item-control item-delete resource-label editWithLabel" title="Delete Item"> {{localize "ep2e.actorSheet.button.delete"}} <i class="far fa-times-circle"></i></a>
                <a class="item-control item-edit resource-label editWithLabel alignRight" title="Edit Item"> {{localize "ep2e.actorSheet.button.edit"}} <i class="far fa-edit"></i></a>
            </div>
        </div>
    </div>
    {{/if}}
    {{/each}}
</div>
