<div class="grid grid-2col noMargin" style="gap: 0 10px;">
    {{#each actor.aspect.chi as |item id|}}
        <div class="item" style="margin-bottom: 10px;" data-item-id="{{item._id}}">
            <div class="flexrow subheader">
                <!--Name & Dice Roller-->
                <div class="flexrow flex-group-left reveal">
                    <h3 class="subheader truncate">
                        <img src="{{item.img}}" title="{{item.name}}" class="item-image input-small icon-small icon-space"/>
                        <span style="max-width: 200px; padding-right: 34px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{item.name}}</span>
                    </h3>
                </div>
                <!--Empty Area Left of the Sleight Name-->
                <div class="flexrow alignRight flexGrowQuarter reveal" style="align-items: center; justify-content: flex-end;" data-item-id="{{item._id}}">
                </div>
            </div>
            <!--Psi Details-->
            <div class="flexrow flex-group-center slideShow" style="min-width: 100%!important; background-color: var(--accentBackground);">
                <a class="showFlex">
                    <table>
                        <tr style="background-color: var(--accentBackground);">
                            <td style="padding-left: 15px; max-width: 20px;">
                                <i class="fa-solid fa-chevron-down awesomeIcon"></i>
                            </td>
                            <td style="width: 100%;">
                                <label class="resource-label">{{localize "ep2e.sideCar.moreToggle"}}</label>
                            </td>
                            <td style="padding-right: 25px; max-width: 20px;">
                                <i class="fa-solid fa-chevron-down awesomeIcon"></i>
                            </td>
                        </tr>
                    </table>
                </a>
                <a class="noShow flexrow">
                    <table>
                        <tr style="background-color: var(--accentBackground);">
                            <td style="padding-left: 15px; max-width: 20px;">
                                <i class="fa-solid fa-chevron-up awesomeIcon"></i>
                            </td>
                            <td style="width: 100%;">
                                <label class="resource-label">{{localize "ep2e.sideCar.lessToggle"}}</label>
                            </td>
                            <td style="padding-right: 25px; max-width: 20px;">
                                <i class="fa-solid fa-chevron-up awesomeIcon"></i>
                            </td>
                        </tr>
                    </table>
                </a>
            </div>
            <div class="item showMore noShow" data-item-id="{{item._id}}" data-item-name="{{item.name}}">
                {{#if item.system.description}}
                <div class="item" data-item-id="{{item._id}}">
                    <div class="itemDescription">
                        {{item.system.description}}
                    </div>
                </div>
                {{/if}}
                <div class="flexrow flex-between item-controls">
                    <a class="item-control item-delete resource-label editWithLabel" title="Delete Item"> {{localize "ep2e.actorSheet.button.delete"}} <i class="far fa-times-circle awesomeIcon"></i></a>
                    <a class="item-control item-edit resource-label editWithLabel alignRight" title="Edit Item"> {{localize "ep2e.actorSheet.button.edit"}} <i class="far fa-edit awesomeIcon"></i></a>
                </div>
            </div>
        </div>
    {{/each}}
</div>