
    <div class="itemBackground">
        <div class="grid grid-2col">
            {{#each actor.gear as |item id|}}
                <div>
                    {{#if this.system.active}}
                    <div class="item flexrow flex-group-center atHand" data-item-id="{{item._id}}" data-item-name="{{item.name}}">
                        <input class="sheet equipped checkBox" data-dtype="Boolean" data-item-id="{{item._id}}" type="checkbox" {{checked system.active}}>
                        <div class="item-image flex-group-left input-small"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                        <label class="truncate alignLeft" style="flex: 3.5;"><strong>{{item.name}}</strong></label>
                        <label class="flex-group-center alignCenter" style="background: none; font-size: 12px; flex: 0.4; margin-left: 10px;"><i>{{localize item.system.slotName}}</i></label>
                        <input class="input-small sheet-inline-edit" data-field="system.quantity" type="number" name="item.system.quantity" value="{{item.system.quantity}}" placeholder="0"/>
                        <div class="flexrow item-controls flex-group-right" style="max-width: 50px; min-width: 50px;">
                            <a class="item-control item-delete resource-label editWithLabel input-xs alignRight" title="Delete Item"><i class="far fa-times-circle"></i></a>
                            <a class="item-control item-edit resource-label editWithLabel  input-xs alignRight" title="Edit Item"><i class="far fa-edit"></i></a>
                        </div>
                        <div class="flex-group-right slideShow input-xs">
                            <a><i class="fas fa-plus icon-small"></i></a>
                            <a class="noShow"><i class="fas fa-minus icon-small"></i></a>
                        </div>
                        <div class="item showMore descriptionContainer" style="padding-bottom: 10px;">
                            <div class="itemDescription shape3">
                                {{item.system.description}}
                            </div>
                        </div>
                    </div>
                    {{else}}
                    <div class="item flexrow offHand flex-group-center" data-item-id="{{item._id}}" data-item-name="{{item.name}}">
                        <input class="sheet equipped checkBox" data-dtype="Boolean" data-item-id="{{item._id}}" type="checkbox" {{checked system.active}}>
                        <div class="item-image flex-group-left input-small"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                        <label class="truncate alignLeft" style="flex: 3.5;"><strong>{{item.name}}</strong></label>
                        <label class="flex-group-center alignCenter" style="background: none; font-size: 12px; flex: 0.4; margin-left: 10px;"><i>{{localize item.system.slotName}}</i></label>
                        <input class="input-small sheet-inline-edit" data-field="system.quantity" type="number" name="item.system.quantity" value="{{item.system.quantity}}" placeholder="0"/>
                        <div class="flexrow item-controls flex-group-right" style="max-width: 50px; min-width: 50px;">
                            <a class="item-control item-delete resource-label editWithLabel input-xs alignRight" title="Delete Item"><i class="far fa-times-circle"></i></a>
                            <a class="item-control item-edit resource-label editWithLabel  input-xs alignRight" title="Edit Item"><i class="far fa-edit"></i></a>
                        </div>
                        <div class="flex-group-right slideShow input-xs">
                            <a><i class="fas fa-plus icon-small"></i></a>
                            <a class="noShow"><i class="fas fa-minus icon-small"></i></a>
                        </div>
                        <div class="item showMore descriptionContainer" style="padding-bottom: 10px;">
                            <div class="itemDescription shape3">
                                {{item.system.description}}
                            </div>
                        </div>
                    </div>
                    {{/if}}
                </div>
                {{/each}}
            </div>
        </div>