<div class="itemBackground">
    {{#each actor.rangedWeapon as |item id|}}
    {{#if this.system.active}}
    <div class="item flexrow flex-group-center atHand reveal" data-item-id="{{item._id}}" data-item-name="{{item.name}}">
        <input class="sheet equipped checkBox" data-dtype="Boolean" data-item-id="{{item._id}}" type="checkbox" {{checked item.system.active}}>
        <div class="flexrow flex-group-center input-small">
            <img src="{{item.img}}" title="{{item.name}}" class="item-image flex-group-left input-small icon-small"/>
        </div>
        <input class="sheet-inline-edit" data-field="name" type="text" name="item.name" value="{{item.name}}" placeholder="{{localize 'ep2e.inventory.rangedPlaceholder'}}"   data-currentammo="{{item.system.ammoMin}}" data-maxammo="{{item.system.ammoMax}}" data-weaponid="{{item._id}}" style="text-align: left; font-weight: bold"/>
        <label class="labelWidth-large flex-group-center noMargin"><strong>{{localize item.system.firingModeLabel}}</strong></label>
        <label class="labelWidth-medium flex-group-center noMargin"><strong>{{item.system.range}}</strong></label>
        <label class="labelWidth-large flex-group-center noMargin"><strong>{{localize item.system.slotName}}</strong></label>
        <img src="systems/eclipsephase/resources/icons/ammo.png" class="icon-small" style="margin-right: 5px;"/>
        {{#if @root.isGM}}
            <input class="input-small sheet-inline-edit" data-field="system.ammoMin" type="number" name="item.system.ammoMin" value="{{item.system.ammoMin}}" placeholder="0"/>/
        {{else}}
            <label class="input-xs">{{item.system.ammoMin}}</label>/
        {{/if}}
        <h4 class="item-image flex-group-left input-small noMargin">
            <strong>{{item.system.ammoMax}}</strong>
        </h4>

        <h4 class="item-image flex-group-center input-medium noMargin"><strong>{{item.system.dv}}</strong></h4>
        <div class="flexrow item-controls flex-group-right" style="max-width: 50px;">
            <a class="item-control item-delete resource-label editWithLabel input-xs alignRight" title="Delete Item"><i class="far fa-times-circle awesomeIcon"></i></a>
            <a class="item-control item-edit resource-label editWithLabel  input-xs alignRight" title="Edit Item"><i class="far fa-edit awesomeIcon"></i></a>
        </div>
        <div class="flex-group-right slideShow input-xs">
            <a><i class="fas fa-plus icon-small awesomeIcon"></i></a>
            <a class="noShow"><i class="fas fa-minus icon-small awesomeIcon"></i></a>
        </div>
        <div class="item showMore descriptionContainer" style="padding-bottom: 10px;">
            <div class="itemDescription shape3">
                <input class="sheet-inline-edit"
                data-field="system.description" type="text"
                name="system.description" value="{{item.system.description}}" placeholder="No modifications"/>
            </div>
        </div>
    </div>
    {{else}}
    <div class="item flexrow flex-group-center offHand reveal" data-item-id="{{item._id}}" data-item-name="{{item.name}}">
        <input class="sheet equipped checkBox" data-dtype="Boolean" data-item-id="{{item._id}}" type="checkbox" {{checked item.system.active}}>
        <div class="flexrow flex-group-center input-small">
            <img src="{{item.img}}" title="{{item.name}}" class="item-image flex-group-left input-small icon-small"/>
        </div>
        <input class="sheet-inline-edit" data-field="name" type="text" name="item.name" value="{{item.name}}" placeholder="{{localize 'ep2e.inventory.rangedPlaceholder'}}" style="text-align: left; font-weight: bold"/>
        <label class="labelWidth-large flex-group-center noMargin"><strong>{{localize item.system.firingModeLabel}}</strong></label>
        <label class="labelWidth-medium flex-group-center noMargin"><strong>{{item.system.range}}</strong></label>
        <label class="labelWidth-large flex-group-center noMargin"><strong>{{localize item.system.slotName}}</strong></label>
        <img src="systems/eclipsephase/resources/icons/ammo.png" class="icon-small" style="margin-right: 5px;"/>
        {{#if  @root.isGM}}
            <input class="input-small sheet-inline-edit" data-field="system.ammoMin" type="number" name="item.system.ammoMin" value="{{item.system.ammoMin}}" placeholder="0"/>/
        {{else}}
            <label class="input-xs">{{item.system.ammoMin}}</label>/
        {{/if}}
        <h4 class="item-image flex-group-left input-small noMargin"><strong>{{item.system.ammoMax}}</strong></h4>
        <h4 class="item-image flex-group-center input-medium noMargin"><strong>{{item.system.dv}}</strong></h4>
        <div class="flexrow item-controls flex-group-right" style="max-width: 50px;">
            <a class="item-control item-delete resource-label editWithLabel input-xs alignRight" title="Delete Item"><i class="far fa-times-circle awesomeIcon"></i></a>
            <a class="item-control item-edit resource-label editWithLabel input-xs alignRight" title="Edit Item"><i class="far fa-edit awesomeIcon"></i></a>
        </div>
        <div class="flex-group-right slideShow input-xs">
            <a><i class="fas fa-plus icon-small awesomeIcon"></i></a>
            <a class="noShow"><i class="fas fa-minus icon-small awesomeIcon"></i></a>
        </div>
        <div class="item showMore descriptionContainer" style="padding-bottom: 10px;">
            <div class="itemDescription shape3">
                <input class="sheet-inline-edit"
                data-field="system.description" type="text" name="item.description" value="{{item.description}}" placeholder="No modifications"/>
            </div>
        </div>
    </div>
    {{/if}}
    {{/each}}
</div>